Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

fixed Generate model link and added a link to complete Home.js sample file
  src/fragments/start/getting-started/reactnative/integrate.mdx
  src/fragments/start/getting-started/reactnative/setup.mdx
Owners: @aws-amplify/amplify-sa

doc references and extra route
  generatePathMap.cjs.js
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

feat(android-mapview): improved mapview documentation and guides
  src/constants/versions.ts
  src/fragments/lib/geo/android/maps/20_display_map.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

Apply suggestions from code review
  src/fragments/lib/geo/android/maps/20_display_map.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

feat(android-mapview): improved mapview documentation and guides (#3867)
  src/constants/versions.ts
  src/fragments/lib/geo/android/maps/20_display_map.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

feat(geo): basic structure for geofences
  src/directory/directory.js
  src/fragments/lib/geo/js/geofences.mdx
  src/pages/lib/geo/geofences/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

chore: document public to specific layer permission transition using amplify cli
  src/pages/cli/function/layers.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(iOS): Add anonymous closure argument to DataStore.save() combine (#3852)
  src/fragments/lib/datastore/ios/data-access/save-snippet.mdx
  src/fragments/lib/datastore/ios/data-access/update-snippet.mdx
  src/fragments/lib/datastore/ios/getting-started/60_saveSnippet.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

improved screenshots
  public/images/flutterAuthenticator/flutter_authenticator_amplify_theme.png
  public/images/flutterAuthenticator/flutter_authenticator_amplify_theme_dark.png
  public/images/flutterAuthenticator/flutter_authenticator_custom_text_signin.png
  public/images/flutterAuthenticator/flutter_authenticator_custom_text_signup.png
  public/images/flutterAuthenticator/flutter_authenticator_english.png
  public/images/flutterAuthenticator/flutter_authenticator_red_theme.png
  public/images/flutterAuthenticator/flutter_authenticator_red_theme_dark.png
  public/images/flutterAuthenticator/flutter_authenticator_signin_base.png
  public/images/flutterAuthenticator/flutter_authenticator_signup_custom.png
  public/images/flutterAuthenticator/flutter_authenticator_spanish.png
Owners: none

feat(flutter): Flutter authenticator UI section (#3861)
  cspell.json
  generatePathMap.cjs.js
  public/images/flutterAuthenticator/flutter_authenticator_amplify_theme.png
  public/images/flutterAuthenticator/flutter_authenticator_amplify_theme_dark.png
  public/images/flutterAuthenticator/flutter_authenticator_custom_text_signin.png
  public/images/flutterAuthenticator/flutter_authenticator_custom_text_signup.png
  public/images/flutterAuthenticator/flutter_authenticator_english.png
  public/images/flutterAuthenticator/flutter_authenticator_red_theme.png
  public/images/flutterAuthenticator/flutter_authenticator_red_theme_dark.png
  public/images/flutterAuthenticator/flutter_authenticator_signin_base.png
  public/images/flutterAuthenticator/flutter_authenticator_signup_custom.png
  public/images/flutterAuthenticator/flutter_authenticator_spanish.png
  src/components/Menu/index.tsx
  src/directory/directory.js
  src/fragments/ui/auth/developer-preview-callout-flutter.mdx
  src/fragments/ui/auth/developer-preview-callout-js.mdx
  src/fragments/ui/auth/flutter/authenticator.mdx
  src/fragments/ui/flutter/installation.mdx
  src/pages/start/q/integration/[integration].mdx
  src/pages/ui/auth/authenticator/q/framework/[framework].mdx
  src/pages/ui/q/framework/[framework].mdx
  src/utils/filter-data.ts
Owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-flutter

fix: broken named anchor links (#3859)
  src/components/InternalLink/index.tsx
Owners: none

Added link to UI components. Fixed link for the example app.
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

add geofences to spell check words
  cspell.json
Owners: none

Update references to CRA
  src/fragments/guides/api-graphql/js/image-and-file-uploads.mdx
  src/fragments/guides/hosting/git-based-deployments.mdx
  src/fragments/guides/hosting/local-deployments.mdx
  src/fragments/guides/location-service/setting-up-your-app-js.mdx
  src/fragments/lib/datastore/js/getting-started/30_platformIntegration.mdx
  src/fragments/start/getting-started/react/setup.mdx
  src/fragments/ui-legacy/auth/react/tutorial.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa, @aws-amplify/amplify-js

Update references to CRA (#3874)
  src/fragments/guides/api-graphql/js/image-and-file-uploads.mdx
  src/fragments/guides/hosting/git-based-deployments.mdx
  src/fragments/guides/hosting/local-deployments.mdx
  src/fragments/guides/location-service/setting-up-your-app-js.mdx
  src/fragments/lib/datastore/js/getting-started/30_platformIntegration.mdx
  src/fragments/start/getting-started/react/setup.mdx
  src/fragments/ui-legacy/auth/react/tutorial.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa, @aws-amplify/amplify-js

fix(flutter): handles setting platform and framework to flutter
  src/utils/withFilterOverrides.ts
Owners: none

code commenting
  src/utils/withFilterOverrides.ts
Owners: none

fix: flutter libraries link
  src/utils/filter-data.ts
  src/utils/withFilterOverrides.ts
Owners: none

fix(flutter): handles setting platform and framework to flutter (#3875)
  src/utils/withFilterOverrides.ts
Owners: none

chore(geo): add geofence management ui docs
  public/images/geofence-management-app.png
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Revert "Update references to CRA (#3874)"
  src/fragments/guides/api-graphql/js/image-and-file-uploads.mdx
  src/fragments/guides/hosting/git-based-deployments.mdx
  src/fragments/guides/hosting/local-deployments.mdx
  src/fragments/guides/location-service/setting-up-your-app-js.mdx
  src/fragments/lib/datastore/js/getting-started/30_platformIntegration.mdx
  src/fragments/start/getting-started/react/setup.mdx
  src/fragments/ui-legacy/auth/react/tutorial.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa, @aws-amplify/amplify-js

docs: documentation for geo populate
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore(geo): change link in maps to CLI and not getting started
  src/fragments/lib/geo/js/maps.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

chore(geo): add developer preview to geofences
  src/directory/directory.js
Owners: none

docs(geo): add geofence CRUD API docs
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Storage override - accessing generated values
  src/pages/cli/storage/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

storage/override.mdx code formatting
  src/pages/cli/storage/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

storage/override spellcheck fix
  src/pages/cli/storage/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(geo-cli): add more info for Auth permissions granted
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

docs: documentation for geo populate (#3881)
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Use low-level SDK dependency instead of Amplify
  src/fragments/sdk/auth/android/hosted-ui.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

corrected override.ts file creation path
  src/pages/cli/graphql/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Apply suggestions from code review
  src/fragments/start/getting-started/reactnative/add-api.mdx
  src/fragments/start/getting-started/reactnative/build.mdx
  src/fragments/start/getting-started/reactnative/generate-model.mdx
Owners: @aws-amplify/amplify-sa

feat: @mapsTo docs
  src/directory/directory.js
  src/pages/cli/graphql/schema-evolution.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(datastore): fix DS example typo (#3891)
  src/fragments/lib/datastore/js/examples.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fix(flutter): fixes authenticator link
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

fix(flutter): fixes authenticator link (#3893)
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Add platform independent script for headless init
  src/pages/cli/usage/headless.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update headless.mdx
  src/pages/cli/usage/headless.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore: Auth iOS sign in with webUI Xcode 13 SwiftUI app URLScheme
  src/fragments/lib/auth/ios/signin_web_ui/20_platform_specific_setup.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
