Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @josefaidt, @hdworld11, @renebrandel, @dbanksdesign, @aspittel, @swaminator, @reesscot, @srquinn21, @Milan-Shah

update quickstart text for data manager (#7627)
  src/pages/[platform]/start/quickstart/index.mdx
  src/pages/[platform]/start/quickstart/nextjs-app-router-client-components/index.mdx
  src/pages/[platform]/start/quickstart/nextjs-pages-router/index.mdx
Owners: @aws-amplify/documentation-team

replace data manager image with mp4
  src/pages/[platform]/start/quickstart/index.mdx
  src/pages/[platform]/start/quickstart/nextjs-app-router-client-components/index.mdx
  src/pages/[platform]/start/quickstart/nextjs-pages-router/index.mdx
Owners: @aws-amplify/documentation-team

chore: add move back into vPrevious docs
  src/directory/directory.mjs
  src/fragments/lib-v1/storage/flutter/move.mdx
  src/pages/gen1/[platform]/prev/build-a-backend/storage/move/index.mdx
Owners: @aspittel, @swaminator, @renebrandel, @hdworld11, @aws-amplify/documentation-team

fix(swift): update signout code snippet
  src/fragments/lib/auth/ios/signout/10_local_signout.mdx
  src/pages/[platform]/build-a-backend/auth/connect-your-frontend/sign-out/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

chore: add redirect from previous move page to the vPrevious move page
  redirects.json
Owners: @aws-amplify/documentation-team

.github/CODEOWNERS:

* @aws-amplify/documentation-team 

#Other
/src/pages/gen1/[platform]/build-a-backend/existing-resources/ @josefaidt @hdworld11 @renebrandel @dbanksdesign 
/src/pages/gen1/[platform]/build-a-backend/functions/ @josefaidt
/src/pages/gen1/[platform]/how-amplify-works/ @aspittel
/src/pages/gen1/[platform]/sdk/api/ @hdworld11
/src/pages/gen1/[platform]/sdk/info @hdworld11
/src/pages/gen1/[platform]/sdk/configuration/ @hdworld11
/src/pages/[platform]/how-amplify-works/ @aspittel
/src/pages/[platform]/build-a-backend/functions/ @josefaidt
/src/pages/[platform]/build-a-backend/functions/ @josefaidt
/src/pages/[platform]/build-a-backend/add-aws-services/custom-resources/ @josefaidt @hdworld11 @renebrandel @dbanksdesign 
/src/pages/[platform]/build-a-backend/add-aws-services/delete-backup-resources/ @josefaidt @hdworld11 @renebrandel @dbanksdesign 
/src/pages/[platform]/build-a-backend/add-aws-services/environment-variables-and-secrets/ @swaminator @josefaidt
/src/pages/[platform]/build-a-backend/q-developer/ @arundna

#CLI
/src/fragments/cli/ @josefaidt
/src/pages/gen1/[platform]/tools/cli/ @josefaidt
/src/pages/gen1/[platform]/tools/cli-legacy/ @josefaidt
/src/pages/[platform]/reference/cli-commands/ @josefaidt

#Studio
/src/pages/gen1/[platform]/tools/console/ @dbanksdesign 
 
#Analytics
/src/fragments/**/analytics/ @hdworld11
/src/pages/gen1/[platform]/build-a-backend/more-features/analytics/ @hdworld11
/src/pages/gen1/[platform]/prev/build-a-backend/more-features/analytics/ @hdworld11
/src/pages/gen1/[platform]/sdk/analytics/ @hdworld11
/src/pages/[platform]/build-a-backend/add-aws-services/analytics/ @hdworld11
/src/pages/gen1/[platform]/build-a-backend/existing-resources/cli @hdworld11

#Auth
/src/fragments/**/auth/ @josefaidt
/src/pages/gen1/[platform]/build-a-backend/auth/ @josefaidt
/src/pages/gen1/[platform]/prev/build-a-backend/auth/ @josefaidt
/src/pages/gen1/[platform]/sdk/auth/ @josefaidt
/src/pages/gen1/[platform]/start/getting-started/auth/ @josefaidt
/src/pages/[platform]/build-a-backend/auth/ @josefaidt

#Client Configuration
/src/fragments/**/client-configuration @renebrandel @josefaidt @hdworld11
/src/fragments/**/configuration @renebrandel @josefaidt @hdworld11

#Common
/src/fragments/common @renebrandel @hdworld11 @josefaidt @dbanksdesign 
/src/fragments/**/common @renebrandel @hdworld11 @josefaidt @dbanksdesign 

#Data
/src/fragments/**/datastore @renebrandel
/src/pages/gen1/[platform]/build-a-backend/more-features/datastore @renebrandel
/src/pages/gen1/[platform]/prev/build-a-backend/more-features/datastore/ @renebrandel
/src/pages/[platform]/build-a-backend/data/ @renebrandel

#Debugging
/src/fragments/**/debugging @josefaidt
/src/pages/gen1/[platform]/build-a-backend/debugging/ @josefaidt
/src/pages/gen1/[platform]/prev/build-a-backend/debugging/ @josefaidt

#Geo
/src/fragments/**/geo @hdworld11
/src/pages/gen1/[platform]/build-a-backend/more-features/geo/ @hdworld11
/src/pages/gen1/[platform]/prev/build-a-backend/more-features/geo/ @hdworld11
/src/pages/[platform]/build-a-backend/add-aws-services/geo/ @hdworld11

#Getting Started
/src/fragments/start @aspittel
/src/fragments/gen2/quickstart/ @aspittel
/src/fragments/**/start/ @aspittel
/src/fragments/**/project-setup @aspittel
/src/pages/gen1/[platform]/prev/start/ @aspittel
/src/pages/gen1/[platform]/start/ @aspittel
/src/pages/[platform]/start/ @aspittel

#GraphQL API
/src/fragments/**/api-graphql @renebrandel
/src/fragments/**/graphqlapi @renebrandel
/src/fragments/sdk/api/**/graphql.mdx @renebrandel
/src/pages/gen1/[platform]/build-a-backend/functions/graphql-from-lambda/ @renebrandel
/src/pages/gen1/[platform]/build-a-backend/graphqlapi/ @renebrandel
/src/pages/gen1/[platform]/prev/build-a-backend/graphqlapi/ @renebrandel
/src/pages/gen1/[platform]/sdk/api/graphql/ @renebrandel

#In-App Messaging
/src/fragments/**/in-app-messaging @hdworld11
/src/pages/gen1/[platform]/build-a-backend/more-features/in-app-messaging/ @hdworld11
/src/pages/gen1/[platform]/prev/build-a-backend/more-features/in-app-messaging/ @hdworld11
/src/pages/[platform]/build-a-backend/add-aws-services/in-app-messaging/ @hdworld11

#Info
/src/fragments/**/info @renebrandel @hdworld11 @josefaidt @dbanksdesign

#Interactions
/src/fragments/**/interactions @josefaidt
/src/pages/gen1/[platform]/build-a-backend/more-features/interactions/ @josefaidt
/src/pages/gen1/[platform]/prev/build-a-backend/more-features/interactions/ @josefaidt
/src/pages/[platform]/build-a-backend/add-aws-services/interactions/ @josefaidt

#Logging
/src/fragments/**/logging @hdworld11 
/src/pages/gen1/[platform]/build-a-backend/more-features/logging/ @hdworld11 
/src/pages/[platform]/build-a-backend/add-aws-services/logging/ @hdworld11 

#Predictions
/src/fragments/**/predictions @hdworld11 @dbanksdesign
/src/pages/gen1/[platform]/build-a-backend/more-features/predictions/ @hdworld11 @dbanksdesign
/src/pages/gen1/[platform]/prev/build-a-backend/more-features/predictions/ @hdworld11 @dbanksdesign
/src/pages/[platform]/build-a-backend/add-aws-services/predictions/ @hdworld11 @dbanksdesign

#PubSub
/src/fragments/**/pubsub @renebrandel
/src/pages/gen1/[platform]/build-a-backend/more-features/pubsub/ @renebrandel
/src/pages/gen1/[platform]/prev/build-a-backend/more-features/pubsub/ @renebrandel
/src/pages/gen1/[platform]/sdk/pubsub/ @renebrandel
/src/pages/[platform]/build-a-backend/add-aws-services/pubsub/ @renebrandel

#Push Notifications
/src/fragments/**/push-notifications @hdworld11 @dbanksdesign
/src/pages/gen1/[platform]/build-a-backend/push-notifications/ @hdworld11 @dbanksdesign
/src/pages/gen1/[platform]/prev/build-a-backend/push-notifications/ @hdworld11 @dbanksdesign
/src/pages/gen1/[platform]/sdk/push-notifications/ @hdworld11 @dbanksdesign

#Rest API
/src/fragments/**/api-rest @josefaidt  
/src/fragments/**/restapi @josefaidt  
/src/fragments/sdk/api/**/rest.mdx @josefaidt 
/src/pages/gen1/[platform]/build-a-backend/restapi/ @josefaidt 
/src/pages/gen1/[platform]/prev/build-a-backend/restapi/ @josefaidt 
/src/pages/gen1/[platform]/sdk/api/rest/ @josefaidt 
/src/pages/[platform]/build-a-backend/add-aws-services/rest-api/ @josefaidt 

#SSR
/src/fragments/**/ssr @renebrandel @josefaidt @dbanksdesign
/src/pages/gen1/[platform]/build-a-backend/server-side-rendering/ @renebrandel @josefaidt @dbanksdesign
/src/pages/gen1/[platform]/prev/build-a-backend/server-side-rendering/ @renebrandel @josefaidt @dbanksdesign
/src/pages/[platform]/build-a-backend/server-side-rendering/ @renebrandel @josefaidt @dbanksdesign

#Storage
/src/fragments/**/storage @hdworld11
/src/pages/gen1/[platform]/build-a-backend/storage/ @hdworld11
/src/pages/gen1/[platform]/prev/build-a-backend/storage/ @hdworld11
/src/pages/gen1/[platform]/sdk/storage/ @hdworld11
/src/pages/[platform]/build-a-backend/storage/ @hdworld11

#Troubleshooting
/src/fragments/**/troubleshooting @josefaidt
/src/pages/gen1/[platform]/build-a-backend/troubleshooting/ @josefaidt
/src/pages/gen1/[platform]/prev/build-a-backend/troubleshooting/ @josefaidt
/src/pages/[platform]/build-a-backend/troubleshooting/ @josefaidt

#UI
/src/fragments/ui/auth/react/ @dbanksdesign
/src/pages/gen1/[platform]/build-ui/ @dbanksdesign
/src/pages/gen1/[platform]/prev/build-ui/ @dbanksdesign
/src/pages/[platform]/build-ui/ @dbanksdesign

#Utilities
/src/fragments/**/utilities @josefaidt
/src/pages/gen1/[platform]/build-a-backend/utilities/ @josefaidt
/src/pages/gen1/[platform]/prev/build-a-backend/utilities/ @josefaidt

#Deploy and Host 
/src/pages/gen1/[platform]/deploy-and-host/ @mauerbac
/src/pages/gen1/[platform]/prev/deploy-and-host/ @mauerbac
/src/pages/[platform]/deploy-and-host/ @mauerbac

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/data @aws-amplify/documentation-team
/src/directory  @aws-amplify/documentation-team
/src/directory/directory.mjs @aspittel @swaminator @renebrandel
/src/pages/contribute/ @aws-amplify/documentation-team
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team  
/src/pages/index.tsx @aws-amplify/documentation-team
/src/pages/**/index.tsx @aws-amplify/documentation-team
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team
/src/themes @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
/tasks @aws-amplify/documentation-team
.github @aws-amplify/documentation-team

#Protected Content
/src/protected @reesscot @srquinn21 @Milan-Shah @swaminator
