Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

update link script
  .github/workflows/check_pr_for_broken_links.yml
  tasks/link-checker.js
Owners: @aws-amplify/documentation-team

remove unused code
  .github/workflows/build.yml
  .github/workflows/check_for_broken_links.yml
  .github/workflows/check_pr_for_broken_links.yml
  tasks/check-links.mjs
Owners: @aws-amplify/documentation-team

add example breadcrumb
  src/components/Page/metaContent.tsx
Owners: @aws-amplify/documentation-team

Copyedit of subscribe to real-time events
  src/pages/lib/graphqlapi/mutate-data/q/platform/[platform].mdx
Owners: @renebrandel, @aws-amplify/documentation-team

initial commit
  cspell.json
  src/directory/directory.mjs
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/client-code-generation.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/overview.mdx
Owners: @aws-amplify/documentation-team, @josefaidt

remove cloudscape from dependencies
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

addressed al's comments
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/overview.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Added auth role documentation
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

fixed code samples
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

fixed typos
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

First part SSR guide
  src/pages/lib/auth/ssr/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Update package to remove deletion and yarnlock
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

Fix yarn to match
  yarn.lock
Owners: @aws-amplify/documentation-team

feat(api): iOS Android API GraphQL relational models pages
  src/directory/directory.mjs
  src/fragments/lib/graphqlapi/android/relational/delete-snippet.mdx
  src/fragments/lib/graphqlapi/android/relational/query-snippet.mdx
  src/fragments/lib/graphqlapi/android/relational/save-many-snippet.mdx
  src/fragments/lib/graphqlapi/android/relational/save-snippet.mdx
  src/fragments/lib/graphqlapi/android/relational/updated-schema.mdx
  src/fragments/lib/graphqlapi/ios/relational/delete-snippet.mdx
  src/fragments/lib/graphqlapi/ios/relational/query-snippet.mdx
  src/fragments/lib/graphqlapi/ios/relational/save-many-snippet.mdx
  src/fragments/lib/graphqlapi/ios/relational/save-snippet.mdx
  src/fragments/lib/graphqlapi/ios/relational/updated-schema.mdx
  src/fragments/lib/graphqlapi/native_common/relational.mdx
  src/pages/lib/graphqlapi/relational/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @renebrandel

update schema
  src/fragments/lib/graphqlapi/android/relational/updated-schema.mdx
  src/fragments/lib/graphqlapi/ios/relational/updated-schema.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

feat: added breadcrumb component for amplify docs
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Breadcrumbs/index.tsx
  src/components/Page/metaContent.tsx
  src/utils/generateBreadCrumbItems.ts
  src/utils/generatedCategories.ts
Owners: @aws-amplify/documentation-team

Add resolution for zod 3.22.3
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

Move page view event into Layout component (#5948)
  src/components/Layout/index.tsx
  src/components/Page/index.tsx
Owners: @aws-amplify/documentation-team

Updated `group` key name and fixed links
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

added iam fix reference
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Updates for SSR content
  src/pages/lib/auth/ssr/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Add resolution for zod 3.22.3 (#5958)
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

Upgrade next to 13.5.4
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

Upgrade next to 13.5.4 (#5961)
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

Add callout, update many-to-many schema
  src/fragments/lib/graphqlapi/android/relational/callout.mdx
  src/fragments/lib/graphqlapi/ios/relational/callout.mdx
  src/fragments/lib/graphqlapi/native_common/relational.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

update callout to point to migration guide for existing developers
  src/fragments/lib/graphqlapi/ios/relational/callout.mdx
  src/fragments/lib/graphqlapi/ios/relational/delete-snippet.mdx
  src/fragments/lib/graphqlapi/ios/relational/query-snippet.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

Add expander ID to event name
  src/utils/track.ts
Owners: @aws-amplify/documentation-team

final changes
  src/pages/lib/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Add expander ID to event name (#5963)
  src/utils/track.ts
Owners: @aws-amplify/documentation-team

Reuse the existing 'build' script
  package.json
Owners: @aws-amplify/documentation-team

Remove old and unused workspace
  package.json
Owners: @aws-amplify/documentation-team

Remove unused script for amplify lambda
  package.json
Owners: @aws-amplify/documentation-team

Create 'build:release' to build and optimize images
  amplify.yml
  package.json
Owners: @aws-amplify/documentation-team

Update build scripts (#5949)
  amplify.yml
  package.json
Owners: @aws-amplify/documentation-team

latest changes
  src/pages/lib/auth/manageusers/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

initial changes
  src/pages/lib/auth/password_management/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

fix condition conjunction typo (#5841)
  src/fragments/lib/auth/js/advanced.mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Adding custom resource error message when deployed from studio (#5924)
  src/pages/console/adminui/extend-cli.mdx
Owners: @wrpeck, @aws-amplify/documentation-team

add axios timeout
  tasks/link-checker.js
Owners: @aws-amplify/documentation-team

script and action to check for certain console errors
  .github/workflows/check_for_console_errors.yml
  tasks/console-errors.js
Owners: @aws-amplify/documentation-team

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557 @aws-amplify/documentation-team 
/src/pages/ @abdallahshaban557 @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/ @wrpeck @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @abdallahshaban557 @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @abdallahshaban557 @aws-amplify/documentation-team 
/src/**/**/authz @abdallahshaban557 @aws-amplify/documentation-team 
/src/**/**/authentication @abdallahshaban557 @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @abdallahshaban557 @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @abdallahshaban557 @aws-amplify/documentation-team 
/src/fragments/lib/common @abdallahshaban557 @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @abdallahshaban557 @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @abdallahshaban557 @aws-amplify/documentation-team 

#Getting Started
/src/**/start @abdallahshaban557 @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557 @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @abdallahshaban557 @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @abdallahshaban557 @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @abdallahshaban557 @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @abdallahshaban557 @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @abdallahshaban557 @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557 @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @renebrandel @aws-amplify/documentation-team 
/src/**/**/restapi @renebrandel @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @renebrandel @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @abdallahshaban557 @aws-amplify/documentation-team 

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
