Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign, @josefaidt, @hdworld11

Update description text for tools index
  src/pages/[platform]/tools/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update prev tools index
  src/pages/[platform]/prev/tools/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Add prev version library intro
  src/pages/[platform]/prev/tools/libraries/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update breadcrumbs prev configure categories
  src/pages/[platform]/prev/tools/libraries/configure-categories/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Edits to wording and formatting
  src/pages/[platform]/prev/tools/index.mdx
  src/pages/[platform]/prev/tools/libraries/configure-categories/index.mdx
  src/pages/[platform]/prev/tools/libraries/index.mdx
  src/pages/[platform]/tools/libraries/configure-categories/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: update link to identity-pools setup
  src/pages/[platform]/build-a-backend/auth/auth-migration-guide/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: update link to identity-pools setup (#6702)
  src/pages/[platform]/build-a-backend/auth/auth-migration-guide/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

remove improper "event" field within record API examples
  src/fragments/lib/analytics/js/autotrack/page-tracking.mdx
  src/pages/[platform]/build-a-backend/more-features/analytics/analytics-migration-guide/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

One last edit
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
Owners: @aws-amplify/documentation-team, @josefaidt

update vue auth example
  src/pages/gen2/build-a-backend/auth/set-up-auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add deletion protection and backup examples
  src/directory/directory.mjs
  src/pages/gen2/build-a-backend/add-aws-services/deletion-backup-resources/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign

add deletion protection and backup examples
  src/pages/gen2/build-a-backend/add-aws-services/deletion-backup-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Apply suggestions from code review
  src/pages/[platform]/prev/tools/index.mdx
  src/pages/[platform]/prev/tools/libraries/index.mdx
  src/pages/[platform]/tools/libraries/configure-categories/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Fix spelling error
  src/pages/[platform]/prev/tools/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Tools library config version (#6705)
  src/pages/[platform]/prev/tools/index.mdx
  src/pages/[platform]/prev/tools/libraries/configure-categories/index.mdx
  src/pages/[platform]/prev/tools/libraries/index.mdx
  src/pages/[platform]/tools/index.mdx
  src/pages/[platform]/tools/libraries/configure-categories/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Remove changes from custom resources page
  src/pages/gen2/build-a-backend/add-aws-services/custom-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Reverting changes to main
  src/pages/gen2/build-a-backend/add-aws-services/overriding-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Reverting changes to custom resources
  src/pages/gen2/build-a-backend/add-aws-services/custom-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update index.mdx
  src/pages/[platform]/build-a-backend/existing-resources/cdk/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Update src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Update src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Edits to Add any AWS service section of build a backend
  src/pages/gen2/build-a-backend/add-aws-services/custom-resources/index.mdx
  src/pages/gen2/build-a-backend/add-aws-services/overriding-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Fix autoSignIn position
  src/pages/[platform]/build-a-backend/auth/auth-migration-guide/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Edits to 'Add any AWS service' section
  src/pages/gen2/build-a-backend/add-aws-services/custom-resources/index.mdx
  src/pages/gen2/build-a-backend/add-aws-services/overriding-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Delete src/pages/[platform]/build-a-backend/existing-resources/cdk/index.mdx
  src/pages/[platform]/build-a-backend/existing-resources/cdk/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update directory.mjs
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

Adding new section and guide to build & connect backend (#6704)
  public/images/existing-resources/amplify-amplifyconfig-mobile-cli.png
  public/images/existing-resources/app-root-folder-web-cli.png
  public/images/existing-resources/app-vscode-mobile-cli.png
  public/images/existing-resources/app-vscode-web-cli.png
  public/images/existing-resources/connect-to-aws-web-cli.mp4
  public/images/existing-resources/dev-amplifyappid-mobile-cli.png
  public/images/existing-resources/dev-amplifyappid-web-cli.png
  public/images/existing-resources/graphql-web-cli.png
  public/images/existing-resources/lib-models-dart-mobile-cli.png
  public/images/existing-resources/publish-app-web-cli.png
  public/images/existing-resources/team-provider-info-mobile-cli.png
  public/images/existing-resources/team-provider-info-web-cli.png
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
  src/pages/[platform]/build-a-backend/existing-resources/index.mdx
Owners: @aws-amplify/documentation-team, @josefaidt, @renebrandel, @dbanksdesign

Edits to 'Add any AWS service' section (#6710)
  src/pages/gen2/build-a-backend/add-aws-services/custom-resources/index.mdx
  src/pages/gen2/build-a-backend/add-aws-services/overriding-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

al2023 build image usage instructions
  public/images/gen2/getting-started/console4.png
  src/pages/gen2/start/quickstart/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign

delete unused css file, update font weight
  src/styles/contribute-styles.scss
  src/styles/font-faces.scss
Owners: @aws-amplify/documentation-team

update link colors
  src/styles/banner.scss
  src/styles/overview.scss
Owners: @aws-amplify/documentation-team

remove light and thin font weights
  public/fonts/Amazon_Ember_Lt.ttf
  public/fonts/Amazon_Ember_LtIt.ttf
  public/fonts/Amazon_Ember_Th.ttf
  public/fonts/Amazon_Ember_ThIt.ttf
Owners: @aws-amplify/documentation-team

Make example links have code formatting so they don't get turn into links
  src/fragments/lib-v1/graphqlapi/existing-resources.mdx
  src/fragments/lib/graphqlapi/existing-resources.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Preload s_code
  src/pages/_app.tsx
Owners: @aws-amplify/documentation-team

Use prefetch for analytics scripts
  src/pages/_app.tsx
Owners: @aws-amplify/documentation-team

add suffix
  src/pages/gen2/build-a-backend/auth/set-up-auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add suffix
  src/pages/gen2/build-a-backend/auth/set-up-auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

remove improper "event" field within record API examples (#6703)
  src/fragments/lib/analytics/js/autotrack/page-tracking.mdx
  src/pages/[platform]/build-a-backend/more-features/analytics/analytics-migration-guide/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update examples
  src/pages/gen2/build-a-backend/add-aws-services/deletion-backup-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/pages/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/  @dbanksdesign  @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authz @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authentication @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/lib/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Getting Started
/src/**/start @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/restapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
