Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

additional detailed steps for attaching a policy
  public/images/lib/in-app-messaging/add-resource-arn.png
  public/images/lib/in-app-messaging/attach-a-policy.png
  public/images/lib/in-app-messaging/mobiletargeting-policy-attach.png
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/customize.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/customize.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/customize.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/overview.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/respond-interaction-events.mdx
  src/fragments/lib/in-app-messaging/js/respond-interaction-events.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Apply suggestions from code review
  src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/display-message.mdx
  src/fragments/lib/in-app-messaging/js/sync-messages.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Unique meta descriptions and formatting changes
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
  src/fragments/lib/in-app-messaging/js/overview.mdx
  src/pages/lib/in-app-messaging/clear-messages/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/create-campaigns/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/customize/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/display-message/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/getting-started/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/identify-user/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/prerequisites/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/resolve-conflicts/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/respond-interaction-events/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/sync-messages/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Apply suggestions from code review
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fixed the links
  src/fragments/start/getting-started/angular/data-model.mdx
  src/fragments/start/getting-started/next/api.mdx
  src/fragments/start/getting-started/next/setup.mdx
  src/fragments/start/getting-started/react/setup.mdx
Owners: @aws-amplify/amplify-sa

fixed the links
  src/fragments/guides/location-service/setting-up-your-app-js.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa

fix(iOS): Add Geo to next steps
  src/fragments/start/getting-started/ios/nextsteps.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Add Geo plugin in missing places
  public/images/project-setup/20_7_select-dependencies.png
  src/fragments/lib/project-setup/ios/create-application/20_install_libraries.mdx
  src/fragments/lib/project-setup/ios/use-existing-resources/use-existing-resources.mdx
  src/fragments/lib/project-setup/native_common/create-application/50_nextSteps.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Update pre-req to include minimum Xcode version
  src/fragments/lib/geo/ios/getting_started/10_pre_req.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Added clarification on when DS starts sync
  src/fragments/lib/datastore/native_common/sync.mdx
Owners: @aws-amplify/amplify-sa

rename onMapReady to getStyle following API changes
  src/fragments/lib/geo/android/maps/20_display_map.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

Alphabetize plugin / category lists
  src/fragments/lib/project-setup/ios/create-application/20_install_libraries.mdx
  src/fragments/lib/project-setup/ios/use-existing-resources/use-existing-resources.mdx
  src/fragments/lib/project-setup/native_common/create-application/50_nextSteps.mdx
  src/fragments/start/getting-started/ios/nextsteps.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Update src/fragments/start/getting-started/ios/nextsteps.mdx
  src/fragments/start/getting-started/ios/nextsteps.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Advocate for more restrictive ARN
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

changed wording on finding Pinpoint
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Initial draft for GraphQL Transformer v2 docs
  src/directory/directory.js
  src/pages/cli-legacy/graphql-transformer/auth.mdx
  src/pages/cli-legacy/graphql-transformer/codegen.mdx
  src/pages/cli-legacy/graphql-transformer/config-params.mdx
  src/pages/cli-legacy/graphql-transformer/connection.mdx
  src/pages/cli-legacy/graphql-transformer/dataaccess.mdx
  src/pages/cli-legacy/graphql-transformer/directives.mdx
  src/pages/cli-legacy/graphql-transformer/examples.mdx
  src/pages/cli-legacy/graphql-transformer/function.mdx
  src/pages/cli-legacy/graphql-transformer/http.mdx
  src/pages/cli-legacy/graphql-transformer/key.mdx
  src/pages/cli-legacy/graphql-transformer/model.mdx
  src/pages/cli-legacy/graphql-transformer/overview.mdx
  src/pages/cli-legacy/graphql-transformer/predictions.mdx
  src/pages/cli-legacy/graphql-transformer/relational.mdx
  src/pages/cli-legacy/graphql-transformer/resolvers.mdx
  src/pages/cli-legacy/graphql-transformer/searchable.mdx
  src/pages/cli-legacy/graphql-transformer/storage.mdx
  src/pages/cli-legacy/graphql-transformer/versioned.mdx
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/client-code-generation.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/examples-and-solutions.mdx
  src/pages/cli/graphql/offline-data-access-and-conflict-resolution.mdx
  src/pages/cli/graphql/override.mdx
  src/pages/cli/graphql/overview.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
  src/pages/cli/graphql/troubleshooting.mdx
  src/pages/cli/migration/graphql-transformer-v1-to-v2.mdx
Owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli

fixes typos
  cspell.json
  src/pages/cli/graphql/troubleshooting.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Moved examples around
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/examples-and-solutions.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

added opensearch pagination docs
  src/directory/directory.js
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

added "preview" to In-App messaging
  src/directory/directory.js
  src/fragments/lib/in-app-messaging/js/overview.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

version and cli instructions updates
  src/constants/versions.ts
  src/fragments/lib/geo/android/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/android/maps/20_display_map.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

made changes to the GetInAppMessages pinpoint steps
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

add @geo tag to CLI instructions
  src/fragments/lib/geo/android/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/android/maps/20_display_map.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

add exact flag for dep installation
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Make regional highlight and copy work
  src/components/Block/index.tsx
  src/components/CodeBlock/index.tsx
  src/components/CodeBlock/styles.tsx
  src/components/CodeBlockProvider/index.tsx
  src/plugins/code-block.tsx
Owners: none

Remove test text from mdx file
  src/fragments/lib/datastore/android/data-access/save-snippet.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

deleted screeshots. added new ones for GetInAppMessages
  public/images/lib/in-app-messaging/add-resource-arn.png
  public/images/lib/in-app-messaging/mobiletargeting-policy-attach.png
  public/images/lib/in-app-messaging/pinpoint-policy-action.png
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Revert "Edits to in app docs"
  public/images/lib/in-app-messaging/add-resource-arn.png
  public/images/lib/in-app-messaging/mobiletargeting-policy-attach.png
  public/images/lib/in-app-messaging/pinpoint-policy-action.png
  src/directory/directory.js
  src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

added accidentely deleted image
  public/images/lib/in-app-messaging/add-resource-arn.png
Owners: none

updated image
  public/images/lib/in-app-messaging/pinpoint-console-policy-action.png
  public/images/lib/in-app-messaging/pinpoint-policy-action.png
Owners: none

updated image link
  public/images/lib/in-app-messaging/attach-a-policy.png
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
