Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557
/src/pages/ @abdallahshaban557

#CLI
/src/**/cli/ @josefaidt

#Studio
/src/pages/console/ @wrpeck
 
#Analytics
/src/**/**/analytics @abdallahshaban557

#Auth
/src/**/**/auth @abdallahshaban557
/src/**/**/authz @abdallahshaban557
/src/**/**/authentication @abdallahshaban557

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11
/src/**/**/configuration @abdallahshaban557 @hdworld11

#Common
/src/fragments/common @abdallahshaban557
/src/fragments/lib/common @abdallahshaban557

#Data
/src/**/**/datastore @renebrandel
/src/**/**/data @renebrandel

#Debugging
/src/fragments/**/debugging @abdallahshaban557

#Geo
/src/**/**/geo @abdallahshaban557

#Getting Started
/src/**/start @abdallahshaban557

#GraphQL API
/src/**/**/api-graphql @renebrandel
/src/**/**/graphqlapi @renebrandel
/src/**/cli-legacy/graphql-transformer @renebrandel
/src/fragments/sdk/api/**/graphql.mdx @renebrandel

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557

#Info
/src/fragments/**/info @abdallahshaban557

#Interactions
/src/**/**/interactions @abdallahshaban557

#Logging
/src/fragments/lib/logging @abdallahshaban557

#Predictions
/src/**/**/predictions @abdallahshaban557

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11

#PubSub
/src/**/**/pubsub @abdallahshaban557

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557

#Rest API
/src/**/**/api-rest @renebrandel
/src/**/**/restapi @renebrandel
/src/fragments/sdk/api/**/rest.mdx @renebrandel

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel

#Storage
/src/**/**/storage @hdworld11

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel

#Utilities
/src/**/**/utilities @abdallahshaban557

#Docs Engineering
/src/components @aws-amplify/documentation-team 
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team

fixed merge conflict
  src/fragments/lib/auth/js/react-native-social.mdx
Owners: @abdallahshaban557

removed TKs + fixed links
  src/pages/lib/graphqlapi/connect/q/platform/[platform].mdx
Owners: @renebrandel

updated code snippets + typos
  src/pages/lib/graphqlapi/query-data/q/platform/[platform].mdx
Owners: @renebrandel

removed superfluous content
  src/pages/lib/graphqlapi/subscribe-data/q/platform/[platform].mdx
Owners: @renebrandel

fix(flutter/restapi): removes outdated android oidc disclaimer (#5923)
  src/fragments/lib-v1/restapi/flutter/authz.mdx
  src/fragments/lib/restapi/flutter/authz.mdx
Owners: @renebrandel

chore: PR cleanup feedback.
  src/fragments/lib-v1/storage/js/configureaccess.mdx
Owners: @hdworld11

chore: change getting started guide CORS screenshots.
  public/images/storage/CORS3.png
  public/images/storage/CORS4.png
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @aws-amplify/documentation-team, @hdworld11

chore: remove redundant information
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @hdworld11

Updated wording and small edits
  src/pages/lib/auth/password_management/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/fragments/lib/storage/js/getting-started.mdx
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @hdworld11

chore: add metadata to the steps
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @hdworld11

chore: add metadata in the in lib
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @hdworld11

chore: remove comments in json
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @hdworld11

fix(storage): add correct screenshots for CORS getting started guide (#5934)
  public/images/storage/CORS3.png
  public/images/storage/CORS4.png
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @aws-amplify/documentation-team, @hdworld11

chore: Clean up storage docs.
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/fragments/lib-v1/storage/js/configureaccess.mdx
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/existing-resources.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/fragments/lib-v1/storage/js/transfer-acceleration.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/pages/lib-v1/storage/existing-resources/q/platform/[platform].mdx
Owners: @abdallahshaban557, @hdworld11

Fixed spacing.
  src/fragments/lib-v1/storage/js/copy.mdx
Owners: @hdworld11

chore: Clean up storage docs (#5935)
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/fragments/lib-v1/storage/js/configureaccess.mdx
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/existing-resources.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/fragments/lib-v1/storage/js/transfer-acceleration.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/pages/lib-v1/storage/existing-resources/q/platform/[platform].mdx
Owners: @abdallahshaban557, @hdworld11

docs (js): Copyedited Set up Amplify Auth guide
  src/pages/lib/auth/getting-started/q/platform/[platform].mdx
Owners: @abdallahshaban557

Removed unused pages & fixed fragment errors.
  src/directory/directory.mjs
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/start/getting-started/reactnative/setup.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/fragments/lib-v1/storage/native_common/getting-started/common.mdx
  src/fragments/lib-v1/utilities/js/hub.mdx
  src/pages/lib-v1/analytics/create-custom-plugin/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/personalize/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/storing/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/streaming/q/platform/[platform].mdx
  src/pages/lib-v1/storage/copy/q/platform/[platform].mdx
  src/pages/lib-v1/storage/get-properties/q/platform/[platform].mdx
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/utilities/hub/q/platform/[platform].mdx
  src/pages/lib/storage/remove/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557, @hdworld11

Fix ordering.
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
Owners: @hdworld11

Fix import ordering.
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
Owners: @hdworld11

chore: Remove unused lib-v1 pages & cleanup errors in fragment imports. (#5937)
  src/directory/directory.mjs
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/start/getting-started/reactnative/setup.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/fragments/lib-v1/storage/native_common/getting-started/common.mdx
  src/fragments/lib-v1/utilities/js/hub.mdx
  src/pages/lib-v1/analytics/create-custom-plugin/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/personalize/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/storing/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/streaming/q/platform/[platform].mdx
  src/pages/lib-v1/storage/copy/q/platform/[platform].mdx
  src/pages/lib-v1/storage/get-properties/q/platform/[platform].mdx
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/utilities/hub/q/platform/[platform].mdx
  src/pages/lib/storage/remove/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557, @hdworld11

fix: broken links"
  src/fragments/lib/auth/js/react-native-social.mdx
  src/fragments/lib/utilities/serviceworker.mdx
Owners: @abdallahshaban557

Removed more single-use fragments.
  src/fragments/lib-v1/auth/common/mfa/flows.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/fetch_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/password_management/confirm_reset_password.mdx
  src/fragments/lib-v1/auth/js/password_management/reset_password.mdx
  src/fragments/lib-v1/auth/js/password_management/update_password.mdx
  src/fragments/lib-v1/auth/js/sign_in_steps/select_mfa.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_in.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_up.mdx
  src/fragments/lib-v1/auth/js/sms/sign_in.mdx
  src/fragments/lib-v1/auth/js/sms/sign_up.mdx
  src/fragments/lib-v1/auth/js/sms/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/totp/confirm_sign_in.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_authenticated.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_unauthenticated.mdx
  src/fragments/lib-v1/auth/js/totp/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/totp/verify_totp_authenticated.mdx
  src/fragments/lib-v1/auth/js/user_attributes/confirm_user_attribute.mdx
  src/fragments/lib-v1/auth/js/user_attributes/fetch_user_attributes.mdx
  src/fragments/lib-v1/auth/js/user_attributes/get_current_user.mdx
  src/fragments/lib-v1/auth/js/user_attributes/update_user_attributes.mdx
  src/pages/lib-v1/auth/manageusers/q/platform/[platform].mdx
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

Removed another fragment.
  src/fragments/lib-v1/auth/js/user_session/fetch_auth_session.mdx
Owners: @abdallahshaban557
