Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa

feat(ios-geo): Add iOS Geo Developer Preview
  src/directory/directory.js
  src/fragments/lib/geo/existing-resources.mdx
  src/fragments/lib/geo/ios/dev-preview-callout.mdx
  src/fragments/lib/geo/ios/existing-resources.mdx
  src/fragments/lib/geo/ios/getting_started/10_pre_req.mdx
  src/fragments/lib/geo/ios/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/ios/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/ios/getting_started/40_init_geo.mdx
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
  src/fragments/lib/geo/ios/maps/20_display_map.mdx
  src/fragments/lib/geo/ios/maps/30_styles.mdx
  src/fragments/lib/geo/native_common/getting_started/common.mdx
  src/fragments/lib/geo/native_common/maps/common.mdx
  src/pages/lib/geo/existing-resources/q/platform/[platform].mdx
  src/pages/lib/geo/getting-started/q/platform/[platform].mdx
  src/pages/lib/geo/maps/q/platform/[platform].mdx
  src/pages/lib/geo/search/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-sa, @aws-amplify/ios-team

[Android] Geo search API dev preview
  src/fragments/lib/geo/android/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/android/maps/10_install_adapter.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

update versions
  src/fragments/lib/geo/android/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/android/maps/10_install_adapter.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

feat(ios-geo): Update iOS Geo getting started for Xcode 13.
  src/fragments/lib/geo/ios/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

feat(ios-geo): Add iOS Geo Developer Preview Search API
  src/directory/directory.js
  src/fragments/lib/geo/ios/search/10_search_by_text.mdx
  src/fragments/lib/geo/ios/search/20_search_by_coordinates.mdx
  src/fragments/lib/geo/native_common/search/common.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

feat(ios-geo): Update map section for Amplify-MapLibre-iOS
  src/fragments/lib/geo/ios/maps/20_display_map.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

feat(ios-geo): Update iOS Geo maps docs for Amplify-MapLibre-iOS improvements.
  src/fragments/lib/geo/ios/maps/20_display_map.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Couple minor updates
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

removed UI docs for react, angular, vue, ionic, next
  src/directory/directory.js
  src/fragments/ui/vue/installation.mdx
  src/fragments/ui/web/installation.mdx
  src/pages/ui-legacy/auth/authenticator/q/framework/[framework].mdx
  src/pages/ui-legacy/q/framework/[framework].mdx
  src/pages/ui/q/framework/[framework].mdx
Owners: @aws-amplify/amplify-sa

added next docs
  src/fragments/ui/web/installation.mdx
  src/pages/ui/q/framework/[framework].mdx
Owners: @aws-amplify/amplify-sa

feat(ios): Add iOS Geo Maps and Search Developer Preview
  src/directory/directory.js
  src/fragments/lib/geo/existing-resources.mdx
  src/fragments/lib/geo/ios/dev-preview-callout.mdx
  src/fragments/lib/geo/ios/existing-resources.mdx
  src/fragments/lib/geo/ios/getting_started/10_pre_req.mdx
  src/fragments/lib/geo/ios/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/ios/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/ios/getting_started/40_init_geo.mdx
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
  src/fragments/lib/geo/ios/maps/20_display_map.mdx
  src/fragments/lib/geo/ios/maps/30_styles.mdx
  src/fragments/lib/geo/ios/search/10_search_by_text.mdx
  src/fragments/lib/geo/ios/search/20_search_by_coordinates.mdx
  src/fragments/lib/geo/native_common/getting_started/common.mdx
  src/fragments/lib/geo/native_common/maps/common.mdx
  src/fragments/lib/geo/native_common/search/common.mdx
  src/pages/lib/geo/existing-resources/q/platform/[platform].mdx
  src/pages/lib/geo/getting-started/q/platform/[platform].mdx
  src/pages/lib/geo/maps/q/platform/[platform].mdx
  src/pages/lib/geo/search/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-sa, @aws-amplify/ios-team

moved legacy docs as well
  src/directory/directory.js
  src/pages/ui-legacy/q/framework/[framework].mdx
Owners: @aws-amplify/amplify-sa

updated search docs
  src/fragments/lib/geo/ios/search/10_search_by_text.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Update installation.mdx
  src/fragments/ui/vue/installation.mdx
Owners: @aws-amplify/amplify-sa

Update src/pages/cli/hosting/hosting.mdx
  src/pages/cli/hosting/hosting.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore(updating hosting.mdx): add explicit redirect address (#3772)
  src/pages/cli/hosting/hosting.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Updated install
  src/fragments/ui/vue/installation.mdx
Owners: @aws-amplify/amplify-sa

added notes for cross-region deployments
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

applied PR comments
  src/fragments/lib/geo/ios/getting_started/20_cli_resources.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Spellcheck error fixed
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Apply suggestions from Chris code review
  src/directory/directory.js
  src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

feat(iOS): Add iOS Geo Category Maps and Search Developer Preview (#3790)
  src/directory/directory.js
  src/fragments/lib/geo/existing-resources.mdx
  src/fragments/lib/geo/ios/dev-preview-callout.mdx
  src/fragments/lib/geo/ios/existing-resources.mdx
  src/fragments/lib/geo/ios/getting_started/10_pre_req.mdx
  src/fragments/lib/geo/ios/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/ios/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/ios/getting_started/40_init_geo.mdx
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
  src/fragments/lib/geo/ios/maps/20_display_map.mdx
  src/fragments/lib/geo/ios/maps/30_styles.mdx
  src/fragments/lib/geo/ios/search/10_search_by_text.mdx
  src/fragments/lib/geo/ios/search/20_search_by_coordinates.mdx
  src/fragments/lib/geo/native_common/getting_started/common.mdx
  src/fragments/lib/geo/native_common/maps/common.mdx
  src/fragments/lib/geo/native_common/search/common.mdx
  src/pages/lib/geo/existing-resources/q/platform/[platform].mdx
  src/pages/lib/geo/getting-started/q/platform/[platform].mdx
  src/pages/lib/geo/maps/q/platform/[platform].mdx
  src/pages/lib/geo/search/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-sa, @aws-amplify/ios-team

create campaign Callout and minor changes
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

create campaign Callout and minor changes
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update export-to-cdk.mdx
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update ui-react references
  src/fragments/lib/auth/js/advanced.mdx
  src/fragments/lib/auth/js/getting-started.mdx
  src/fragments/start/getting-started/next/api.mdx
  src/fragments/start/getting-started/next/setup.mdx
  src/fragments/start/getting-started/react/setup.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update ui-angular references
  src/fragments/lib/auth/js/getting-started.mdx
  src/fragments/start/getting-started/angular/setup.mdx
  src/fragments/start/getting-started/ionic/setup.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Apply suggestions from caleb's code review
  src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update UI references to v1 (#3796)
  src/fragments/lib/auth/js/advanced.mdx
  src/fragments/lib/auth/js/getting-started.mdx
  src/fragments/start/getting-started/angular/setup.mdx
  src/fragments/start/getting-started/ionic/setup.mdx
  src/fragments/start/getting-started/next/api.mdx
  src/fragments/start/getting-started/next/setup.mdx
  src/fragments/start/getting-started/react/setup.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

added In-App Messages to next step and closing tag for code block
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/start/getting-started/reactnative/nextsteps.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Callout for SVG Image support for in-app message
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Added information regarding default number of messages shown per session
  public/images/lib/in-app-messaging/campaign-settings.png
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Add support for copyable regions
  src/components/BlockSwitcher/index.tsx
  src/components/CodeBlock/index.tsx
  src/components/CodeBlock/styles.tsx
  src/plugins/code-block.tsx
Owners: none

feat(Android): update MapLibre docs for Developer Preview launch
  src/fragments/lib/geo/android/maps/10_install_adapter.mdx
  src/fragments/lib/geo/android/maps/20_display_map.mdx
  src/fragments/lib/geo/android/maps/30_styles.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

couple of minor updates
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/clear-messages.mdx
  src/fragments/lib/in-app-messaging/js/clear-messages.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa
