Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

updates for authenticator
  public/images/lib/getting-started/flutter/authenticator_Amplify_theme_flutter_signin.png
  public/images/lib/getting-started/flutter/authenticator_dark_theme_flutter_signin.png
  public/images/lib/getting-started/flutter/red_authenticator_flutter.png
  src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/lib/auth/flutter/getting_started/50_fetchSession.mdx
  src/fragments/lib/auth/native_common/getting_started/common.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Updates based on Jordan's comments
  src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Added comments from Dustin
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
  src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
  src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update Next.js tutorial to use new Authenticator
  src/fragments/start/getting-started/next/api.mdx
  src/fragments/start/getting-started/next/setup.mdx
Owners: @aws-amplify/amplify-sa

unstyled isn't a word
  src/fragments/start/getting-started/next/api.mdx
Owners: @aws-amplify/amplify-sa

Update Authentication Getting Started to use new UI components
  src/fragments/lib/auth/js/getting-started.mdx
  src/fragments/ui/auth/react/withauthenticator.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
  src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

addressed changes based on Dustin/Dillon comments
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

fix: Add anonymous closure argument to DataStore.save() combine
  src/fragments/lib/datastore/ios/data-access/save-snippet.mdx
  src/fragments/lib/datastore/ios/data-access/update-snippet.mdx
  src/fragments/lib/datastore/ios/getting-started/60_saveSnippet.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

fix(cli): incorrect path to overrides.ts
  src/pages/cli/graphql/override.mdx
  src/pages/cli/restapi/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

slimmed changes in quickstart guide - and updated option 1 title
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

add @react-native-picker/picker to aws-amplify-react-native install steps (#3745)
  src/fragments/lib/auth/js/react-native-withoauth.mdx
  src/fragments/lib/auth/js/start.mdx
  src/fragments/lib/datastore/js/getting-started/30_platformIntegration.mdx
  src/fragments/start/getting-started/reactnative/getting-started-steps-ui.mdx
  src/fragments/ui-legacy/auth/react-native/overview.mdx
  src/fragments/ui-legacy/auth/react/tutorial.mdx
  src/fragments/ui-legacy/react-native/overview.mdx
  src/fragments/ui/react-native/installation.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Revamped React Native Getting Started Guide
  cspell.json
  public/images/lib/getting-started/reactnative/add-api-add-authentication-deploy.png
  public/images/lib/getting-started/reactnative/add-api-add-authentication-deployment-successful.png
  public/images/lib/getting-started/reactnative/add-api-add-authentication-sidebar.png
  public/images/lib/getting-started/reactnative/add-api-verify-sync-create-todo.png
  public/images/lib/getting-started/reactnative/add-api-verify-sync-inspect-items.png
  public/images/lib/getting-started/reactnative/add-api-verify-sync-save-todo.png
  public/images/lib/getting-started/reactnative/add-api-verify-sync-sidebar.png
  public/images/lib/getting-started/reactnative/connect-to-cloud-create-app-backend.png
  public/images/lib/getting-started/reactnative/connect-to-cloud-open-admin-ui.png
  public/images/lib/getting-started/reactnative/generate-model-admin-ui-create.png
  public/images/lib/getting-started/reactnative/generate-model-admin-ui-isComplete-field.png
  public/images/lib/getting-started/reactnative/set-up-xcode-deployment-target.png
  src/directory/directory.js
  src/fragments/start/getting-started/reactnative/add-api.mdx
  src/fragments/start/getting-started/reactnative/api.mdx
  src/fragments/start/getting-started/reactnative/auth.mdx
  src/fragments/start/getting-started/reactnative/build.mdx
  src/fragments/start/getting-started/reactnative/generate-model.mdx
  src/fragments/start/getting-started/reactnative/getting-started-steps-ui.mdx
  src/fragments/start/getting-started/reactnative/integrate.mdx
  src/fragments/start/getting-started/reactnative/setup.mdx
  src/pages/start/getting-started/add-api/q/integration/[integration].mdx
  src/pages/start/getting-started/auth/q/integration/[integration].mdx
  src/pages/start/getting-started/data-model/q/integration/[integration].mdx
  src/pages/start/getting-started/generate-model/q/integration/[integration].mdx
  src/pages/start/getting-started/integrate/q/integration/[integration].mdx
Owners: @aws-amplify/amplify-sa

removed commented out sections
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update setup.mdx
  src/fragments/start/getting-started/react/setup.mdx
Owners: @aws-amplify/amplify-sa

fix: broken named anchor links
  src/components/InternalLink/index.tsx
Owners: none

chore: update observe query docs
  src/fragments/lib/datastore/native_common/real-time.mdx
Owners: @aws-amplify/amplify-sa

chore: formatting
  src/fragments/lib/datastore/native_common/real-time.mdx
Owners: @aws-amplify/amplify-sa

feat(flutter): adds ui section for flutter/authenticator
  public/images/flutterAuthenticator/flutter_authenticator_custom_text_signin.png
  public/images/flutterAuthenticator/flutter_authenticator_custom_text_signup.png
  public/images/flutterAuthenticator/flutter_authenticator_english.png
  public/images/flutterAuthenticator/flutter_authenticator_red_theme.png
  public/images/flutterAuthenticator/flutter_authenticator_red_theme_dark.png
  public/images/flutterAuthenticator/flutter_authenticator_signin_base.png
  public/images/flutterAuthenticator/flutter_authenticator_signup_custom.png
  public/images/flutterAuthenticator/flutter_authenticator_spanish.png
  src/directory/directory.js
  src/fragments/ui/auth/developer-preview-callout-flutter.mdx
  src/fragments/ui/auth/developer-preview-callout-js.mdx
  src/fragments/ui/auth/flutter/authenticator.mdx
  src/pages/start/q/integration/[integration].mdx
  src/pages/ui/auth/authenticator/q/framework/[framework].mdx
  src/pages/ui/q/framework/[framework].mdx
  src/utils/filter-data.ts
Owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-flutter

updates spelling
  cspell.json
Owners: none

updates to Amplify Authentcator name
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

chore: update based on pr feedback
  src/fragments/lib/datastore/native_common/real-time.mdx
Owners: @aws-amplify/amplify-sa

chore: fix grammar mistake
  src/fragments/lib/datastore/native_common/real-time.mdx
Owners: @aws-amplify/amplify-sa

PR suggestions 1
  public/images/flutterAuthenticator/flutter_authenticator_amplify_theme.png
  public/images/flutterAuthenticator/flutter_authenticator_amplify_theme_dark.png
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Amplify-Flutter Authenticator -> Amplify Authenticator
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

chore: update observeQuery docs (#3860)
  src/fragments/lib/datastore/native_common/real-time.mdx
Owners: @aws-amplify/amplify-sa

update version number to reference RC
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

removes legacy route for flutter; adds installation doc
  src/components/Menu/index.tsx
  src/fragments/ui/flutter/installation.mdx
  src/pages/ui/q/framework/[framework].mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Apply suggestions from Abdallah's code review
  src/fragments/start/getting-started/reactnative/integrate.mdx
Owners: @aws-amplify/amplify-sa

Update src/fragments/lib/auth/native_common/getting_started/common.mdx
  src/fragments/lib/auth/native_common/getting_started/common.mdx
Owners: @aws-amplify/amplify-sa

Updated all remaining Admin UI references to Amplify Studio
  src/fragments/lib/geo/existing-resources.mdx
  src/fragments/start/getting-started/android/add-api.mdx
  src/fragments/start/getting-started/android/generate-model.mdx
  src/fragments/start/getting-started/flutter/add-api.mdx
  src/fragments/start/getting-started/flutter/generate-model.mdx
  src/pages/cli-legacy/graphql-transformer/connection.mdx
  src/pages/cli/project/command-hooks.mdx
  src/pages/cli/q/integration/[integration].mdx
  src/pages/cli/start/workflows.mdx
  src/pages/console/adminui/start.mdx
  src/pages/console/auth/authentication.mdx
  src/pages/console/auth/import.mdx
  src/pages/console/authz/authorization.mdx
  src/pages/console/data/data-model.mdx
  src/pages/console/storage/file-browser.mdx
  src/pages/console/storage/file-storage.mdx
  src/pages/index.tsx
  src/pages/start/q/integration/[integration].mdx
Owners: @aws-amplify/amplify-sa, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/amplify-cli, @aws-amplify/amplify-console

Update src/fragments/lib/auth/native_common/getting_started/common.mdx
  src/fragments/lib/auth/native_common/getting_started/common.mdx
Owners: @aws-amplify/amplify-sa

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
