Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

fix(geo-cli): update wording for pricing plan updates for maps, search
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

add install instructions for cli
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

auth/delete_user
  src/directory/directory.js
  src/fragments/lib/auth/flutter/delete_user/10_delete_user.mdx
  src/fragments/lib/auth/flutter/hub_events/10_listen_events.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
  src/pages/lib/auth/delete_user/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

add instructions to find the pricing plan
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Possible typo in the AWS Amplify PubSub docs
  src/fragments/lib/pubsub/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update: add details to GraphQL docs
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/client-code-generation.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Apply suggestions from code review
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/client-code-generation.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(geo-cli): add amplify-meta screenshots
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(geo-cli): correct casing
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

[Do not merge] Add callout for pricing plan changes (#3917)
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update allowed field auth on custom queries
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Add callout about calling DataStore.clear() when using auth
  src/fragments/lib/datastore/native_common/setup-auth-rules.mdx
Owners: @aws-amplify/amplify-sa

Make the callout reusable fragment
  src/fragments/lib/datastore/native_common/callout/datastore-clear-with-auth.mdx
  src/fragments/lib/datastore/native_common/other-methods.mdx
  src/fragments/lib/datastore/native_common/setup-auth-rules.mdx
Owners: @aws-amplify/amplify-sa

auth/delete_user
  src/directory/directory.js
  src/fragments/lib/auth/flutter/delete_user/10_delete_user.mdx
  src/fragments/lib/auth/flutter/hub_events/10_listen_events.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
  src/pages/lib/auth/delete_user/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

combined flutter and ios docs
  src/directory/directory.js
  src/fragments/lib/auth/ios/delete_user/10_delete_user.mdx
  src/fragments/lib/auth/ios/hub_events/10_listen_events.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
  src/pages/lib/auth/delete_user/q/platform/[platform].mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

fix: remove typo in docs
  src/pages/cli/custom/cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Updated Searchable docs with geo query instructions
  src/pages/cli/graphql/search-and-result-aggregations.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Fix: set GQL how it works sections consistently H2
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

add clarification to stack mapping
  src/pages/cli/graphql/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update common.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
Owners: @aws-amplify/amplify-sa

docs(api): update docker example for container secrets
  src/pages/cli/usage/containers.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Bump version to 0.3.0
  src/fragments/lib/analytics/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/analytics/flutter/getting-started/30_initAnalytics.mdx
  src/fragments/lib/auth/flutter/getting_started/20_installLib.mdx
  src/fragments/lib/datastore/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/datastore/flutter/getting-started/50_initDataStore.mdx
  src/fragments/lib/datastore/flutter/getting-started/60_initDataStore.mdx
  src/fragments/lib/datastore/flutter/sync/10-installPlugin.mdx
  src/fragments/lib/flutter.mdx
  src/fragments/lib/graphqlapi/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/graphqlapi/flutter/getting-started/30_initapi.mdx
  src/fragments/lib/project-setup/flutter/create-application/20_pubspec.mdx
  src/fragments/lib/project-setup/flutter/create-application/40_verifyAmplifyLibraries.mdx
  src/fragments/lib/restapi/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/restapi/flutter/getting-started/30_initapi.mdx
  src/fragments/lib/storage/flutter/getting-started/20_installLib.mdx
  src/fragments/start/getting-started/flutter/add-api.mdx
  src/fragments/start/getting-started/flutter/integrate.mdx
  src/fragments/start/getting-started/flutter/setup.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update API docs
  src/fragments/lib/graphqlapi/flutter/subscribe-data.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Add DataStore callout
  src/fragments/lib/datastore/flutter/getting-started/10_preReq.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Fix grammar
  src/fragments/lib/graphqlapi/flutter/subscribe-data.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

fix: native libraries auth rules documentation - Fix links to CLI documenation - Align wording with CLI documentation - Update example following deny-by-default principle
  src/fragments/lib/datastore/native_common/setup-auth-rules.mdx
Owners: @aws-amplify/amplify-sa

Expand on existing override docs for REST APIs
  src/pages/cli/restapi/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/restapi/override.mdx
  src/pages/cli/restapi/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore(geo): update geofence API links, update map display docs to use vended css file
  cspell.json
  src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/maps.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

add unsubscribe & use CognitoHostedUIIdentityProvider enum
  src/fragments/lib/auth/js/social.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update social.mdx
  src/fragments/lib/auth/js/social.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Remove redundant info
  src/fragments/lib/datastore/native_common/setup-auth-rules.mdx
Owners: @aws-amplify/amplify-sa

feat(Storage): PrefixResolver on iOS
  src/fragments/lib/storage/ios/configureaccess/50_customization.mdx
  src/fragments/lib/storage/native_common/configureaccess/common.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

address PR comments
  src/fragments/lib/storage/ios/configureaccess/50_customization.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Update deep link and callout tag
  src/fragments/lib/storage/ios/configureaccess/50_customization.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

updated bugs found while implementation (#3786)
  src/fragments/lib/graphqlapi/android/query-data.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

(chore) Place holder troubleshooting link in docs to refer from CLI push errors
  src/directory/directory.js
  src/pages/cli/project/troubleshooting.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

feat(amplify-js): adding javascript documentation for the deleteUser feature
  src/directory/directory.js
  src/fragments/lib/auth/js/delete_user/10_delete_user.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
  src/pages/lib/auth/delete_user/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Small update - wrong function name was used for configuring Amplify
  src/fragments/start/getting-started/flutter/add-api.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Adding recommendation for deleting user data
  src/fragments/lib/auth/native_common/delete_user/common.mdx
Owners: @aws-amplify/amplify-sa

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
