Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa

fix: missing "]" (#3825)
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix: spell check errors
  cspell.json
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix:hidden footer text (#3818)
  src/components/SidebarLayoutToggle/styles.tsx
Owners: none

[Android] add geo escape hatch instructions (#3820)
  src/directory/directory.js
  src/fragments/lib/geo/android/escapehatch.mdx
  src/pages/lib/geo/escapehatch/q/platform/[platform].mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

chore(geo): add note about how to create a map with a classname
  src/fragments/lib/geo/js/maps.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fixed the links (#3798)
  src/fragments/guides/location-service/setting-up-your-app-js.mdx
  src/fragments/start/getting-started/angular/data-model.mdx
  src/fragments/start/getting-started/next/api.mdx
  src/fragments/start/getting-started/next/setup.mdx
  src/fragments/start/getting-started/react/setup.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa

fix(geo-cli-docs): add why auth is needed for maps and search functionality
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore(geo): add note about how to create a map with a classname (#3833)
  src/fragments/lib/geo/js/maps.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

added docs for missing queryField info
  src/pages/cli/graphql/data-modeling.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

added steps
  src/fragments/guides/location-service/setting-up-your-app-js.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa

Add escape hatch documentation to Geo iOS
  src/directory/directory.js
  src/fragments/lib/geo/ios/escapehatch.mdx
  src/pages/lib/geo/escapehatch/q/platform/[platform].mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Update escapehatch wording
  src/fragments/lib/geo/ios/escapehatch.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Add CLI steps for geo
  src/fragments/lib/geo/android/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/android/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/android/getting_started/40_init_geo.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

fix typo
  src/fragments/lib/geo/android/getting_started/30_install_lib.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

add new word to cspell
  cspell.json
Owners: none

chore: add callout for gql transformer v2 migrations on cli upgrade
  src/pages/cli/start/workflows.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore: update customer transformer page to gql v2
  src/fragments/cli/plugins/custom-transformer.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

feat(iOS): Add escape hatch documentation for Geo (#3838)
  src/directory/directory.js
  src/fragments/lib/geo/ios/escapehatch.mdx
  src/pages/lib/geo/escapehatch/q/platform/[platform].mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

fix(geo-cli): rewording
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Add why auth is needed for maps and search functionality (#3834)
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

changes
  public/images/console/ui-collections-databind.png
  public/images/console/ui-collections-dynamicquery.png
  public/images/console/ui-collections-layout.png
  public/images/console/ui-collections-specific.png
  public/images/console/ui-component-editor.png
  public/images/console/ui-concat.png
  public/images/console/ui-conditional.png
  public/images/console/ui-figma-file.png
  public/images/console/ui-figma-sync.png
  public/images/console/ui-figma-to-studio.png
  public/images/console/ui-figmatocode.png
  public/images/console/ui-front-to-back.png
  public/images/console/ui-getcomponent-code.png
  public/images/console/ui-getcomponent-code2.png
  public/images/console/ui-override.png
  public/images/console/ui-shuffle.gif
  public/images/console/ui-staticbind.png
  public/images/console/ui-staticbind2.png
  src/components/Menu/index.tsx
  src/components/SecondaryNav/index.tsx
  src/constants/links.ts
  src/directory/directory.js
  src/fragments/pull-cli-studio.mdx
  src/pages/console/adminui/extend-cli.mdx
  src/pages/console/adminui/intro.mdx
  src/pages/console/adminui/start.mdx
  src/pages/console/index.mdx
  src/pages/console/uibuilder/collections.mdx
  src/pages/console/uibuilder/databinding.mdx
  src/pages/console/uibuilder/figmatocode.mdx
  src/pages/console/uibuilder/override.mdx
  src/pages/index.tsx
Owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-console

added spell words and updated build command
  cspell.json
  package.json
Owners: none

updated buildspec
  amplify.yml
Owners: none

tutorial added
  cspell.json
  public/images/console/ui-figma-to-studio.png
  public/images/studio/add-model.png
  public/images/studio/collection-data.png
  public/images/studio/collection-layout.png
  public/images/studio/data-binding.png
  public/images/studio/deploy.png
  public/images/studio/figma-link.png
  public/images/studio/get-code.png
  public/images/studio/primitives.png
  public/images/studio/seed-constraints.png
  public/images/studio/seed-data.png
  public/images/studio/shuffle-preview.gif
  public/images/studio/sync-review.png
  public/images/studio/sync-with-figma.png
  public/images/studio/templates.png
  src/directory/directory.js
  src/pages/console/adminui/access-management.mdx
  src/pages/console/adminui/custom-domain.mdx
  src/pages/console/adminui/extend-cli.mdx
  src/pages/console/auth/user-management.mdx
  src/pages/console/authz/permissions.mdx
  src/pages/console/data/content-management.mdx
  src/pages/console/data/data-model.mdx
  src/pages/console/data/relationships.mdx
  src/pages/console/index.mdx
  src/pages/console/tutorial/bindui.mdx
  src/pages/console/tutorial/buildui.mdx
  src/pages/console/tutorial/code.mdx
  src/pages/console/tutorial/collections.mdx
  src/pages/console/tutorial/data.mdx
  src/pages/console/uibuilder/figmatocode.mdx
  src/pages/console/uibuilder/override.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Update GH build to use `yarn build`
  .github/workflows/build.yml
Owners: none

updated tutorial link
  cspell.json
  src/pages/console/index.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

fix links and screenshots
  public/images/console/studio-manage.png
  src/pages/console/index.mdx
  src/pages/console/uibuilder/figmatocode.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

new link
  src/pages/console/tutorial/buildui.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

fix links and screenshots (#3843)
  public/images/console/studio-manage.png
  src/pages/console/index.mdx
  src/pages/console/tutorial/buildui.mdx
  src/pages/console/uibuilder/figmatocode.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

[Android] Add CLI steps for geo (#3839)
  cspell.json
  src/fragments/lib/geo/android/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/android/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/android/getting_started/40_init_geo.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

chore: update customer transformer page to gql v2 (#3841)
  src/fragments/cli/plugins/custom-transformer.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added callouts to all pages referencing hasOne or hasMany
  src/fragments/cli/gqlv2callout.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/console/data/relationships.mdx
  src/pages/lib/datastore/relational/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa, @aws-amplify/amplify-console

update cspell
  cspell.json
Owners: none

Update phrasing
  src/fragments/cli/gqlv2callout.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

GQL v2 hasOne-hasMany update (#3844)
  cspell.json
  src/fragments/cli/gqlv2callout.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/console/data/relationships.mdx
  src/pages/lib/datastore/relational/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa, @aws-amplify/amplify-console

feat: add docs for Custom Domains for all platforms (#3752)
  src/fragments/lib/graphqlapi/existing-resources.mdx
  src/fragments/lib/graphqlapi/js/create-or-re-use-existing-backend.mdx
Owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-js

update note about IAM auth in mock
  src/pages/cli/usage/mock.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fixup: update cspell
  cspell.json
Owners: none

Type in install command
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix: add stack mapping docs
  cspell.json
  src/pages/cli/graphql/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa
