Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @renebrandel, @josefaidt, @dbanksdesign, @hdworld11

remove/move dependencies
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

fix: getting started button goes to correct platform page (#6302)
  src/components/GetStartedPopover/GetStartedPopover.tsx
  src/pages/[platform]/index.tsx
  src/pages/index.tsx
Owners: @aws-amplify/documentation-team, @renebrandel

js(analytics): update pinpoint service provider configuration options for V6 (#6261)
  src/fragments/lib/analytics/js/existing-resources.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

fix fragments next -> nextjs (#6300)
  src/fragments/start/getting-started/next/api.mdx
  src/pages/[platform]/start/getting-started/data-model/index.mdx
  src/pages/[platform]/start/getting-started/hosting/index.mdx
  src/pages/[platform]/start/getting-started/installation/index.mdx
  src/pages/[platform]/start/getting-started/introduction/index.mdx
  src/pages/[platform]/start/getting-started/nextsteps/index.mdx
  src/pages/[platform]/start/getting-started/setup/index.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

Add margin top and bottom for codeblock when placed in a callout (#6291)
  src/styles/callout.scss
Owners: @aws-amplify/documentation-team

Update Amplify Docs to Amplify Documentation (#6290)
  src/components/Layout/Layout.tsx
  src/pages/[platform]/index.tsx
  src/pages/index.tsx
Owners: @aws-amplify/documentation-team, @renebrandel

chore: add overview links to RestAPI page
  src/pages/[platform]/build-a-backend/restapi/index.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

clean up deps
  package.json
  tasks/build-algolia-search.mjs
  yarn.lock
Owners: @aws-amplify/documentation-team

Add missing data to get overview pages to work
  src/pages/[platform]/build-a-backend/restapi/index.mdx
  src/pages/[platform]/cli/tools/auth/admin-actions/index.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

Remove unused font weights (#6301)
  src/styles/font-faces.scss
Owners: @aws-amplify/documentation-team

remove unused components
  src/components/Container/__tests__/Container.test.tsx
  src/components/Container/index.tsx
  src/components/Container/styles.tsx
  src/components/LinkBanner/index.tsx
  src/components/LinkBanner/styles.tsx
Owners: @aws-amplify/documentation-team

directory and title updates
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/more-features/geo/location-search/index.mdx
  src/pages/[platform]/build-a-backend/more-features/geo/maps/index.mdx
  src/pages/[platform]/prev/build-a-backend/more-features/geo/location-search/index.mdx
  src/pages/[platform]/prev/build-a-backend/more-features/geo/maps/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @renebrandel @aws-amplify/documentation-team 
/src/pages/ @renebrandel @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/  @dbanksdesign  @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @renebrandel @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @renebrandel @aws-amplify/documentation-team 
/src/**/**/authz @renebrandel @aws-amplify/documentation-team 
/src/**/**/authentication @renebrandel @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @renebrandel @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @renebrandel @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @renebrandel @aws-amplify/documentation-team 
/src/fragments/lib/common @renebrandel @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @renebrandel @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @renebrandel @aws-amplify/documentation-team 

#Getting Started
/src/**/start @renebrandel @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @renebrandel @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @renebrandel @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @renebrandel @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @renebrandel @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @renebrandel @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @renebrandel @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @renebrandel @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @renebrandel @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @renebrandel @aws-amplify/documentation-team 
/src/**/**/restapi @renebrandel @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @renebrandel @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @renebrandel @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @renebrandel @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @renebrandel @aws-amplify/documentation-team 

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
