Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign, @josefaidt, @hdworld11

apply content updates from PR #6725
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix rendering error with app router quickstart
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Fix typo for mdx file in prev section
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

Fix typo for mdx file in prev section (#6731)
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

Use canonical url hook
  src/pages/_app.tsx
Owners: @aws-amplify/documentation-team

Make new hook to handle logic for getting canonical url
  src/data/canonical-urls.ts
  src/directory/generateDirectory.mjs
  src/utils/useCanonicalUrl.ts
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Add semicolon after meta object
  src/pages/[platform]/build-ui/formbuilder/lifecycle/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update canonical urls
  src/data/canonical-urls.ts
  src/pages/[platform]/build-a-backend/push-notifications/set-up-push-service/index.mdx
  src/pages/[platform]/build-a-backend/restapi/index.mdx
  src/pages/[platform]/prev/build-a-backend/graphqlapi/offline/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add callback, logout URLs to defineAuth template snippet
  src/pages/gen2/build-a-backend/auth/set-up-auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Refactor Gen 2 Quickstart to have Pages and App Router implementations (#6649)
  src/directory/directory.mjs
  src/pages/gen2/start/quickstart/index.mdx
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign

fix: update link example in PR template (#6730)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @aws-amplify/documentation-team

upgrade @aws-amplify/ui-react
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

gen2 fix mfa snippet, remove sms from mfa when phone is not enabled
  src/pages/gen2/build-a-backend/auth/manage-mfa/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

node version in build
  .github/workflows/build.yml
Owners: @aws-amplify/documentation-team

upgrade aws-amplify
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

remove change to build.yaml
  .github/workflows/build.yml
Owners: @aws-amplify/documentation-team

gen2 fix mfa snippet, remove sms from mfa when phone is not enabled (#6735)
  src/pages/gen2/build-a-backend/auth/manage-mfa/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

gen2 fix callout about verification email style, use auth resource definition
  src/pages/gen2/build-a-backend/auth/enable-sign-up/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add prerequisites colocated fragment
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
  src/pages/gen2/start/quickstart/prerequisites.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Adding npx to fix blocking error for customers
  src/pages/gen2/start/mobile-support/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Adding npx to fix blocking error for customers (#6737)
  src/pages/gen2/start/mobile-support/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

immutable -> mutable
  src/pages/gen2/build-a-backend/auth/enable-sign-up/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

immutable -> mutable
  src/pages/gen2/build-a-backend/auth/manage-user-profile/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

true -> false
  src/pages/gen2/build-a-backend/auth/manage-user-profile/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Adding npx to fix blocking error for customers (#6737) (#6738)
  src/pages/gen2/start/mobile-support/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

chore(js-auth): complete oauth in MPAs
  src/pages/[platform]/build-a-backend/auth/add-social-provider/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add callout for Next.js
  src/pages/[platform]/build-a-backend/auth/add-social-provider/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update gen2Banner-urls.ts
  src/data/gen2Banner-urls.ts
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/data/gen2Banner-urls.ts
  src/data/gen2Banner-urls.ts
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update gen2Banner-urls.ts
  src/data/gen2Banner-urls.ts
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update gen2Banner-urls.ts
  src/data/gen2Banner-urls.ts
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

changes require with ui upgrade
  src/components/GlobalNav/components/icons/AmplifyLogo.tsx
  src/styles/base.scss
  src/styles/block-switcher.scss
  src/styles/code.scss
  src/styles/link-card.scss
  src/styles/menu.scss
  src/styles/overview.scss
  src/styles/popover.scss
  src/themes/baseTheme.ts
  src/themes/defaultTheme.ts
  src/themes/gen2Theme.ts
Owners: @aws-amplify/documentation-team

updated blockswitcher
  src/components/BlockSwitcher/BlockSwitcher.tsx
Owners: @aws-amplify/documentation-team

updates for ui upgrae
  src/components/GlobalNav/GlobalNav.module.scss
  src/components/MDXComponents/code-theme.ts
  src/styles/block-switcher.scss
  src/styles/feedback.scss
Owners: @aws-amplify/documentation-team

add create a project fragment
  src/pages/gen2/start/quickstart/create-project.mdx
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add build a backend fragment
  src/pages/gen2/start/quickstart/build-a-backend.mdx
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add deploy and host fragment
  src/pages/gen2/start/quickstart/deploy-and-host.mdx
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

gen2 fix callout about verification email style, use auth resource de… (#6736)
  src/pages/gen2/build-a-backend/auth/enable-sign-up/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/pages/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/  @dbanksdesign  @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authz @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authentication @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/lib/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Getting Started
/src/**/start @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/restapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
