Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557
/src/pages/ @abdallahshaban557

#CLI
/src/**/cli/ @josefaidt

#Studio
/src/pages/console/ @wrpeck
 
#Analytics
/src/**/**/analytics @abdallahshaban557

#Auth
/src/**/**/auth @abdallahshaban557
/src/**/**/authz @abdallahshaban557
/src/**/**/authentication @abdallahshaban557

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11
/src/**/**/configuration @abdallahshaban557 @hdworld11

#Common
/src/fragments/common @abdallahshaban557
/src/fragments/lib/common @abdallahshaban557

#Data
/src/**/**/datastore @renebrandel
/src/**/**/data @renebrandel

#Debugging
/src/fragments/**/debugging @abdallahshaban557

#Geo
/src/**/**/geo @abdallahshaban557

#Getting Started
/src/**/start @abdallahshaban557

#GraphQL API
/src/**/**/api-graphql @renebrandel
/src/**/**/graphqlapi @renebrandel
/src/**/cli-legacy/graphql-transformer @renebrandel
/src/fragments/sdk/api/**/graphql.mdx @renebrandel

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557

#Info
/src/fragments/**/info @abdallahshaban557

#Interactions
/src/**/**/interactions @abdallahshaban557

#Logging
/src/fragments/lib/logging @abdallahshaban557

#Predictions
/src/**/**/predictions @abdallahshaban557

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11

#PubSub
/src/**/**/pubsub @abdallahshaban557

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557

#Rest API
/src/**/**/api-rest @renebrandel
/src/**/**/restapi @renebrandel
/src/fragments/sdk/api/**/rest.mdx @renebrandel

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel

#Storage
/src/**/**/storage @hdworld11

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel

#Utilities
/src/**/**/utilities @abdallahshaban557

#Docs Engineering
/src/components @aws-amplify/documentation-team 
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team

chore: address feedback
  src/fragments/lib-v1/auth/js/password_management/confirm_reset_password.mdx
  src/fragments/lib-v1/auth/js/password_management/reset_password.mdx
  src/fragments/lib-v1/auth/js/password_management/update_password.mdx
  src/fragments/lib-v1/auth/js/user_attributes/confirm_user_attribute.mdx
  src/fragments/lib-v1/auth/js/user_attributes/fetch_user_attributes.mdx
  src/fragments/lib-v1/auth/js/user_attributes/get_current_user.mdx
  src/fragments/lib-v1/auth/js/user_attributes/update_user_attributes.mdx
  src/fragments/lib-v1/auth/js/user_session/fetch_auth_session.mdx
  src/pages/lib-v1/auth/manageusers/q/platform/[platform].mdx
Owners: @abdallahshaban557

Added social sign-in docs.
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore: address feedback
  src/fragments/lib-v1/auth/js/sign_in_steps/select_mfa.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_up.mdx
  src/fragments/lib-v1/auth/js/sms/sign_in.mdx
  src/fragments/lib-v1/auth/js/sms/sign_up.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_unauthenticated.mdx
  src/fragments/lib-v1/auth/js/totp/verify_totp_authenticated.mdx
Owners: @abdallahshaban557

feat(js-auth): add MFA documentation (#5889)
  src/fragments/lib-v1/auth/common/mfa/add_mfa.mdx
  src/fragments/lib-v1/auth/common/mfa/flows.mdx
  src/fragments/lib-v1/auth/common/mfa/update_mfa.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/fetch_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/sign_in_steps/select_mfa.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_in.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_up.mdx
  src/fragments/lib-v1/auth/js/sms/sign_in.mdx
  src/fragments/lib-v1/auth/js/sms/sign_up.mdx
  src/fragments/lib-v1/auth/js/sms/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/totp/confirm_sign_in.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_authenticated.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_unauthenticated.mdx
  src/fragments/lib-v1/auth/js/totp/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/totp/verify_totp_authenticated.mdx
  src/pages/lib-v1/auth/mfa/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore: address feedback
  src/pages/lib-v1/auth/auth-events/q/platform/[platform].mdx
Owners: @abdallahshaban557

update tabbing error
  src/fragments/lib-v1/auth/js/password_management/reset_password.mdx
Owners: @abdallahshaban557

PR feedback.
  src/pages/lib-v1/auth/emailpassword/q/platform/[platform].mdx
Owners: @abdallahshaban557

Remove custom state.
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

Updated feedback link.
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

feat: Added social signin docs (#5910)
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

feat: Added sign in, sign up, and sign out API documentation (#5909)
  src/pages/lib-v1/auth/emailpassword/q/platform/[platform].mdx
Owners: @abdallahshaban557

feat(js-auth): migrate the 'Auth events' section. (#5896)
  src/fragments/lib-v1/auth/js/hub_events/10_listen_events.mdx
  src/pages/lib-v1/auth/auth-events/q/platform/[platform].mdx
Owners: @abdallahshaban557

Fix: make only hosting card to point to external link
  src/components/Card/styles.tsx
Owners: @aws-amplify/documentation-team

fix(storage): expose transfer acceleration page only on Js
  src/directory/directory.mjs
  src/pages/lib-v1/storage/transfer-acceleration/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @hdworld11

fix: resolve conflicts
  src/pages/lib-v1/storage/transfer-acceleration/q/platform/[platform].mdx
Owners: @hdworld11

chore: Clean up intro sections. (#5911)
  src/fragments/lib-v1/start/getting-started/vue/setup.mdx
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

feat(storage): add transfer-acceleration to js v6 (#5906)
  src/directory/directory.mjs
  src/fragments/lib-v1/storage/js/transfer-acceleration.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/pages/lib-v1/storage/transfer-acceleration/q/platform/[platform].mdx
  src/pages/lib-v1/storage/upload/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @hdworld11

Updating menu for manage user profiles
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

fix(js-nextjs): update to use amplifyconfiguration.jso in example
  src/fragments/lib-v1/ssr/nextjs/getting-started.mdx
Owners: @abdallahshaban557

Adding InlineFragment content (#5899)
  Readme.md
Owners: @aws-amplify/documentation-team

chore: Tweak Amplify Libraries wording.
  src/fragments/lib-v1/ssr/nextjs/version-range-callout.mdx
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore: add browser uploads section
  src/fragments/lib/storage/js/upload.mdx
Owners: @hdworld11

chore: change image to file
  src/fragments/lib/storage/js/upload.mdx
Owners: @hdworld11

revert back changes in v1
  src/fragments/lib/storage/js/upload.mdx
Owners: @hdworld11

chore: add browser upload in lib-v1
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

fix: api name fix
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: change font for upload
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: download api change
  src/fragments/lib-v1/storage/js/download.mdx
Owners: @hdworld11

chore: add link to CORS policy in getProperties
  src/fragments/lib-v1/storage/js/get-properties.mdx
Owners: @hdworld11

chore: Tweak Analytics docs.
  src/fragments/lib-v1/analytics/js/record.mdx
  src/fragments/lib/common/js/import_configuration.mdx
Owners: @abdallahshaban557

chore: change wording
  src/fragments/lib-v1/storage/js/get-properties.mdx
Owners: @hdworld11

chore: Add back custom OAuth state event documentation.
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

Added missing event.
  src/fragments/lib-v1/auth/js/hub_events/10_listen_events.mdx
Owners: @abdallahshaban557

chore: add cors screenshots in getting started page
  public/images/storage/CORS1.png
  public/images/storage/CORS2.png
  public/images/storage/CORS3.png
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @aws-amplify/documentation-team, @hdworld11

chore: add image support for v6 dev-preview too
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
Owners: @hdworld11

chore: Updated Auth pages.
  src/fragments/lib-v1/auth/js/advanced.mdx
  src/fragments/lib-v1/auth/js/common_prereq.mdx
  src/pages/lib-v1/auth/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/download.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/upload.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: add indentation spacing
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11
