Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

Fix datastore typo
  src/fragments/lib/datastore/flutter/getting-started/70_querySnippet.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Reapply changes suggested by @jakburde
  src/directory/directory.js
  src/pages/console/storage/develop.mdx
  src/pages/console/storage/file-browser.mdx
  src/pages/console/storage/file-storage.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Update getting-started.mdx
  src/fragments/lib/pubsub/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Delete develop.mdx
  src/pages/console/storage/develop.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Delete unauthCLI.png
  public/images/console/unauthCLI.png
Owners: none

chore: Chage the documentation to show guest fetchauthsession (#3764)
  src/fragments/lib/auth/ios/access_credentials/10_fetchAuthSession.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

[Android] Geo search API dev preview (#3723)
  src/constants/versions.ts
  src/directory/directory.js
  src/fragments/lib/geo/android/existing-resources.mdx
  src/fragments/lib/geo/android/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/android/maps/20_display_map.mdx
  src/fragments/lib/geo/android/search/10_search_by_text.mdx
  src/fragments/lib/geo/android/search/20_search_by_coordinates.mdx
  src/fragments/lib/geo/native_common/search/common.mdx
  src/pages/lib/geo/search/q/platform/[platform].mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

fixed directory for info.plist
  src/fragments/lib/auth/flutter/signin_web_ui/20_platform_specific_setup.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Add step to retrieve web UI URL
  src/fragments/lib/auth/common/social_signin_web_ui/configure_auth_category.mdx
Owners: @aws-amplify/amplify-sa

chore(updating hosting.mdx): add explicit redirect address
  src/pages/cli/hosting/hosting.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update hosting.mdx
  src/pages/cli/hosting/hosting.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(flutter): preferPrivateSession docs
  src/fragments/lib/auth/flutter/signin_web_ui/40_private_session.mdx
  src/fragments/lib/auth/native_common/signin_web_ui/common.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

formatting fix
  src/fragments/lib/auth/flutter/signin_web_ui/40_private_session.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

format fix 2
  src/fragments/lib/auth/flutter/signin_web_ui/40_private_session.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

[Do not merge] file browser edits
  src/pages/console/storage/file-browser.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Update file-browser.mdx
  src/pages/console/storage/file-browser.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Remove /console/storage/develop from navigation
  src/directory/directory.js
Owners: none

Remove /console/storage/develop from navigation (#3779)
  src/directory/directory.js
Owners: none

PR suggestions
  src/fragments/lib/auth/flutter/signin_web_ui/40_private_session.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

fix(flutter): preferPrivateSession docs (#3777)
  src/fragments/lib/auth/flutter/signin_web_ui/40_private_session.mdx
  src/fragments/lib/auth/native_common/signin_web_ui/common.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update file-browser.mdx
  src/pages/console/storage/file-browser.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Update file-browser.mdx
  src/pages/console/storage/file-browser.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Amplify export docs
  src/directory/directory.js
  src/pages/cli/index.mdx
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Commented out client-side config pull
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fixed typo
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/usage/export-to-cdk.mdx
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/usage/export-to-cdk.mdx
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/usage/export-to-cdk.mdx
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/usage/export-to-cdk.mdx
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

New guide for RN In-App Messaging
  public/images/lib/in-app-messaging/campaign-setup.png
  public/images/lib/in-app-messaging/choose-campaign-segment.png
  public/images/lib/in-app-messaging/create-pinpoint-campaign.png
  public/images/lib/in-app-messaging/in-app-message-details.png
  public/images/lib/in-app-messaging/in-app-message-preview.png
  src/directory/directory.js
  src/fragments/lib/in-app-messaging/js/clear-messages.mdx
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
  src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/display-message.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/identify-user.mdx
  src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/resolve-conflicts.mdx
  src/fragments/lib/in-app-messaging/js/respond-interaction-events.mdx
  src/fragments/lib/in-app-messaging/js/sync-messages.mdx
  src/pages/lib/in-app-messaging/clear-messages/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/create-campaigns/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/customize/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/display-message/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/getting-started/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/identify-user/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/overview/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/prerequisites/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/resolve-conflicts/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/respond-interaction-events/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/sync-messages/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Apply suggestions from caleb regarding typos and extra spaces.
  src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/resolve-conflicts.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update clear-messages.mdx
  src/fragments/lib/in-app-messaging/js/clear-messages.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Multi-region copy
  src/components/BlockSwitcher/index.tsx
  src/components/CodeBlock/index.tsx
  src/components/CodeBlockProvider/index.tsx
  src/fragments/lib/datastore/android/data-access/save-snippet.mdx
  src/plugins/code-block.tsx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

feat(cli-geo): add dev preview docs for Geofencing
  src/directory/directory.js
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(cli-geo): add Geofencing related words to cspell
  cspell.json
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

updated bugs found while implementation
  src/fragments/lib/graphqlapi/android/query-data.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

in-app messages casing, screenshot changes and event trigger attributes optional
  public/images/lib/in-app-messaging/campaign-setup.png
  public/images/lib/in-app-messaging/choose-campaign-segment.png
  public/images/lib/in-app-messaging/in-app-message-details.png
  public/images/lib/in-app-messaging/in-app-message-preview.png
  src/fragments/lib/in-app-messaging/js/create-campaigns.mdx
  src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/display-message.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/identify-user.mdx
  src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/resolve-conflicts.mdx
  src/fragments/lib/in-app-messaging/js/respond-interaction-events.mdx
  src/fragments/lib/in-app-messaging/js/sync-messages.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

bump android versions
  src/constants/versions.ts
  src/fragments/guides/location-service/setting-up-your-app-android.mdx
  src/fragments/sdk/analytics/android/getting-started.mdx
  src/fragments/sdk/analytics/android/kinesis.mdx
  src/fragments/sdk/api/android/graphql.mdx
  src/fragments/sdk/api/android/rest.mdx
  src/fragments/sdk/auth/android/federated-identities.mdx
  src/fragments/sdk/auth/android/getting-started.mdx
  src/fragments/sdk/configuration/android/setup-options.mdx
  src/fragments/sdk/pubsub/android/getting-started.mdx
  src/fragments/sdk/push-notifications/android/getting-started.mdx
  src/fragments/sdk/storage/android/getting-started.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa, @aws-amplify/android-team

fix android sdk version
  src/fragments/guides/location-service/setting-up-your-app-android.mdx
  src/fragments/sdk/analytics/android/getting-started.mdx
  src/fragments/sdk/analytics/android/kinesis.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa, @aws-amplify/android-team

bump old sdk version
  src/fragments/sdk/configuration/android/setup-options.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
