Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

updated screenshot
  public/images/lib/in-app-messaging/pinpoint-console-policy-action.png
Owners: none

reformat aws-exports snippet to match expectation
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fix(iOS): Add Geo (Developer Preview) to category lists. (#3799)
  public/images/project-setup/20_7_select-dependencies.png
  src/fragments/lib/geo/ios/getting_started/10_pre_req.mdx
  src/fragments/lib/project-setup/ios/create-application/20_install_libraries.mdx
  src/fragments/lib/project-setup/ios/use-existing-resources/use-existing-resources.mdx
  src/fragments/lib/project-setup/native_common/create-application/50_nextSteps.mdx
  src/fragments/start/getting-started/ios/nextsteps.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Addressed some PR comments
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/examples-and-solutions.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fixed additional PR comments in @predictions
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Addressed data-modeling comments
  src/pages/cli/graphql/data-modeling.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/search-and-result-aggregations.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/search-and-result-aggregations.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/overview.mdx
  src/pages/cli/graphql/overview.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/search-and-result-aggregations.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/overview.mdx
  src/pages/cli/graphql/overview.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added migration guide and addressed additional comments
  public/images/cli/graphql/default-auth-mode-migration.png
  public/images/cli/graphql/key-migration.png
  public/images/cli/graphql/owner-auth-migration-2.png
  public/images/cli/graphql/owner-auth-migration.png
  src/directory/directory.js
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
  src/pages/cli/migration/graphql-transformer-v1-to-v2.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fixed typos
  cspell.json
  src/pages/cli/migration/graphql-transformer-v1-to-v2.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added draft of override GraphQL docs
  src/directory/directory.js
  src/pages/cli/graphql/override.mdx
  src/pages/cli/migration/transformer-migration.mdx
  src/styles/elements.css
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fixed typos
  cspell.json
  src/pages/cli/graphql/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added REST API overrides docs
  src/directory/directory.js
  src/pages/cli/restapi/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Fixed table formatting.
  src/pages/cli/graphql/override.mdx
  src/pages/cli/restapi/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

all changes applied to pre-requisites page
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update iOS advanced workflow docs on nested data
  src/fragments/lib/graphqlapi/ios/advanced-workflows/30_nested.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Apply suggestions from code review
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/sync-messages.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

feat(Android): update MapLibre docs for Developer Preview launch (#3797)
  src/constants/versions.ts
  src/fragments/lib/geo/android/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/android/maps/10_install_adapter.mdx
  src/fragments/lib/geo/android/maps/20_display_map.mdx
  src/fragments/lib/geo/android/maps/30_styles.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

preview language additions
  src/directory/directory.js
  src/fragments/lib/in-app-messaging/js/overview.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fixed pre-requisites page
  public/images/lib/in-app-messaging/attach-a-policy.png
  public/images/lib/in-app-messaging/mobiletargeting-policy-attach.png
  public/images/lib/in-app-messaging/pinpoint-console-policy-action.png
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

add sample app creation to prereqs, remove explicit React Native callout, update a typo
  src/directory/directory.js
  src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/pages/lib/in-app-messaging/create-campaigns/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

address feedback, remove broken image link
  src/directory/directory.js
  src/fragments/lib/in-app-messaging/js/create-campaign.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/respond-interaction-events.mdx
  src/pages/lib/in-app-messaging/create-campaigns/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
