Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa

rename Amplify Admin UI to Amplify Studio
  public/images/lib/getting-started/reactnative/connect-to-cloud-open-admin-ui.png
  public/images/lib/getting-started/reactnative/connect-to-cloud-open-amplify-studio.png
  src/fragments/start/getting-started/reactnative/add-api.mdx
  src/fragments/start/getting-started/reactnative/generate-model.mdx
Owners: @aws-amplify/amplify-sa

chore: Auth iOS sign in with webUI Xcode 13 SwiftUI app URLScheme (#3898)
  src/fragments/lib/auth/ios/signin_web_ui/20_platform_specific_setup.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

rename TodoItem to renderItem
  src/fragments/start/getting-started/reactnative/integrate.mdx
Owners: @aws-amplify/amplify-sa

fix(geo-cli): add callout for pricing plan changes
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(geo): update tagged version install, added note about authenticator
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

feat: colors mitigation message
  src/directory/directory.js
  src/pages/cli/migration/previous-versions.mdx
  src/pages/cli/start/install.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fix(geo-cli): remove pricing plan from goefencing
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(geo-cli): update version for geo tag
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore: change app example to react app with diff, update npm install command
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Use low-level SDK dependency instead of Amplify (#3887)
  src/fragments/sdk/auth/android/hosted-ui.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

Geo: Fix geo tags (#3918)
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fix: remove -s flag from install commands
  src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/search.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

feat: add docs for headless import auth and headless storage
  src/pages/cli/usage/headless.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Apply suggestions from code review
  src/fragments/start/getting-started/reactnative/add-api.mdx
Owners: @aws-amplify/amplify-sa

Update src/fragments/start/getting-started/reactnative/integrate.mdx
  src/fragments/start/getting-started/reactnative/integrate.mdx
Owners: @aws-amplify/amplify-sa

Syntax highlighting use jsx for React Code
  src/fragments/start/getting-started/reactnative/integrate.mdx
Owners: @aws-amplify/amplify-sa

fix: remove -s flag from install commands (#3923)
  src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/search.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

chore(geo): add signout button to geofences app
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fix(geo-cli): add link to group based map access
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore(geo): add signout button to geofences app (#3925)
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fix(geo-cli): rename section title
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

update wording
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

fix(geo-cli): remove pricing plan from goefencing (#3920)
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

docs(geo): add documentation for JS geofences developer preview (#3921)
  cspell.json
  public/images/geofence-create.png
  public/images/geofence-edit.png
  public/images/geofence-management-app.png
  src/directory/directory.js
  src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/maps.mdx
  src/fragments/lib/geo/js/search.mdx
  src/pages/cli/geo/geofencing.mdx
  src/pages/lib/geo/geofences/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa, @aws-amplify/amplify-cli

feat: add docs for headless import auth and headless storage (#3924)
  src/pages/cli/usage/headless.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Fix SpellCheck
  cspell.json
Owners: none

Update src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Fix Authenticator bugs with amplify dependencies
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

UI components update
  src/fragments/ui/flutter/installation.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Fix
  src/pages/cli/migration/transformer-migration.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

use react hooks in social signin snippet
  src/fragments/lib/auth/js/social.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update [integration].mdx
  src/pages/start/q/integration/[integration].mdx
Owners: @aws-amplify/amplify-sa

Update [integration].mdx (#3933)
  src/pages/start/q/integration/[integration].mdx
Owners: @aws-amplify/amplify-sa

Updated custom resolver info (#3910)
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa
