Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-cli, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-hosting, @aws-amplify/developer-advocates, @aws-amplify/amplify-android, @aws-amplify/amplify-flutter, @aws-amplify/amplify-ios, @aws-amplify/amplify-js

feat(Auth): Adding documentation for federation and switching auth flow type (#4768)
  src/directory/directory.js
  src/fragments/lib/auth/ios/advanced/advanced.mdx
  src/fragments/lib/auth/ios/signin_with_custom_flow/50_custom_challenge.mdx
  src/fragments/lib/auth/ios/switch-auth/switch-auth.mdx
  src/pages/lib/auth/advanced/q/platform/[platform].mdx
  src/pages/lib/auth/switch-auth/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-ios, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

Apply suggestions from code review
  src/fragments/start/getting-started/next/api.mdx
Owners: @aws-amplify/amplify-support-eng

update predictions escape hatch documentation
  cspell.json
  src/fragments/lib/predictions/android/escapehatch.mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

Removed a console.log(), udpated wording for default options, and reworded the [id].js instructions
  src/fragments/start/getting-started/next/api.mdx
Owners: @aws-amplify/amplify-support-eng

Updated instructions to use `npm init` to creating package.json
  src/fragments/start/getting-started/vanillajs/setup.mdx
Owners: @aws-amplify/amplify-support-eng

New STYLEGUIDE!
  STYLEGUIDE.md
Owners: @aws-amplify/amplify-support-eng

fix: directory name added
  src/fragments/start/getting-started/react/setup.mdx
Owners: @aws-amplify/amplify-support-eng

rename to amplify-headless-init-payload.json
  src/pages/cli/usage/headless.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

deleted unnecessary files
  src/fragments/lib/in-app-messaging/js/clear-messages.mdx
  src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/display-message.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/identify-user.mdx
  src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/resolve-conflicts.mdx
  src/fragments/lib/in-app-messaging/js/respond-interaction-events.mdx
  src/fragments/lib/in-app-messaging/js/sync-messages.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

deleted unnecessary files
  src/fragments/lib-v1/in-app-messaging/js/clear-messages.mdx
  src/fragments/lib-v1/in-app-messaging/js/create-campaign.mdx
  src/fragments/lib-v1/in-app-messaging/js/customize.mdx
  src/fragments/lib-v1/in-app-messaging/js/display-message.mdx
  src/fragments/lib-v1/in-app-messaging/js/getting-started.mdx
  src/fragments/lib-v1/in-app-messaging/js/identify-user.mdx
  src/fragments/lib-v1/in-app-messaging/js/overview.mdx
  src/fragments/lib-v1/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib-v1/in-app-messaging/js/resolve-conflicts.mdx
  src/fragments/lib-v1/in-app-messaging/js/respond-interaction-events.mdx
  src/fragments/lib-v1/in-app-messaging/js/sync-messages.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

Android v2 Auth Federation to Identity Pool
  src/directory/directory.js
  src/fragments/lib/auth/android/advanced/advanced.mdx
  src/fragments/lib/auth/ios/advanced/advanced.mdx
  src/pages/lib/auth/advanced/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-ios

Changing isSignedInComplete to isSignedIn
  src/fragments/lib/auth/android/signin/30_signIn.mdx
Owners: @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

Updated images and text to api 24
  public/images/lib/getting-started/android/set-up-android-studio-configure-your-project-todo.png
  public/images/lib/getting-started/android/set-up-android-studio-configure-your-project.png
  src/fragments/lib/project-setup/android/create-application/10_createProject.mdx
  src/fragments/start/getting-started/android/setup.mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

revert change to v1
  public/images/lib/getting-started/android/set-up-android-studio-configure-your-project-v1.png
  src/fragments/lib-v1/project-setup/android/create-application/10_createProject.mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

Update per feedback
  src/fragments/lib/auth/ios/credential_handling/10_credential_handling.mdx
Owners: @aws-amplify/amplify-ios, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

chore: update api to 24 and remove part of snapshot with amplify version
  public/images/lib/getting-started/android/set-up-android-studio-sync-gradle.png
  src/fragments/lib/android.mdx
  src/fragments/lib/auth/android/getting_started/10_preReq.mdx
  src/fragments/lib/datastore/android/getting-started/10_preReq.mdx
  src/fragments/lib/geo/android/getting_started/10_pre_req.mdx
  src/fragments/lib/graphqlapi/android/getting-started.mdx
  src/fragments/lib/graphqlapi/android/getting-started/10_preReq.mdx
  src/fragments/lib/predictions/android/getting-started/20_preReq.mdx
  src/fragments/lib/project-setup/android/create-application/20_gradle.mdx
  src/fragments/lib/project-setup/android/prereq/prereq.mdx
  src/fragments/lib/restapi/android/getting-started/10_preReq.mdx
  src/fragments/lib/storage/android/getting-started/10_preReq.mdx
  src/fragments/start/getting-started/android/setup.mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

chore: update api to 24 and remove part of snapshot with amplify version (#4814)
  public/images/lib/getting-started/android/set-up-android-studio-sync-gradle.png
  src/fragments/lib/android.mdx
  src/fragments/lib/auth/android/getting_started/10_preReq.mdx
  src/fragments/lib/datastore/android/getting-started/10_preReq.mdx
  src/fragments/lib/geo/android/getting_started/10_pre_req.mdx
  src/fragments/lib/graphqlapi/android/getting-started.mdx
  src/fragments/lib/graphqlapi/android/getting-started/10_preReq.mdx
  src/fragments/lib/predictions/android/getting-started/20_preReq.mdx
  src/fragments/lib/project-setup/android/create-application/20_gradle.mdx
  src/fragments/lib/project-setup/android/prereq/prereq.mdx
  src/fragments/lib/restapi/android/getting-started/10_preReq.mdx
  src/fragments/lib/storage/android/getting-started/10_preReq.mdx
  src/fragments/start/getting-started/android/setup.mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

Adding custom auth support in Android docs
  src/directory/directory.js
  src/fragments/lib/auth/android/signin_with_custom_flow/10_cli_setup.mdx
  src/fragments/lib/auth/android/signin_with_custom_flow/20_signup.mdx
  src/fragments/lib/auth/android/signin_with_custom_flow/30_confirmSignup.mdx
  src/fragments/lib/auth/android/signin_with_custom_flow/40_signin.mdx
  src/fragments/lib/auth/android/signin_with_custom_flow/50_custom_challenge.mdx
  src/fragments/lib/auth/native_common/signin_with_custom_flow/common.mdx
  src/pages/lib/auth/signin_with_custom_flow/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

Removed credential refresh section
  src/fragments/lib/auth/ios/credential_handling/10_credential_handling.mdx
Owners: @aws-amplify/amplify-ios, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

Update per feedback
  src/fragments/lib/auth/ios/credential_handling/10_credential_handling.mdx
Owners: @aws-amplify/amplify-ios, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

Grammar fix
  src/fragments/lib/auth/ios/credential_handling/10_credential_handling.mdx
Owners: @aws-amplify/amplify-ios, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

chore(iOS): update device tracking table formatting
  src/fragments/lib/geo/ios/device_tracking/10_tracking_options.mdx
Owners: @aws-amplify/amplify-ios, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

feat: Add 'credential handling' section to Swift Under the hood (#4794)
  src/fragments/lib/auth/common/overview.mdx
  src/fragments/lib/auth/ios/credential_handling/10_credential_handling.mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-ios, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

chore: update location escape hatch
  cspell.json
  src/fragments/lib/geo/android/escapehatch.mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

Update STYLEGUIDE.md
  STYLEGUIDE.md
Owners: @aws-amplify/amplify-support-eng

Update STYLEGUIDE.md
  STYLEGUIDE.md
Owners: @aws-amplify/amplify-support-eng

Update STYLEGUIDE.md
  STYLEGUIDE.md
Owners: @aws-amplify/amplify-support-eng

Update STYLEGUIDE.md
  STYLEGUIDE.md
Owners: @aws-amplify/amplify-support-eng

Update STYLEGUIDE.md
  STYLEGUIDE.md
Owners: @aws-amplify/amplify-support-eng

Update STYLEGUIDE.md
  STYLEGUIDE.md
Owners: @aws-amplify/amplify-support-eng

chore: update location escape hatch (#4817)
  cspell.json
  src/fragments/lib/geo/android/escapehatch.mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

angle brackets are now in code blocks
  STYLEGUIDE.md
Owners: @aws-amplify/amplify-support-eng

Map Style Add
  src/pages/cli/geo/maps.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

Remove dev-preview
  src/directory/directory.js
  src/fragments/lib-v1/auth/android/escapehatch/10_awsmobileclient_escape.mdx
  src/fragments/lib/auth/android/escapehatch/10_awsmobileclient_escape.mdx
  src/fragments/lib/devpreview/android/getting_started/10_intro.mdx
  src/fragments/lib/devpreview/android/getting_started/20_goal.mdx
  src/fragments/lib/devpreview/android/getting_started/30_preReq.mdx
  src/fragments/lib/devpreview/android/getting_started/40_installLib.mdx
  src/fragments/lib/devpreview/android/getting_started/50_nextSteps.mdx
  src/fragments/lib/devpreview/native_common/getting_started/common.mdx
  src/pages/lib/devpreview/getting-started/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-support-eng, @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms

Add escape hatch warning
  src/fragments/lib/android-escape-hatch-warning.mdx
Owners: @aws-amplify/amplify-support-eng

update java sample in predictions escape hatch
  src/fragments/lib/predictions/android/escapehatch.mdx
Owners: @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

Kotlin SDK escape hatch disclaimer
  src/fragments/lib/analytics/android/escapehatch.mdx
  src/fragments/lib/auth/android/escapehatch/10_awsmobileclient_escape.mdx
  src/fragments/lib/geo/android/escapehatch.mdx
  src/fragments/lib/predictions/android/escapehatch.mdx
  src/fragments/lib/storage/android/escapehatch.mdx
Owners: @aws-amplify/amplify-android, @aws-amplify/documentation-team, @aws-amplify/amplify-pms, @aws-amplify/amplify-support-eng

.github/CODEOWNERS:

* @aws-amplify/amplify-support-eng
/src/pages/** @aws-amplify/amplify-support-eng
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/documentation-team @aws-amplify/amplify-pms @aws-amplify/amplify-support-eng
/src/pages/console @aws-amplify/amplify-hosting @aws-amplify/documentation-team @aws-amplify/amplify-pms @aws-amplify/amplify-support-eng
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/documentation-team @aws-amplify/amplify-support-eng
/src/fragments/** @aws-amplify/amplify-support-eng
/src/fragments/**/android @aws-amplify/amplify-android @aws-amplify/documentation-team @aws-amplify/amplify-pms @aws-amplify/amplify-support-eng
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/documentation-team @aws-amplify/amplify-pms @aws-amplify/amplify-support-eng
/src/fragments/**/ios @aws-amplify/amplify-ios @aws-amplify/documentation-team @aws-amplify/amplify-pms @aws-amplify/amplify-support-eng
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/documentation-team @aws-amplify/amplify-pms @aws-amplify/amplify-support-eng
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/documentation-team @aws-amplify/amplify-pms @aws-amplify/amplify-support-eng
/src/fragments/console @aws-amplify/amplify-hosting @aws-amplify/documentation-team @aws-amplify/amplify-pms @aws-amplify/amplify-support-eng
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/documentation-team @aws-amplify/amplify-support-eng
