Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa

chore: move change to nextjs files and address PR comments
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix: bad merge
  docs/cli/restapi/restapi.md
Owners: none

fix: bad link
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

feat: docs for destructive schema updates (#3580)
  src/pages/cli/graphql-transformer/overview.mdx
  src/pages/cli/usage/headless.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update working-with-api.mdx (#3536)
  src/fragments/sdk/auth/android/working-with-api.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

remove stale code block for API env endpoints (#3281)
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

address feedback
  src/fragments/lib/graphqlapi/existing-resources.mdx
  src/fragments/lib/graphqlapi/js/create-or-re-use-existing-backend.mdx
Owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-js

fix formatting
  src/fragments/guides/api-graphql/js/image-and-file-uploads.mdx
  src/fragments/lib/graphqlapi/js/getting-started.mdx
  src/fragments/lib/graphqlapi/native_common/authz/common.mdx
  src/pages/cli/usage/monorepo.mdx
  src/pages/guides/api-graphql/building-a-form-api/q/platform/[platform].mdx
  src/pages/guides/api-graphql/lambda-resolvers/q/platform/[platform].mdx
  src/pages/guides/functions/cognito-trigger-lambda-dynamodb/q/platform/[platform].mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa, @aws-amplify/amplify-js, @aws-amplify/amplify-cli

remove annotated schema option text
  src/fragments/ui-legacy/auth/react/tutorial.mdx
Owners: @aws-amplify/amplify-sa

feat: integrate i18n router
  next.config.js
  src/pages/index.content.ts
  src/pages/index.tsx
Owners: @aws-amplify/amplify-sa

fix: remove unused content file
  src/pages/index.content.json
Owners: @aws-amplify/amplify-sa

fix: export specified content
  src/pages/index.content.ts
Owners: @aws-amplify/amplify-sa

fix: add url into i18n content
  src/pages/index.content.ts
  src/pages/index.tsx
Owners: @aws-amplify/amplify-sa

fix: use json as content
  src/pages/index.content.json
  src/pages/index.content.ts
  src/pages/index.tsx
Owners: @aws-amplify/amplify-sa

fix: use next-i18next for ssg
  next-i18next.config.js
  next.config.js
  package.json
  public/locales/en/common.json
  public/locales/ja/common.json
  src/pages/_app.tsx
  src/pages/index.tsx
  yarn.lock
Owners: @aws-amplify/amplify-sa

fix: yarn
  yarn.lock
Owners: none

fix: update yarn.lock
  yarn.lock
Owners: none

Added Angular & Ionic data binding examples
  src/fragments/ui/storage/web/s3-image.mdx
Owners: @aws-amplify/amplify-sa

Rename files to use MDX
  src/pages/console/storage/file-browser.mdx
  src/pages/console/storage/file-storage.mdx
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Update directory config
  src/directory/directory.js
Owners: none

Update file-storage.md
  src/pages/console/storage/file-storage.md
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

fix(DataStore): selection set for custom mutation
  src/fragments/lib/datastore/native_common/how-it-works.mdx
Owners: @aws-amplify/amplify-sa

Initial commit for ext docs
  src/directory/directory.js
  src/pages/cli/auth/override.mdx
  src/pages/cli/migration/override.mdx
  src/pages/cli/project/monorepo.mdx
  src/pages/cli/project/permissions-boundary.mdx
  src/pages/cli/project/tags.mdx
  src/pages/cli/reference/iam-roles-mfa.mdx
  src/pages/cli/reference/iam.mdx
  src/pages/cli/start/workflows.mdx
  src/pages/cli/storage/override.mdx
  src/pages/cli/usage/add-custom-resources.mdx
  src/pages/cli/usage/customcf.mdx
  src/pages/cli/usage/export-to-cdk-pipeline.mdx
  src/pages/cli/usage/uninstall.mdx
  src/pages/cli/usage/upgrade.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fixed typos
  cspell.json
  src/pages/cli/usage/add-custom-resources.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added initial docs for override
  src/directory/directory.js
  src/pages/cli/auth/override.mdx
  src/pages/cli/project/override.mdx
  src/pages/cli/storage/override.mdx
  src/styles/elements.css
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added descriptions for user pool group override
  src/pages/cli/auth/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added project override docs
  src/pages/cli/project/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fixed typo
  src/pages/cli/project/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

removed incorrect deployment bucket info
  src/pages/cli/project/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added more clarity to path example
  src/pages/cli/auth/override.mdx
  src/pages/cli/project/override.mdx
  src/pages/cli/usage/export-to-cdk.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

added auth related changes
  src/pages/cli/auth/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

added landing page changes
  src/directory/directory.js
  src/pages/cli/custom/cdk.mdx
  src/pages/cli/custom/cloudformation.mdx
  src/pages/cli/index.mdx
  src/pages/cli/project/command-hooks.mdx
  src/pages/cli/usage/add-custom-resources.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added note on auth and unauth roles.
  src/pages/cli/project/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Added warning for unauth / auth role name
  src/pages/cli/project/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

removed superfluous nav items
  src/directory/directory.js
Owners: none

removed superfluous nav items (#3768)
  src/directory/directory.js
Owners: none

update versions
  src/constants/versions.ts
Owners: none

Update file-storage.md
  src/pages/console/storage/file-storage.md
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa

Add files via upload
  public/images/console/unauthCLI.png
Owners: none

Add files via upload
  src/pages/console/storage/develop.md
Owners: @aws-amplify/amplify-console, @aws-amplify/amplify-sa
