Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign, @josefaidt, @hdworld11

update angular auth example
  src/pages/gen2/build-a-backend/auth/set-up-auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

chore(fonts/css): more font cleanup (#6717)
  public/fonts/Amazon_Ember_Lt.ttf
  public/fonts/Amazon_Ember_LtIt.ttf
  public/fonts/Amazon_Ember_Th.ttf
  public/fonts/Amazon_Ember_ThIt.ttf
  src/styles/contribute-styles.scss
  src/styles/font-faces.scss
Owners: @aws-amplify/documentation-team

Make example links have code formatting so they don't get turn into links (#6718)
  src/fragments/lib-v1/graphqlapi/existing-resources.mdx
  src/fragments/lib/graphqlapi/existing-resources.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update examples with new changes
  src/pages/gen2/build-a-backend/add-aws-services/deletion-backup-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update vue auth example Gen 2 (#6706)
  src/pages/gen2/build-a-backend/auth/set-up-auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update angular auth example (#6719)
  src/pages/gen2/build-a-backend/auth/set-up-auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

chore: use default values with Cache.createInstance() (aws-amplify/amplify-js#12705) (#6698)
  src/pages/[platform]/build-a-backend/utilities/cache/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update examples with new changes
  src/pages/gen2/build-a-backend/add-aws-services/deletion-backup-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

chore: remove hosting support (#6715)
  src/pages/[platform]/tools/cli/project/troubleshooting/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

update nextjs tutorial to work with amazon linux 2023 and avoiding complications of GLIB
  src/pages/gen2/start/quickstart/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update description
  src/pages/gen2/build-a-backend/add-aws-services/deletion-backup-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add tests for ColorModeSwitcher
  src/components/ColorModeSwitcher/ColorModeSwitcher.tsx
  src/components/ColorModeSwitcher/__tests__/ColorModeSwitcher.test.tsx
  src/components/ColorModeSwitcher/types.ts
Owners: @aws-amplify/documentation-team

remove next/prev from overview pages
  src/components/Layout/Layout.tsx
Owners: @aws-amplify/documentation-team

use media query, not data attribute
  src/components/GlobalNav/GlobalNav.module.scss
  src/styles/banner.scss
  src/styles/base.scss
  src/styles/code.scss
  src/styles/icons.scss
  src/styles/layout.scss
  src/styles/link-card.scss
  src/styles/overview.scss
  src/styles/spaceship.scss
Owners: @aws-amplify/documentation-team

`defineFunction` docs (#6614)
  src/pages/gen2/build-a-backend/data/custom-business-logic/index.mdx
  src/pages/gen2/build-a-backend/data/customize-authz/custom-data-access-patterns/index.mdx
  src/pages/gen2/build-a-backend/functions/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Use env var in workflow instead of variable on repo (#6667)
  .github/workflows/check_pr_for_broken_links.yml
Owners: @aws-amplify/documentation-team

update getting started with hosting build image information
  public/images/gen2/getting-started/console4.png
  src/pages/gen2/start/quickstart/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign

Update src/pages/gen2/start/quickstart/index.mdx
  src/pages/gen2/start/quickstart/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/pages/gen2/start/quickstart/index.mdx
  src/pages/gen2/start/quickstart/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/pages/gen2/start/quickstart/index.mdx
  src/pages/gen2/start/quickstart/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update getting started with hosting build image information
  src/pages/gen2/start/quickstart/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update wording
  src/pages/gen2/start/quickstart/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix darkmode working for system setting and manual setting
  src/components/GlobalNav/GlobalNav.module.scss
  src/styles/banner.scss
  src/styles/base.scss
  src/styles/code.scss
  src/styles/icons.scss
  src/styles/layout.scss
  src/styles/link-card.scss
  src/styles/mixins.scss
  src/styles/overview.scss
  src/styles/spaceship.scss
  src/styles/styles.scss
Owners: @aws-amplify/documentation-team

remove .resources from backend override access pattern (#6648)
  src/pages/gen2/build-a-backend/add-aws-services/overriding-resources/index.mdx
  src/pages/gen2/build-a-backend/auth/enable-sign-up/index.mdx
  src/pages/gen2/build-a-backend/auth/manage-mfa/index.mdx
  src/pages/gen2/build-a-backend/auth/override-cognito/index.mdx
  src/pages/gen2/build-a-backend/data/override-resources/index.mdx
  src/pages/gen2/build-a-backend/storage/index.mdx
  src/pages/gen2/reference/project-structure/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team, @hdworld11

add callout with messaging for AppSync service limits and increases
  src/fragments/lib/datastore/native_common/real-time.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add link to appsync quotas page
  src/fragments/lib/datastore/native_common/real-time.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Try preload
  src/pages/_app.tsx
Owners: @aws-amplify/documentation-team

[Gen 2] update getting started with hosting build image information (#6725)
  public/images/gen2/getting-started/console4.png
  src/pages/gen2/start/quickstart/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign

Add note for AppSync service limit and increase (DataStore) (#6726)
  src/fragments/lib/datastore/native_common/real-time.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix colorMode not saving to localStorage properly
  src/components/Layout/Layout.tsx
Owners: @aws-amplify/documentation-team

chore: replace iOS with Swift in pull request template (#6564)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @aws-amplify/documentation-team

Update src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

cleanup
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update data examples with new wrapper
  src/pages/gen2/build-a-backend/data/override-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

update colormode switcher styles, fix typo in code comment
  src/components/MDXComponents/code-theme.ts
  src/styles/color-switcher.scss
Owners: @aws-amplify/documentation-team

update background of teal banner and accordion
  src/styles/accordion.scss
  src/styles/banner.scss
Owners: @aws-amplify/documentation-team

apply quickstart updates from PR #6561
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

[Gen2] update data examples with amplifyDynamoDbTables (#6729)
  src/pages/gen2/build-a-backend/data/override-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: update link example in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @aws-amplify/documentation-team

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/pages/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/  @dbanksdesign  @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authz @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authentication @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/lib/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Getting Started
/src/**/start @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/restapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
