Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

Update common.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
Owners: @aws-amplify/amplify-sa

moving from native files
  src/fragments/lib/auth/js/delete_user.mdx
  src/fragments/lib/auth/js/delete_user/10_delete_user.mdx
  src/pages/lib/auth/delete_user/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

adding gist for data cleanup
  src/fragments/lib/auth/js/delete_user.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

single quote
  src/fragments/lib/auth/js/delete_user.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Init new code block
  .gitignore
  package.json
  src/components/CodeBlock/index.tsx
  src/fragments/lib/graphqlapi/graphql-from-node.mdx
  src/plugins/code-block.tsx
  yarn.lock
Owners: @aws-amplify/amplify-sa

Update docsearch appId
  public/scripts/docsearchv2_6_3.js
Owners: none

Update common.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
Owners: @aws-amplify/amplify-sa

fix: use more useful example
  src/pages/cli/restapi/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Getting started with Vue update
  src/fragments/start/getting-started/vue/auth.mdx
  src/fragments/start/getting-started/vue/setup.mdx
Owners: @aws-amplify/amplify-sa

Update src/pages/cli/usage/headless.mdx
  src/pages/cli/usage/headless.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix: add missing snippet in iOS getting started
  src/fragments/start/getting-started/ios/integrate.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

fix: add missing snippet in iOS getting started (#3969)
  src/fragments/start/getting-started/ios/integrate.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

@aws-amplify/ui-angular@2.x.x getting started
  src/fragments/start/getting-started/angular/auth.mdx
  src/fragments/start/getting-started/angular/setup.mdx
Owners: @aws-amplify/amplify-sa

Update flutter getting started to use Amplify Studio
  public/images/lib/getting-started/flutter/connect-to-cloud-open-amplify-studio.png
  public/images/lib/getting-started/flutter/generate-model-admin-ui-create.png
  src/fragments/start/getting-started/flutter/add-api.mdx
  src/fragments/start/getting-started/flutter/generate-model.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Replaced create model image
  public/images/lib/getting-started/flutter/generate-model-admin-ui-create.png
Owners: none

add docs for custom ui, unauthenticated routes
  public/images/flutterAuthenticator/flutter_authenticator_custom_sign_in.png
  public/images/flutterAuthenticator/flutter_authenticator_custom_sign_up.png
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/ui/auth/flutter/authenticator.mdx
  src/fragments/ui/flutter/installation.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

chore: clarify language
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

clean up custon ui language
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/ui/auth/flutter/authenticator.mdx
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Feat/delete user (#3947)
  src/directory/directory.js
  src/fragments/lib/auth/flutter/delete_user/10_delete_user.mdx
  src/fragments/lib/auth/flutter/hub_events/10_listen_events.mdx
  src/fragments/lib/auth/ios/delete_user/10_delete_user.mdx
  src/fragments/lib/auth/ios/hub_events/10_listen_events.mdx
  src/fragments/lib/auth/js/delete_user.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
  src/pages/lib/auth/delete_user/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa, @aws-amplify/ios-team, @aws-amplify/amplify-js

add docs for flutter authenticator custom ui, unauthenticated routes (#3974)
  public/images/flutterAuthenticator/flutter_authenticator_custom_sign_in.png
  public/images/flutterAuthenticator/flutter_authenticator_custom_sign_up.png
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/ui/auth/flutter/authenticator.mdx
  src/fragments/ui/flutter/installation.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update callout for delete user on JS
  src/fragments/lib/auth/js/delete_user.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

docs: add node esm function doc
  src/pages/cli/function/nodejs-esm-support.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
