Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557
/src/pages/ @abdallahshaban557

#CLI
/src/**/cli/ @josefaidt

#Studio
/src/pages/console/ @wrpeck
 
#Analytics
/src/**/**/analytics @abdallahshaban557

#Auth
/src/**/**/auth @abdallahshaban557
/src/**/**/authz @abdallahshaban557
/src/**/**/authentication @abdallahshaban557

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11
/src/**/**/configuration @abdallahshaban557 @hdworld11

#Common
/src/fragments/common @abdallahshaban557
/src/fragments/lib/common @abdallahshaban557

#Data
/src/**/**/datastore @renebrandel
/src/**/**/data @renebrandel

#Debugging
/src/fragments/**/debugging @abdallahshaban557

#Geo
/src/**/**/geo @abdallahshaban557

#Getting Started
/src/**/start @abdallahshaban557

#GraphQL API
/src/**/**/api-graphql @renebrandel
/src/**/**/graphqlapi @renebrandel
/src/**/cli-legacy/graphql-transformer @renebrandel
/src/fragments/sdk/api/**/graphql.mdx @renebrandel

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557

#Info
/src/fragments/**/info @abdallahshaban557

#Interactions
/src/**/**/interactions @abdallahshaban557

#Logging
/src/fragments/lib/logging @abdallahshaban557

#Predictions
/src/**/**/predictions @abdallahshaban557

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11

#PubSub
/src/**/**/pubsub @abdallahshaban557

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557

#Rest API
/src/**/**/api-rest @renebrandel
/src/**/**/restapi @renebrandel
/src/fragments/sdk/api/**/rest.mdx @renebrandel

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel

#Storage
/src/**/**/storage @hdworld11

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel

#Utilities
/src/**/**/utilities @abdallahshaban557

#Docs Engineering
/src/components @aws-amplify/documentation-team 
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team

fix(bug): Links at the bottom of Contribute page are marked as external so should open in a new tab (#5863)
  src/pages/contribute/getting-started.tsx
Owners: @abdallahshaban557

chore: add getUrl change
  src/fragments/lib-v1/storage/js/download.mdx
Owners: @hdworld11

fix: Project setup guides (install @next and remove UI use)
  src/fragments/lib-v1/project-setup/js/getting-started.mdx
  src/fragments/lib-v1/start/getting-started/angular/setup.mdx
  src/fragments/lib-v1/start/getting-started/next/setup.mdx
  src/fragments/lib-v1/start/getting-started/react/setup.mdx
  src/fragments/lib-v1/start/getting-started/reactnative/setup.mdx
  src/fragments/lib-v1/start/getting-started/vanillajs/setup.mdx
  src/fragments/lib-v1/start/getting-started/vue/setup.mdx
  src/fragments/lib-v1/v6/callout/ui.mdx
  src/pages/lib-v1/project-setup/create-application/q/platform/[platform].mdx
Owners: @abdallahshaban557, @hdworld11

fix: Analytics docs for v6
  src/directory/directory.mjs
  src/fragments/lib-v1/analytics/js/getting-started/20_installLib.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/record.mdx
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/pages/lib-v1/analytics/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/identifyuser/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/record/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

chore: add downloadData
  src/fragments/lib-v1/storage/js/download.mdx
Owners: @hdworld11

Updating directory for new page
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

Adding new page for managing user sessions
  src/pages/lib/auth/manage-session/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore: add list api changes
  src/fragments/lib-v1/storage/js/list.mdx
  src/pages/lib-v1/storage/list/q/platform/[platform].mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/configureaccess.mdx
  src/fragments/lib-v1/storage/js/configureaccess.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/download.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/record.mdx
  src/fragments/lib-v1/analytics/js/record.mdx
Owners: @abdallahshaban557

Update src/pages/lib-v1/q/platform/[platform].mdx
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/pages/lib-v1/q/platform/[platform].mdx
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/storage/js/existing-resources.mdx
  src/fragments/lib-v1/storage/js/existing-resources.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/download.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

fix: Refinemens, spacing, adding imports, adding RN page support
  src/directory/directory.mjs
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/fragments/lib-v1/project-setup/js/getting-started.mdx
  src/fragments/lib-v1/start/getting-started/vanillajs/setup.mdx
  src/fragments/lib-v1/storage/js/configureaccess.mdx
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/pages/lib-v1/analytics/identifyuser/q/platform/[platform].mdx
  src/pages/lib-v1/storage/configureaccess/q/platform/[platform].mdx
  src/pages/lib-v1/storage/copy/q/platform/[platform].mdx
  src/pages/lib-v1/storage/download/q/platform/[platform].mdx
  src/pages/lib-v1/storage/existing-resources/q/platform/[platform].mdx
  src/pages/lib-v1/storage/get-properties/q/platform/[platform].mdx
  src/pages/lib-v1/storage/list/q/platform/[platform].mdx
  src/pages/lib-v1/storage/remove/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557, @hdworld11

fix: Hosting link shouldn't open in a new tab on the home page
  src/components/Card/styles.tsx
  src/pages/index.tsx
Owners: @aws-amplify/documentation-team

fix: Hosting link shouldn't open in a new tab on the home page
  src/components/Card/styles.tsx
  src/pages/index.tsx
Owners: @aws-amplify/documentation-team

default unknown internal links to js and pass platform/integration into plugin generated links
  src/components/InternalLink/index.tsx
  src/plugins/internal-link.tsx
Owners: @aws-amplify/documentation-team

Updating the directory with new page title
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

First half of updates to social sign-in
  src/pages/lib/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

putting edit button back on left nav (#5867)
  src/components/Menu/RepoActions/index.tsx
  src/components/Menu/index.tsx
Owners: @aws-amplify/documentation-team

add index pages for secondary menu items
  src/components/ChooseFilterPage/index.tsx
  src/pages/guides/index.mdx
  src/pages/lib-v1/index.mdx
  src/pages/lib/index.mdx
  src/pages/sdk/index.mdx
  src/pages/start/index.mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

adjust secondary nav padding
  src/components/SecondaryNav/styles.tsx
Owners: @aws-amplify/documentation-team

adjust next/previous styling
  src/components/NextPrevious/styles.tsx
Owners: @aws-amplify/documentation-team

update sample amplifyconfiguration json file
  src/fragments/lib/auth/android/getting_started/50_configureBackend.mdx
  src/fragments/lib/auth/ios/getting_started/50_configureBackend.mdx
Owners: @abdallahshaban557

Final Analytics documentation.
  src/fragments/lib-v1/analytics/js/getting-started/30_initAnalytics.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/record.mdx
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/fragments/lib-v1/v6/callout/analytics-providers.mdx
Owners: @abdallahshaban557

remove default internal link target to match previous behavior of selection pages
  src/components/InternalLink/index.tsx
  src/plugins/internal-link.tsx
Owners: @aws-amplify/documentation-team

remove unused param
  src/components/InternalLink/index.tsx
Owners: @aws-amplify/documentation-team

PR feedback.
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

cleanup
  next.config.mjs
Owners: @aws-amplify/documentation-team

testing workflow
  .github/workflows/check_for_new_fragments.yml
  .github/workflows/scripts/check_for_new_fragments.js
Owners: @aws-amplify/documentation-team

feat: Final Analytics Dev Preview docs (#5875)
  src/fragments/lib-v1/analytics/js/getting-started/30_initAnalytics.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/record.mdx
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/fragments/lib-v1/v6/callout/analytics-providers.mdx
Owners: @abdallahshaban557

Update 'Set up Amplify Auth' page.
  src/fragments/lib-v1/v6/callout/auth-authenticator-support.mdx
  src/pages/lib-v1/auth/getting-started/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore: Remove RN from lib-v1, add Util > Hub, fix TS
  src/components/Menu/index.tsx
  src/directory/directory.mjs
  src/fragments/lib-v1/utilities/js/hub.mdx
  src/pages/lib-v1/utilities/hub/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557
