Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign, @josefaidt, @hdworld11

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/pages/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/  @dbanksdesign  @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authz @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authentication @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/lib/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Getting Started
/src/**/start @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/restapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team

fix(api): wrong JS graphql custom headers example (#6569)
  src/pages/[platform]/build-a-backend/graphqlapi/connect-to-api/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

chore:add ts samples and fix js typo
  src/pages/[platform]/build-a-backend/storage/upload/index.mdx
Owners: @hdworld11, @aws-amplify/documentation-team

feat(api): add cancel api to js doc
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/restapi/cancel-api-requests/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign

Apply suggestions from code review
  src/fragments/lib-v1/project-setup/ios/combine/combine.mdx
  src/pages/[platform]/prev/start/project-setup/index.mdx
  src/pages/[platform]/start/project-setup/prerequisites/index.mdx
Owners: @renebrandel, @dbanksdesign, @hdworld11, @aws-amplify/documentation-team

chore(styles): add styling for kbd element (#6681)
  src/styles/base.scss
Owners: @aws-amplify/documentation-team

fix: formatting on gen2 home page (#6684)
  src/components/Columns/Columns.tsx
  src/pages/gen2/index.tsx
  src/styles/feature-links.scss
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign

chore: add current page indicator and aria-current to main menu items (#6682)
  src/components/Menu/MenuItem.tsx
  src/styles/menu.scss
Owners: @aws-amplify/documentation-team

Update RN Getting Started Guide UI deps
  src/pages/[platform]/start/getting-started/auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

running tests on build
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

Use 'path' instead of 'route' for flutter api reference directory entry
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

fix:ssr generic adapter sample code (js/12578) (#6689)
  src/pages/[platform]/build-a-backend/server-side-rendering/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update RN Getting Started Guide UI deps (#6693)
  src/pages/[platform]/start/getting-started/auth/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

chore: formatting changes
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/fragments/lib/troubleshooting/common/upgrading.mdx
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: update RN instructions to call out deprecation
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/fragments/lib/troubleshooting/common/upgrading.mdx
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

revert yarn.lock
  yarn.lock
Owners: @aws-amplify/documentation-team

chore: Re-enable schema generation instructions
  src/pages/[platform]/build-a-backend/graphqlapi/connect-api-to-existing-database/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

chore: use default values with Cache.createInstance() (aws-amplify/amplify-js#12705)
  src/pages/[platform]/build-a-backend/utilities/cache/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: Clarify existing resources/RestAPI usage (#6658)
  src/pages/[platform]/build-a-backend/restapi/existing-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

consolidate fonts
  public/fonts/AmazonEmberDisplay_Bd.ttf
  public/fonts/AmazonEmberDisplay_BdIt.ttf
  public/fonts/AmazonEmberDisplay_Rg.ttf
  public/fonts/AmazonEmberDisplay_RgIt.ttf
  public/fonts/AmazonEmberMono_Bd.ttf
  public/fonts/AmazonEmber_Bd.ttf
  public/fonts/Amazon_Ember_Bd.ttf
  public/fonts/Amazon_Ember_BdIt.ttf
  public/fonts/Amazon_Ember_Lt.ttf
  public/fonts/Amazon_Ember_LtIt.ttf
  public/fonts/Amazon_Ember_Rg.ttf
  public/fonts/Amazon_Ember_RgIt.ttf
  public/fonts/Amazon_Ember_Th.ttf
  public/fonts/Amazon_Ember_ThIt.ttf
  src/styles/contribute-styles.scss
  src/styles/font-faces.scss
Owners: @aws-amplify/documentation-team

feat: add restapi migration guide (#6677)
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/restapi/restapi-v5-to-v6-migration-guide/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign

chore: Re-enable schema generation instructions (#6697)
  src/pages/[platform]/build-a-backend/graphqlapi/connect-api-to-existing-database/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Adding first of existing resources guides
  public/images/existing-resources/amplify-amplifyconfig-mobile-cli.png
  public/images/existing-resources/app-root-folder-web-cli.png
  public/images/existing-resources/app-vscode-mobile-cli.png
  public/images/existing-resources/app-vscode-web-cli.png
  public/images/existing-resources/connect-to-aws-web-cli.mp4
  public/images/existing-resources/dev-amplifyappid-mobile-cli.png
  public/images/existing-resources/dev-amplifyappid-web-cli.png
  public/images/existing-resources/graphql-web-cli.png
  public/images/existing-resources/lib-models-dart-mobile-cli.png
  public/images/existing-resources/publish-app-web-cli.png
  public/images/existing-resources/team-provider-info-mobile-cli.png
  public/images/existing-resources/team-provider-info-web-cli.png
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/existing-resources/cdk/index.mdx
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
  src/pages/[platform]/build-a-backend/existing-resources/index.mdx
  src/pages/gen2/build-a-backend/add-aws-services/custom-resources/index.mdx
  src/pages/gen2/build-a-backend/add-aws-services/overriding-resources/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign, @josefaidt

Use 'path' instead of 'route' for flutter api reference directory entry (#6695)
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

fix: update npm install scripts per PR feedback
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Remove version selection callout
  src/fragments/common/version-selection.mdx
  src/pages/[platform]/build-ui/index.mdx
  src/pages/[platform]/deploy-and-host/index.mdx
  src/pages/[platform]/start/getting-started/index.mdx
  src/pages/[platform]/start/index.mdx
  src/pages/[platform]/start/project-setup/index.mdx
  src/pages/[platform]/tools/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team, @hdworld11

Update message order on prereq page
  src/pages/[platform]/start/project-setup/prerequisites/index.mdx
Owners: @renebrandel, @dbanksdesign, @hdworld11, @aws-amplify/documentation-team

Additional edits
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Update links
  src/pages/[platform]/prev/start/index.mdx
  src/pages/[platform]/start/project-setup/prerequisites/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team, @hdworld11

fix: match migration guide examples between v5/v6, proof-read (#6676)
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Minor updates
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Update index.mdx
  src/pages/[platform]/build-a-backend/restapi/gen-ai/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Minor formatting update
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Update prev Project setup page and links to content (#6690)
  redirects.json
  src/fragments/lib-v1/project-setup/android/coroutines/coroutines.mdx
  src/fragments/lib-v1/project-setup/android/rxjava/rxjava.mdx
  src/fragments/lib-v1/project-setup/android/use-existing-resources/use-existing-resources.mdx
  src/fragments/lib-v1/project-setup/flutter/platform-setup/platform-setup.mdx
  src/fragments/lib-v1/project-setup/ios/combine/combine.mdx
  src/fragments/lib-v1/project-setup/ios/use-existing-resources/use-existing-resources.mdx
  src/fragments/lib-v1/project-setup/native_common/create-application/common.mdx
  src/pages/[platform]/prev/start/index.mdx
  src/pages/[platform]/prev/start/project-setup/create-application/index.mdx
  src/pages/[platform]/prev/start/project-setup/index.mdx
  src/pages/[platform]/start/project-setup/prerequisites/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign, @hdworld11

consolidate fonts (#6699)
  public/fonts/AmazonEmberDisplay_Bd.ttf
  public/fonts/AmazonEmberDisplay_BdIt.ttf
  public/fonts/AmazonEmberDisplay_Rg.ttf
  public/fonts/AmazonEmberDisplay_RgIt.ttf
  public/fonts/AmazonEmberMono_Bd.ttf
  public/fonts/AmazonEmber_Bd.ttf
  public/fonts/Amazon_Ember_Bd.ttf
  public/fonts/Amazon_Ember_BdIt.ttf
  public/fonts/Amazon_Ember_Lt.ttf
  public/fonts/Amazon_Ember_LtIt.ttf
  public/fonts/Amazon_Ember_Rg.ttf
  public/fonts/Amazon_Ember_RgIt.ttf
  public/fonts/Amazon_Ember_Th.ttf
  public/fonts/Amazon_Ember_ThIt.ttf
  src/styles/contribute-styles.scss
  src/styles/font-faces.scss
Owners: @aws-amplify/documentation-team

Remove CSP section from customHttp.yml (#6602)
  customHttp.yml
  src/pages/_document.tsx
Owners: @aws-amplify/documentation-team

Existing aws resources (#6701)
  src/pages/[platform]/build-a-backend/existing-resources/cli/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

Add link to prev content
  src/pages/[platform]/tools/libraries/configure-categories/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Add missing index page for prev tools
  src/pages/[platform]/prev/tools/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team
