Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa

rename create-campaigns dir to create-campaign
  src/pages/lib/in-app-messaging/create-campaign/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

added more override docs
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fixed typo
  src/pages/cli/graphql/override.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

adjusted overview wording for preview - and screesnhot on getting started
  public/images/lib/in-app-messaging/in-app-message-preview.png
  src/fragments/lib/in-app-messaging/js/overview.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

updated screenshots on create in-app campaign
  public/images/lib/in-app-messaging/campaign-settings.png
  public/images/lib/in-app-messaging/choose-campaign-segment.png
  public/images/lib/in-app-messaging/in-app-message-details.png
Owners: none

Update src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/overview.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Added terms docs and migration docs
  src/components/MigrationAlert/index.tsx
  src/directory/directory.js
  src/pages/cli-legacy/graphql-transformer/auth.mdx
  src/pages/cli-legacy/graphql-transformer/codegen.mdx
  src/pages/cli-legacy/graphql-transformer/config-params.mdx
  src/pages/cli-legacy/graphql-transformer/connection.mdx
  src/pages/cli-legacy/graphql-transformer/dataaccess.mdx
  src/pages/cli-legacy/graphql-transformer/directives.mdx
  src/pages/cli-legacy/graphql-transformer/examples.mdx
  src/pages/cli-legacy/graphql-transformer/function.mdx
  src/pages/cli-legacy/graphql-transformer/http.mdx
  src/pages/cli-legacy/graphql-transformer/key.mdx
  src/pages/cli-legacy/graphql-transformer/model.mdx
  src/pages/cli-legacy/graphql-transformer/overview.mdx
  src/pages/cli-legacy/graphql-transformer/predictions.mdx
  src/pages/cli-legacy/graphql-transformer/relational.mdx
  src/pages/cli-legacy/graphql-transformer/resolvers.mdx
  src/pages/cli-legacy/graphql-transformer/searchable.mdx
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/client-code-generation.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/examples-and-solutions.mdx
  src/pages/cli/graphql/overview.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
  src/plugins/import.tsx
Owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli

cleaned up the overview docs
  src/pages/cli/graphql/overview.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Address friction logs
  public/images/ios-geocoder-custom-images.png
  public/images/ios-geocoder-search-box-map.png
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
  src/fragments/lib/geo/ios/maps/20_display_map.mdx
  src/fragments/lib/geo/ios/search/10_search_by_text.mdx
  src/fragments/lib/geo/ios/search/30_location_search_map.mdx
  src/fragments/lib/geo/native_common/search/common.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Added reference to Resolver Mapping Template reference programming guide
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

add Overview image, update some screenshots
  public/images/lib/in-app-messaging/campaign-settings.png
  public/images/lib/in-app-messaging/choose-campaign-segment.png
  public/images/lib/in-app-messaging/in-app-message-details.png
  public/images/lib/in-app-messaging/preview-console-and-simulator.png
  src/fragments/lib/in-app-messaging/js/overview.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Add cSpell exception
  src/fragments/lib/geo/ios/search/30_location_search_map.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Add In-App Messaging Getting Started (Developer Preview) (#3803)
  public/images/lib/in-app-messaging/add-resource-arn.png
  public/images/lib/in-app-messaging/campaign-settings.png
  public/images/lib/in-app-messaging/campaign-setup.png
  public/images/lib/in-app-messaging/choose-campaign-segment.png
  public/images/lib/in-app-messaging/create-pinpoint-campaign.png
  public/images/lib/in-app-messaging/in-app-message-details.png
  public/images/lib/in-app-messaging/in-app-message-preview.png
  public/images/lib/in-app-messaging/pinpoint-console-policy-action.png
  public/images/lib/in-app-messaging/preview-console-and-simulator.png
  src/directory/directory.js
  src/fragments/lib/in-app-messaging/js/clear-messages.mdx
  src/fragments/lib/in-app-messaging/js/create-campaign.mdx
  src/fragments/lib/in-app-messaging/js/customize.mdx
  src/fragments/lib/in-app-messaging/js/display-message.mdx
  src/fragments/lib/in-app-messaging/js/getting-started.mdx
  src/fragments/lib/in-app-messaging/js/identify-user.mdx
  src/fragments/lib/in-app-messaging/js/overview.mdx
  src/fragments/lib/in-app-messaging/js/prerequisites.mdx
  src/fragments/lib/in-app-messaging/js/resolve-conflicts.mdx
  src/fragments/lib/in-app-messaging/js/respond-interaction-events.mdx
  src/fragments/lib/in-app-messaging/js/sync-messages.mdx
  src/fragments/start/getting-started/reactnative/nextsteps.mdx
  src/pages/lib/in-app-messaging/clear-messages/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/create-campaign/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/customize/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/display-message/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/getting-started/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/identify-user/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/overview/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/prerequisites/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/resolve-conflicts/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/respond-interaction-events/q/platform/[platform].mdx
  src/pages/lib/in-app-messaging/sync-messages/q/platform/[platform].mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Added final touches to the doc
  src/pages/cli/graphql/override.mdx
  src/pages/cli/graphql/troubleshooting.mdx
  src/pages/cli/migration/transformer-migration.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

feat(iOS): Add customer use case examples / friction log recommendations. (#3816)
  public/images/ios-geocoder-custom-images.png
  public/images/ios-geocoder-search-box-map.png
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
  src/fragments/lib/geo/ios/maps/20_display_map.mdx
  src/fragments/lib/geo/ios/search/10_search_by_text.mdx
  src/fragments/lib/geo/ios/search/30_location_search_map.mdx
  src/fragments/lib/geo/native_common/search/common.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

GraphQL Transformer v2 documentation (#3801)
  cspell.json
  public/images/cli/graphql/default-auth-mode-migration.png
  public/images/cli/graphql/key-migration.png
  public/images/cli/graphql/owner-auth-migration-2.png
  public/images/cli/graphql/owner-auth-migration.png
  src/components/MigrationAlert/index.tsx
  src/directory/directory.js
  src/pages/cli-legacy/graphql-transformer/auth.mdx
  src/pages/cli-legacy/graphql-transformer/codegen.mdx
  src/pages/cli-legacy/graphql-transformer/config-params.mdx
  src/pages/cli-legacy/graphql-transformer/connection.mdx
  src/pages/cli-legacy/graphql-transformer/dataaccess.mdx
  src/pages/cli-legacy/graphql-transformer/directives.mdx
  src/pages/cli-legacy/graphql-transformer/examples.mdx
  src/pages/cli-legacy/graphql-transformer/function.mdx
  src/pages/cli-legacy/graphql-transformer/http.mdx
  src/pages/cli-legacy/graphql-transformer/key.mdx
  src/pages/cli-legacy/graphql-transformer/model.mdx
  src/pages/cli-legacy/graphql-transformer/overview.mdx
  src/pages/cli-legacy/graphql-transformer/predictions.mdx
  src/pages/cli-legacy/graphql-transformer/relational.mdx
  src/pages/cli-legacy/graphql-transformer/resolvers.mdx
  src/pages/cli-legacy/graphql-transformer/searchable.mdx
  src/pages/cli-legacy/graphql-transformer/storage.mdx
  src/pages/cli-legacy/graphql-transformer/versioned.mdx
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/client-code-generation.mdx
  src/pages/cli/graphql/connect-to-machine-learning-services.mdx
  src/pages/cli/graphql/custom-business-logic.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/graphql/examples-and-solutions.mdx
  src/pages/cli/graphql/offline-data-access-and-conflict-resolution.mdx
  src/pages/cli/graphql/override.mdx
  src/pages/cli/graphql/overview.mdx
  src/pages/cli/graphql/search-and-result-aggregations.mdx
  src/pages/cli/graphql/troubleshooting.mdx
  src/pages/cli/migration/transformer-migration.mdx
  src/pages/cli/restapi/override.mdx
  src/plugins/import.tsx
  src/styles/elements.css
Owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli

Small changes as suggested
  src/fragments/lib/graphqlapi/graphql-from-node.mdx
Owners: @aws-amplify/amplify-sa

fix:hidden footer text
  src/components/SidebarLayoutToggle/styles.tsx
Owners: none

chore(iOS): Geo update adapter Xcode version pre-req
  src/fragments/lib/geo/ios/getting_started/10_pre_req.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

Small fixups
  src/components/CodeBlock/index.tsx
  src/plugins/code-block.tsx
Owners: none

chore(iOS): Geo update adapter Xcode version pre-req (#3819)
  src/fragments/lib/geo/ios/getting_started/10_pre_req.mdx
Owners: @aws-amplify/ios-team, @aws-amplify/amplify-sa

[Android] add geo escape hatch instructions
  src/directory/directory.js
  src/fragments/lib/geo/android/escapehatch.mdx
  src/pages/lib/geo/escapehatch/q/platform/[platform].mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

Update observe-query-snippet.mdx
  src/fragments/lib/datastore/android/real-time/observe-query-snippet.mdx
Owners: @aws-amplify/android-team, @aws-amplify/amplify-sa

fix: missing "]"
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Changing authToken to token
  src/fragments/lib/graphqlapi/js/authz.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Changing nextjs image support statement as it is deprecated information
  src/fragments/guides/hosting/nextjs.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa

added documentation for Admin role access
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update authorization-rules.mdx
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

addressed nits
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Fixed duplicate images
  src/pages/cli/migration/transformer-migration.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Rest API restricted by user-groups section
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/restapi/restapi.mdx
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/restapi/restapi.mdx
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/restapi/restapi.mdx
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/restapi/restapi.mdx
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

address PR comments
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix: replace user-group with User Pool Group
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix: standardized user-group to User Pool Group
  src/pages/cli/restapi/restapi.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa
