Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

chore: Tweak Amplify Libraries wording. (#5915)
  src/fragments/lib-v1/ssr/nextjs/version-range-callout.mdx
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore: Add back custom OAuth state event documentation (#5918)
  src/fragments/lib-v1/auth/js/hub_events/10_listen_events.mdx
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

Added MFA setup link.
  src/pages/lib-v1/auth/getting-started/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore: Updated Auth pages (#5919)
  src/fragments/lib-v1/auth/js/advanced.mdx
  src/fragments/lib-v1/auth/js/common_prereq.mdx
  src/pages/lib-v1/auth/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

Added return types
  src/pages/lib-v1/auth/emailpassword/q/platform/[platform].mdx
Owners: @abdallahshaban557

PR feedback
  src/pages/lib-v1/auth/emailpassword/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore: Add return values for signUp, signIn, and confirmSignUp APIs (#5922)
  src/pages/lib-v1/auth/emailpassword/q/platform/[platform].mdx
Owners: @abdallahshaban557

fix(flutter/restapi): removes outdated android oidc disclaimer
  src/fragments/lib-v1/restapi/flutter/authz.mdx
  src/fragments/lib/restapi/flutter/authz.mdx
Owners: @renebrandel

(chore): storage section feedback (#5917)
  public/images/storage/CORS1.png
  public/images/storage/CORS2.png
  public/images/storage/CORS3.png
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/fragments/lib/storage/js/getting-started.mdx
Owners: @aws-amplify/documentation-team, @hdworld11

Adding custom resource error message when deployed from studio
  src/pages/console/adminui/extend-cli.mdx
Owners: @wrpeck

adding test page and test fragment
  src/fragments/cli/testfragment.mdx
  src/pages/cli/auth/testpage.mdx
Owners: @josefaidt, @abdallahshaban557

Updates to the Manage User Profile
  src/pages/lib/auth/manageusers/q/platform/[platform].mdx
Owners: @abdallahshaban557

updated Apollo Server Lambda link
  src/pages/guides/functions/graphql-server-in-lambda/q/platform/[platform].mdx
Owners: @abdallahshaban557

comment update
  .github/workflows/scripts/check_for_new_fragments.js
Owners: @aws-amplify/documentation-team

comment update
  .github/workflows/scripts/check_for_new_fragments.js
Owners: @aws-amplify/documentation-team

removing tests
  src/fragments/cli/testfragment.mdx
  src/pages/cli/auth/testpage.mdx
Owners: @josefaidt, @abdallahshaban557

revised comment
  .github/workflows/scripts/check_for_new_fragments.js
Owners: @aws-amplify/documentation-team

Updating directory for password mgmt
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

Update Readme with fragment update
  Readme.md
Owners: @aws-amplify/documentation-team

Update Readme.md
  Readme.md
Owners: @aws-amplify/documentation-team

GitHub workflow to block PR if new fragments are created (#5882)
  .github/workflows/check_for_new_fragments.yml
  .github/workflows/scripts/check_for_new_fragments.js
Owners: @aws-amplify/documentation-team

Update src/pages/console/adminui/extend-cli.mdx
  src/pages/console/adminui/extend-cli.mdx
Owners: @wrpeck

Update src/pages/console/adminui/extend-cli.mdx
  src/pages/console/adminui/extend-cli.mdx
Owners: @wrpeck

Update CLI version requirement for Next.js.
  src/fragments/lib-v1/start/getting-started/next/setup.mdx
Owners: @abdallahshaban557

Update CLI version requirement for Next.js. (#5928)
  src/fragments/lib-v1/start/getting-started/next/setup.mdx
Owners: @abdallahshaban557

add flutter lib-v1 to generatePathMap
  generatePathMap.cjs.js
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

add flutter lib-v1 to generatePathMap (#5929)
  generatePathMap.cjs.js
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

add js to lib-v1
  generatePathMap.cjs.js
Owners: @aws-amplify/documentation-team

Remove 'react-native' references from `lib-v1` pages & fragments.
  src/fragments/lib-v1/analytics/js/getting-started/30_initAnalytics.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/pages/lib-v1/analytics/autotrack/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/create-custom-plugin/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/enable-disable/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/existing-resources/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/identifyuser/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/record/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/streaming/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/update-endpoint/q/platform/[platform].mdx
  src/pages/lib-v1/auth/emailpassword/q/platform/[platform].mdx
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
  src/pages/lib-v1/project-setup/create-application/q/platform/[platform].mdx
  src/pages/lib-v1/project-setup/prereq/q/platform/[platform].mdx
  src/pages/lib-v1/q/platform/[platform].mdx
  src/pages/lib-v1/storage/configureaccess/q/platform/[platform].mdx
  src/pages/lib-v1/storage/copy/q/platform/[platform].mdx
  src/pages/lib-v1/storage/download/q/platform/[platform].mdx
  src/pages/lib-v1/storage/existing-resources/q/platform/[platform].mdx
  src/pages/lib-v1/storage/get-properties/q/platform/[platform].mdx
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/storage/list/q/platform/[platform].mdx
  src/pages/lib-v1/storage/remove/q/platform/[platform].mdx
  src/pages/lib-v1/troubleshooting/upgrading/q/platform/[platform].mdx
Owners: @abdallahshaban557, @hdworld11

Remove duplicated alt text.
  src/fragments/lib-v1/storage/js/getting-started.mdx
Owners: @hdworld11

chore: Remove 'react-native' references from `lib-v1` pages & fragments (#5931)
  src/fragments/lib-v1/analytics/js/getting-started/30_initAnalytics.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/pages/lib-v1/analytics/autotrack/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/create-custom-plugin/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/enable-disable/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/existing-resources/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/identifyuser/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/record/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/streaming/q/platform/[platform].mdx
  src/pages/lib-v1/analytics/update-endpoint/q/platform/[platform].mdx
  src/pages/lib-v1/auth/emailpassword/q/platform/[platform].mdx
  src/pages/lib-v1/auth/social/q/platform/[platform].mdx
  src/pages/lib-v1/project-setup/create-application/q/platform/[platform].mdx
  src/pages/lib-v1/project-setup/prereq/q/platform/[platform].mdx
  src/pages/lib-v1/q/platform/[platform].mdx
  src/pages/lib-v1/storage/configureaccess/q/platform/[platform].mdx
  src/pages/lib-v1/storage/copy/q/platform/[platform].mdx
  src/pages/lib-v1/storage/download/q/platform/[platform].mdx
  src/pages/lib-v1/storage/existing-resources/q/platform/[platform].mdx
  src/pages/lib-v1/storage/get-properties/q/platform/[platform].mdx
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
  src/pages/lib-v1/storage/list/q/platform/[platform].mdx
  src/pages/lib-v1/storage/remove/q/platform/[platform].mdx
  src/pages/lib-v1/troubleshooting/upgrading/q/platform/[platform].mdx
Owners: @abdallahshaban557, @hdworld11

fix filter errors
  src/pages/lib-v1/analytics/enable-disable/q/platform/[platform].mdx
  src/pages/lib-v1/auth/auth-events/q/platform/[platform].mdx
  src/pages/lib-v1/datastore/datastore-events/q/platform/[platform].mdx
  src/pages/lib-v1/storage/overview/q/platform/[platform].mdx
  src/pages/lib-v1/storage/triggers/q/platform/[platform].mdx
Owners: @abdallahshaban557, @renebrandel, @hdworld11

add missing height
  src/fragments/lib-v1/project-setup/ios/use-existing-resources/use-existing-resources.mdx
Owners: @abdallahshaban557, @hdworld11

Updates for password management
  src/pages/lib/auth/password_management/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/pages/console/adminui/extend-cli.mdx
  src/pages/console/adminui/extend-cli.mdx
Owners: @wrpeck

Update src/pages/console/adminui/extend-cli.mdx
  src/pages/console/adminui/extend-cli.mdx
Owners: @wrpeck

Added addition js InlineFilters.
  src/pages/lib-v1/auth/manageusers/q/platform/[platform].mdx
  src/pages/lib-v1/auth/switch-auth/q/platform/[platform].mdx
Owners: @abdallahshaban557

pushed content changes
  src/pages/lib/graphqlapi/connect/q/platform/[platform].mdx
Owners: @renebrandel

Fixed minor typos.
  src/pages/lib/graphqlapi/mutate-data/q/platform/[platform].mdx
Owners: @renebrandel

removed graphqlOperation references
  src/pages/lib/graphqlapi/connect/q/platform/[platform].mdx
Owners: @renebrandel

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557
/src/pages/ @abdallahshaban557

#CLI
/src/**/cli/ @josefaidt

#Studio
/src/pages/console/ @wrpeck
 
#Analytics
/src/**/**/analytics @abdallahshaban557

#Auth
/src/**/**/auth @abdallahshaban557
/src/**/**/authz @abdallahshaban557
/src/**/**/authentication @abdallahshaban557

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11
/src/**/**/configuration @abdallahshaban557 @hdworld11

#Common
/src/fragments/common @abdallahshaban557
/src/fragments/lib/common @abdallahshaban557

#Data
/src/**/**/datastore @renebrandel
/src/**/**/data @renebrandel

#Debugging
/src/fragments/**/debugging @abdallahshaban557

#Geo
/src/**/**/geo @abdallahshaban557

#Getting Started
/src/**/start @abdallahshaban557

#GraphQL API
/src/**/**/api-graphql @renebrandel
/src/**/**/graphqlapi @renebrandel
/src/**/cli-legacy/graphql-transformer @renebrandel
/src/fragments/sdk/api/**/graphql.mdx @renebrandel

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557

#Info
/src/fragments/**/info @abdallahshaban557

#Interactions
/src/**/**/interactions @abdallahshaban557

#Logging
/src/fragments/lib/logging @abdallahshaban557

#Predictions
/src/**/**/predictions @abdallahshaban557

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11

#PubSub
/src/**/**/pubsub @abdallahshaban557

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557

#Rest API
/src/**/**/api-rest @renebrandel
/src/**/**/restapi @renebrandel
/src/fragments/sdk/api/**/rest.mdx @renebrandel

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel

#Storage
/src/**/**/storage @hdworld11

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel

#Utilities
/src/**/**/utilities @abdallahshaban557

#Docs Engineering
/src/components @aws-amplify/documentation-team 
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
