Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

fix: making hosting link open in a new tab on the home page (#5872)
  src/components/Card/styles.tsx
  src/pages/index.tsx
Owners: @aws-amplify/documentation-team

Fix: Removing identify user feature in the left side navbar for JS (#5869)
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

Minor editorial fixes for git-based-deployments.mdx (#5797)
  src/fragments/guides/hosting/git-based-deployments.mdx
Owners: @abdallahshaban557

AWS Amplify docs adding Amplify Studio which was missing (#5490)
  src/pages/start/q/integration/[integration].mdx
Owners: @abdallahshaban557

Second half update for js content
  src/pages/lib/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

gh workflow to block new fragments
  .github/workflows/check_for_new_fragments.yml
  .github/workflows/scripts/check_for_new_fragments.js
  src/pages/cli/auth/testpage.mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

fix: scroll behavior on left menu (#5881)
  src/components/Menu/styles.tsx
Owners: @aws-amplify/documentation-team

fix: resolve broken links in iOS
  src/fragments/lib-v1/project-setup/ios/prereq/prereq.mdx
  src/fragments/lib/graphqlapi/ios/working-with-files.mdx
Owners: @abdallahshaban557, @hdworld11, @renebrandel

remove test page
  src/pages/cli/auth/testpage.mdx
Owners: @abdallahshaban557

feat: update user attributes
  src/fragments/lib-v1/auth/js/password_management/reset_password.mdx
  src/fragments/lib-v1/auth/js/user_attributes/confirm_user_attribute.mdx
  src/fragments/lib-v1/auth/js/user_attributes/get_current_user.mdx
  src/fragments/lib-v1/auth/js/user_attributes/update_user_attributes.mdx
  src/pages/lib-v1/auth/manageusers/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
  src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
  src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
  src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
  src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
Owners: @abdallahshaban557

comment updates
  src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
  src/pages/lib-v1/troubleshooting/strict-mode/q/platform/[platform].mdx
Owners: @abdallahshaban557

feat: migrate auth events
  src/fragments/lib-v1/auth/js/hub_events/10_listen_events.mdx
  src/pages/lib-v1/auth/auth-events/q/platform/[platform].mdx
Owners: @abdallahshaban557

fix: Troubleshooting v6 updates (#5892)
  src/directory/directory.mjs
  src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
  src/pages/lib-v1/troubleshooting/strict-mode/q/platform/[platform].mdx
  src/pages/lib-v1/troubleshooting/upgrading/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

chore(storage): cleanup
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
Owners: @hdworld11

Update Amplify Android Versions (#5891)
  src/constants/versions.ts
Owners: @aws-amplify/documentation-team

add a supported version range callout and fix details
  src/fragments/lib-v1/ssr/nextjs/getting-started.mdx
  src/fragments/lib-v1/ssr/nextjs/version-range-callout.mdx
  src/fragments/lib-v1/start/getting-started/next/setup.mdx
Owners: @abdallahshaban557

chore: update indentation
  src/fragments/lib-v1/auth/js/mfa_preference/fetch_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/sms/sign_up.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_authenticated.mdx
  src/fragments/lib-v1/auth/js/totp/update_mfa_preference.mdx
Owners: @abdallahshaban557

Adding InlineFragment content
  Readme.md
Owners: @aws-amplify/documentation-team

update signup indentation
  src/fragments/lib-v1/auth/js/sms/sign_up.mdx
Owners: @abdallahshaban557

feat(js): V6 documentation for Next.js (#5888)
  src/directory/directory.mjs
  src/fragments/lib-v1/ssr/nextjs/getting-started.mdx
  src/fragments/lib-v1/ssr/nextjs/version-range-callout.mdx
  src/fragments/lib-v1/start/getting-started/next/setup.mdx
  src/pages/lib-v1/ssr/nextjs/q/platform/[platform].mdx
  src/pages/lib-v1/ssr/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

Added React Native content
  src/pages/lib/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update CLI diff for js and react-native
  src/pages/lib/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore(storage): cleanup
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
Owners: @hdworld11

Remove `parseAmplifyConfig` references.
  src/fragments/lib-v1/analytics/js/getting-started/30_initAnalytics.mdx
  src/pages/lib-v1/auth/getting-started/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore(storage): cleanup
  src/fragments/lib-v1/storage/js/remove.mdx
Owners: @hdworld11

chore(storage): cleanup (#5897)
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
Owners: @hdworld11

Remove `parseAmplifyConfig` references. (#5900)
  src/fragments/lib-v1/analytics/js/getting-started/30_initAnalytics.mdx
  src/pages/lib-v1/auth/getting-started/q/platform/[platform].mdx
Owners: @abdallahshaban557

dan changes part1
  src/pages/lib/auth/mfa/q/platform/[platform].mdx
Owners: @abdallahshaban557

feat(storage): add transfer-acceleration to js v6
  src/directory/directory.mjs
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/transfer-acceleration.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/pages/lib-v1/storage/transfer-acceleration/q/platform/[platform].mdx
  src/pages/lib-v1/storage/upload/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @hdworld11

fix: code cleanup
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/transfer-acceleration.mdx
Owners: @hdworld11

add core-js package to react native dependencies
  src/fragments/lib/datastore/react-native/getting-started/30_platformIntegration.mdx
Owners: @renebrandel

Remove need for skipLibCheck in Vue.
  src/fragments/lib-v1/start/getting-started/vue/setup.mdx
Owners: @abdallahshaban557

Added sign in, sign up, and sign out API documentation.
  src/pages/lib-v1/auth/emailpassword/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/pages/lib-v1/storage/upload/q/platform/[platform].mdx
  src/pages/lib-v1/storage/upload/q/platform/[platform].mdx
Owners: @hdworld11

Update src/pages/lib-v1/storage/transfer-acceleration/q/platform/[platform].mdx
  src/pages/lib-v1/storage/transfer-acceleration/q/platform/[platform].mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/transfer-acceleration.mdx
  src/fragments/lib-v1/storage/js/transfer-acceleration.mdx
Owners: @hdworld11

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557
/src/pages/ @abdallahshaban557

#CLI
/src/**/cli/ @josefaidt

#Studio
/src/pages/console/ @wrpeck
 
#Analytics
/src/**/**/analytics @abdallahshaban557

#Auth
/src/**/**/auth @abdallahshaban557
/src/**/**/authz @abdallahshaban557
/src/**/**/authentication @abdallahshaban557

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11
/src/**/**/configuration @abdallahshaban557 @hdworld11

#Common
/src/fragments/common @abdallahshaban557
/src/fragments/lib/common @abdallahshaban557

#Data
/src/**/**/datastore @renebrandel
/src/**/**/data @renebrandel

#Debugging
/src/fragments/**/debugging @abdallahshaban557

#Geo
/src/**/**/geo @abdallahshaban557

#Getting Started
/src/**/start @abdallahshaban557

#GraphQL API
/src/**/**/api-graphql @renebrandel
/src/**/**/graphqlapi @renebrandel
/src/**/cli-legacy/graphql-transformer @renebrandel
/src/fragments/sdk/api/**/graphql.mdx @renebrandel

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557

#Info
/src/fragments/**/info @abdallahshaban557

#Interactions
/src/**/**/interactions @abdallahshaban557

#Logging
/src/fragments/lib/logging @abdallahshaban557

#Predictions
/src/**/**/predictions @abdallahshaban557

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11

#PubSub
/src/**/**/pubsub @abdallahshaban557

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557

#Rest API
/src/**/**/api-rest @renebrandel
/src/**/**/restapi @renebrandel
/src/fragments/sdk/api/**/rest.mdx @renebrandel

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel

#Storage
/src/**/**/storage @hdworld11

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel

#Utilities
/src/**/**/utilities @abdallahshaban557

#Docs Engineering
/src/components @aws-amplify/documentation-team 
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
