Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @renebrandel, @dbanksdesign, @josefaidt, @hdworld11

fix: Analytics JS fragments in Angular, React, Vue, and Next.js
  src/pages/[platform]/build-a-backend/more-features/analytics/existing-resources/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: fix v6 block not showing up for cancel example
  src/pages/[platform]/build-a-backend/restapi/restapi-v5-to-v6-migration-guide/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Clarified "Legacy" designation in Auth.signUp/Auth.signIn
  src/pages/[platform]/build-a-backend/auth/auth-migration-guide/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

blockswitcher changes to work with v6 of ui-react
  src/components/BlockSwitcher/BlockSwitcher.tsx
Owners: @aws-amplify/documentation-team

Improve based on the comments
  src/pages/[platform]/build-a-backend/auth/add-social-provider/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Remove redundant quote
  src/pages/[platform]/build-a-backend/auth/add-social-provider/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: fix v6 block not showing up for cancel example (#6747)
  src/pages/[platform]/build-a-backend/restapi/restapi-v5-to-v6-migration-guide/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

chore(js-auth): complete oauth in MPAs (#6741)
  src/pages/[platform]/build-a-backend/auth/add-social-provider/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

gen2 auth fix immutable -> mutable (#6739)
  src/pages/gen2/build-a-backend/auth/manage-user-profile/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: wrong import shown for storage getUrl in migration guide
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix: wrong import shown for storage getUrl in migration guide (#6749)
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

feat: add migration guide for Storage category.
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/storage/storage-v5-to-v6-migration-guide/index.mdx
Owners: @aws-amplify/documentation-team, @hdworld11

fix: fix spelling errors
  src/pages/[platform]/build-a-backend/storage/storage-v5-to-v6-migration-guide/index.mdx
Owners: @hdworld11, @aws-amplify/documentation-team

feat: add storage guide link to migration overview
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

feat: add examples for getProperties
  src/pages/[platform]/build-a-backend/storage/storage-v5-to-v6-migration-guide/index.mdx
Owners: @hdworld11, @aws-amplify/documentation-team

fix: replace in-app messaging with storage
  src/fragments/lib/troubleshooting/common/upgrading.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

feat: add details for monitoring progress
  src/pages/[platform]/build-a-backend/storage/storage-v5-to-v6-migration-guide/index.mdx
Owners: @hdworld11, @aws-amplify/documentation-team

nit fixes
  src/pages/[platform]/build-a-backend/storage/storage-v5-to-v6-migration-guide/index.mdx
Owners: @hdworld11, @aws-amplify/documentation-team

move fragments to fragments/gen2 per discussion
  src/fragments/gen2/quickstart/build-a-backend.mdx
  src/fragments/gen2/quickstart/create-nextjs-project.mdx
  src/fragments/gen2/quickstart/deploy-and-host.mdx
  src/fragments/gen2/quickstart/prerequisites.mdx
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

feat: provide additional information on API changes
  src/pages/[platform]/build-a-backend/storage/storage-v5-to-v6-migration-guide/index.mdx
Owners: @hdworld11, @aws-amplify/documentation-team

fix: spelling fix
  src/pages/[platform]/build-a-backend/storage/storage-v5-to-v6-migration-guide/index.mdx
Owners: @hdworld11, @aws-amplify/documentation-team

update fragment imports to be where the fragment is used
  src/pages/gen2/start/quickstart/nextjs-app-router/index.mdx
  src/pages/gen2/start/quickstart/nextjs-pages-router/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

gen2 readjust intro, structure of account setup doc
  src/pages/gen2/start/account-setup/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add callout for sso use, manual configuration instructions
  src/pages/[platform]/start/getting-started/installation/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

minor correction
  src/pages/[platform]/start/getting-started/installation/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

minor correction
  src/pages/[platform]/start/getting-started/installation/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

code snippet titles
  src/pages/[platform]/start/getting-started/installation/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add sso credentials troubleshooting notes
  src/pages/[platform]/tools/cli/project/troubleshooting/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

spellcheck
  src/pages/[platform]/tools/cli/project/troubleshooting/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

role name change
  src/pages/[platform]/start/getting-started/installation/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add callout for sso use, manual configuration instructions (#6752)
  src/pages/[platform]/start/getting-started/installation/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

add sso credentials troubleshooting notes (#6753)
  src/pages/[platform]/tools/cli/project/troubleshooting/index.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

port gen1 changes from #6752 to cli config fragment
  src/fragments/cli-config.mdx
  src/pages/[platform]/tools/cli/start/set-up-cli/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/pages/gen2/start/account-setup/index.mdx
  src/pages/gen2/start/account-setup/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update src/pages/gen2/start/account-setup/index.mdx
  src/pages/gen2/start/account-setup/index.mdx
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

Update gen2Banner-urls.ts
  src/data/gen2Banner-urls.ts
Owners: @renebrandel, @dbanksdesign, @aws-amplify/documentation-team

fix nit
  src/components/Layout/Layout.tsx
Owners: @aws-amplify/documentation-team

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/pages/ @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/  @dbanksdesign  @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authz @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/authentication @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/lib/common @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Getting Started
/src/**/start @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @renebrandel @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/**/**/restapi @renebrandel @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @renebrandel @dbanksdesign @aws-amplify/documentation-team 

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
