Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-sa, @aws-amplify/amplify-cli, @aws-amplify/amplify-console, @aws-amplify/developer-advocates, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/ios-team, @aws-amplify/amplify-js

fix(geo-cli): add group access to cognito groups
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Fix broken graphql API links
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Fix broken graphql API links (#3903)
  src/pages/cli/graphql/authorization-rules.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Updates for better navigation support
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Add missing AuthenticatorBody refs
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Updated all remaining Admin UI references to Amplify Studio (#3868)
  src/fragments/lib/geo/existing-resources.mdx
  src/fragments/start/getting-started/android/add-api.mdx
  src/fragments/start/getting-started/android/generate-model.mdx
  src/fragments/start/getting-started/flutter/add-api.mdx
  src/fragments/start/getting-started/flutter/generate-model.mdx
  src/pages/cli-legacy/graphql-transformer/connection.mdx
  src/pages/cli/project/command-hooks.mdx
  src/pages/cli/q/integration/[integration].mdx
  src/pages/cli/start/workflows.mdx
  src/pages/console/adminui/start.mdx
  src/pages/console/auth/authentication.mdx
  src/pages/console/auth/import.mdx
  src/pages/console/authz/authorization.mdx
  src/pages/console/data/data-model.mdx
  src/pages/console/storage/file-browser.mdx
  src/pages/console/storage/file-storage.mdx
  src/pages/index.tsx
  src/pages/start/q/integration/[integration].mdx
Owners: @aws-amplify/amplify-sa, @aws-amplify/android-team, @aws-amplify/amplify-flutter, @aws-amplify/amplify-cli, @aws-amplify/amplify-console

Update command-hooks.mdx
  src/pages/cli/project/command-hooks.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(geo-cli): minor update to walkthrough question
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update src/pages/cli/graphql/schema-evolution.mdx
  src/pages/cli/graphql/schema-evolution.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

bump Amplify Android and SDK versions
  src/constants/versions.ts
  src/fragments/guides/location-service/setting-up-your-app-android.mdx
  src/fragments/sdk/analytics/android/getting-started.mdx
  src/fragments/sdk/analytics/android/kinesis.mdx
  src/fragments/sdk/api/android/rest.mdx
  src/fragments/sdk/auth/android/federated-identities.mdx
  src/fragments/sdk/auth/android/getting-started.mdx
  src/fragments/sdk/configuration/android/setup-options.mdx
  src/fragments/sdk/pubsub/android/getting-started.mdx
  src/fragments/sdk/push-notifications/android/getting-started.mdx
  src/fragments/sdk/storage/android/getting-started.mdx
Owners: @aws-amplify/developer-advocates, @aws-amplify/amplify-sa, @aws-amplify/android-team

Add docsearch classNames to headers
  src/components/Page/index.tsx
  src/plugins/headings.tsx
Owners: none

update the description of pull to reflect that changes made in a push
  src/pages/cli/start/workflows.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Updated custom resolver info
  src/pages/cli/graphql/custom-business-logic.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(datastore): fix DS example typo (#3891) (#3892)
  src/fragments/lib/datastore/js/examples.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

update the description of pull to reflect that changes made in a push (#3886)
  src/pages/cli/start/workflows.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Update builder arg
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/ui/auth/flutter/authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

update typo on cfn
  src/pages/cli/start/workflows.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

update screenshots
  public/images/geofence-create.png
  public/images/geofence-edit.png
  public/images/geofence-management-app.png
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Update src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

chore: address pr comments
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

update error code documentation
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

Added migration case regarding OpenSearch 1.1
  src/pages/cli/migration/transformer-migration.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

chore(geo): add geofence management ui docs (#3911)
  public/images/geofence-create.png
  public/images/geofence-edit.png
  src/fragments/lib/geo/js/geofences.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

use of observeQuery and Generate data model url update
  public/images/lib/getting-started/reactnative/generate-model-admin-ui-create.png
  src/fragments/start/getting-started/reactnative/generate-model.mdx
  src/fragments/start/getting-started/reactnative/integrate.mdx
Owners: @aws-amplify/amplify-sa

Apply suggestions from code review
  src/fragments/start/getting-started/reactnative/integrate.mdx
Owners: @aws-amplify/amplify-sa

bump authenticator version number
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

bump authenticator version number
  src/fragments/ui/flutter/installation.mdx
Owners: @aws-amplify/amplify-flutter, @aws-amplify/amplify-sa

update typo on cfn (#3912)
  src/pages/cli/start/workflows.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

fix(geo-cli): add callout for amplify version
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

Geo CLI docs: Add Geofence Collection Walkthrough (#3785)
  cspell.json
  src/directory/directory.js
  src/pages/cli/geo/geofencing.mdx
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-sa

docs(geo): add geo-js geofences CRUD API docs (#3884)
  public/images/geofence-management-app.png
  src/directory/directory.js
  src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/maps.mdx
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-sa

use index.js for RN and other minor updates
  public/images/lib/getting-started/reactnative/local-setup-instructions.png
  src/fragments/start/getting-started/reactnative/add-api.mdx
  src/fragments/start/getting-started/reactnative/generate-model.mdx
  src/fragments/start/getting-started/reactnative/integrate.mdx
  src/fragments/start/getting-started/reactnative/setup.mdx
Owners: @aws-amplify/amplify-sa

.github/CODEOWNERS:

/src/pages/** @aws-amplify/amplify-sa
/src/pages/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/pages/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/pages/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
/src/fragments/** @aws-amplify/amplify-sa
/src/fragments/**/android @aws-amplify/android-team @aws-amplify/amplify-sa
/src/fragments/**/flutter @aws-amplify/amplify-flutter @aws-amplify/amplify-sa
/src/fragments/**/ios @aws-amplify/ios-team @aws-amplify/amplify-sa
/src/fragments/**/js  @aws-amplify/amplify-js @aws-amplify/amplify-sa
/src/fragments/cli @aws-amplify/amplify-cli @aws-amplify/amplify-sa
/src/fragments/console @aws-amplify/amplify-console @aws-amplify/amplify-sa
/src/fragments/guides @aws-amplify/developer-advocates @aws-amplify/amplify-sa
