Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

fix: Refinemens, spacing, adding imports, adding RN page support
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/fragments/lib-v1/project-setup/js/getting-started.mdx
  src/fragments/lib-v1/start/getting-started/vanillajs/setup.mdx
  src/pages/lib-v1/analytics/identifyuser/q/platform/[platform].mdx
Owners: @abdallahshaban557, @hdworld11

chore: fix: indentation
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: fix indentation storage apis
  src/fragments/lib-v1/storage/js/configureaccess.mdx
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

Remove Delete user & Device features pages from preview. (#5880)
  src/directory/directory.mjs
  src/pages/lib-v1/auth/delete_user/q/platform/[platform].mdx
  src/pages/lib-v1/auth/device_features/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

feat: Add "Switching authentication flows" Dev Preview documentation (#5879)
  src/fragments/lib-v1/v6/callout/auth-federation.mdx
  src/pages/lib-v1/auth/switch-auth/q/platform/[platform].mdx
Owners: @abdallahshaban557

studio gql support docs (#5834)
  public/images/console/conflict-resolution1.png
  public/images/console/conflict-resolution2.png
  public/images/console/ui-collections-databind.png
  public/images/console/ui-collections-pagination.png
  public/images/console/ui-collections-search.png
  src/pages/console/data/content-management.mdx
  src/pages/console/data/data-model.mdx
  src/pages/console/formbuilder/data-binding.mdx
  src/pages/console/formbuilder/overview.mdx
  src/pages/console/formbuilder/special-inputs.mdx
  src/pages/console/uibuilder/collections.mdx
  src/pages/console/uibuilder/databinding.mdx
  src/pages/console/uibuilder/eventhandling.mdx
  src/pages/console/uibuilder/override.mdx
  src/pages/console/uibuilder/slots.mdx
Owners: @aws-amplify/documentation-team, @renebrandel, @wrpeck

fix ui-components external link (#5861)
  src/plugins/internal-link.tsx
Owners: @aws-amplify/documentation-team

fix(JS): Add callouts for Push Notifications and Social Sign-in from GH Issues (#5757)
  src/fragments/lib-v1/auth/android/common_prereq.mdx
  src/fragments/lib-v1/auth/flutter/common_prereq.mdx
  src/fragments/lib/auth/android/common_prereq.mdx
  src/fragments/lib/auth/flutter/common_prereq.mdx
  src/fragments/lib/auth/ios/getting_started/15_preReq_web_ui.mdx
  src/fragments/lib/auth/js/react-native-social.mdx
  src/fragments/lib/auth/js/social.mdx
  src/fragments/lib/push-notifications/android/getting_started/10_pre_req.mdx
Owners: @abdallahshaban557

set secondaryNav as nav (#5860)
  src/components/SecondaryNav/index.tsx
Owners: @aws-amplify/documentation-team

fix: Fix spacing near page title in On this page TOC (#5862)
  src/components/TableOfContents/styles.tsx
  src/constants/algolia.ts
Owners: @aws-amplify/documentation-team

update install page prerequisite (#5824)
  cspell.json
  src/pages/cli/start/install.mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

feat: Migrate the Under the Hood page.
  src/directory/directory.mjs
  src/fragments/lib-v1/auth/js/overview.mdx
  src/pages/lib-v1/auth/overview/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

chore: upload api and indentation nits
  src/fragments/lib-v1/storage/js/configureaccess.mdx
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: address feedback
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

feat: Migrate the Under the Hood page. (#5884)
  src/directory/directory.mjs
  src/fragments/lib-v1/auth/js/overview.mdx
  src/pages/lib-v1/auth/overview/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

chore: fic accessLevel of list
  src/fragments/lib-v1/storage/js/list.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/copy.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/upload.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/upload.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

Update src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/list.mdx
Owners: @hdworld11

chore: address feedback
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

fix: storage v6 configure
  src/fragments/lib-v1/storage/js/getting-started.mdx
Owners: @hdworld11

chore: address aaron feedback.
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: remove onProgress callBack
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: switch from ts to js code snippets
  src/fragments/lib-v1/storage/js/configureaccess.mdx
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/existing-resources.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

Added Advanced workflow page.
  src/fragments/lib-v1/auth/js/advanced.mdx
  src/pages/lib-v1/auth/advanced/q/platform/[platform].mdx
  src/pages/lib-v1/auth/switch-auth/q/platform/[platform].mdx
Owners: @abdallahshaban557

chore(storage): upload api and indentation nits (#5885)
  src/fragments/lib-v1/storage/js/configureaccess.mdx
  src/fragments/lib-v1/storage/js/copy.mdx
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/existing-resources.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib-v1/storage/js/list.mdx
  src/fragments/lib-v1/storage/js/remove.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

feat: add mfa docs
  src/fragments/lib-v1/auth/common/mfa/add_mfa.mdx
  src/fragments/lib-v1/auth/common/mfa/flows.mdx
  src/fragments/lib-v1/auth/common/mfa/update_mfa.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/fetch_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/sign_in_steps/select_mfa.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_in.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_up.mdx
  src/fragments/lib-v1/auth/js/sms/sign_in.mdx
  src/fragments/lib-v1/auth/js/sms/sign_up.mdx
  src/fragments/lib-v1/auth/js/sms/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/totp/confirm_sign_in.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_authenticated.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_unauthenticated.mdx
  src/fragments/lib-v1/auth/js/totp/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/totp/verify_totp_authenticated.mdx
  src/pages/lib-v1/auth/mfa/q/platform/[platform].mdx
Owners: @abdallahshaban557

remove other platforms from lib-v1
  src/pages/lib-v1/auth/mfa/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update Amplify Android Versions
  src/constants/versions.ts
Owners: @aws-amplify/documentation-team

Cleaned up usage of fetchAuthSession.
  src/fragments/lib-v1/auth/js/advanced.mdx
Owners: @abdallahshaban557

feat: Migrate the Advanced Workflows page for preview (#5887)
  src/fragments/lib-v1/auth/js/advanced.mdx
  src/pages/lib-v1/auth/advanced/q/platform/[platform].mdx
  src/pages/lib-v1/auth/switch-auth/q/platform/[platform].mdx
Owners: @abdallahshaban557

fix: Troubleshooting v6 updates
  src/directory/directory.mjs
  src/fragments/lib-v1/troubleshooting/js/upgrading.mdx
  src/pages/lib-v1/troubleshooting/upgrading/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

fix: storage v6 configure (#5886)
  src/fragments/lib-v1/storage/js/getting-started.mdx
Owners: @hdworld11

feat: update user attribute docs
  src/fragments/lib-v1/auth/js/password_management/confirm_reset_password.mdx
  src/fragments/lib-v1/auth/js/password_management/reset_password.mdx
  src/fragments/lib-v1/auth/js/password_management/update_password.mdx
  src/fragments/lib-v1/auth/js/user_attributes/fetch_user_attributes.mdx
  src/fragments/lib-v1/auth/js/user_attributes/get_current_user.mdx
  src/fragments/lib-v1/auth/js/user_attributes/update_user_attributes.mdx
  src/fragments/lib-v1/auth/js/user_session/fetch_auth_session.mdx
  src/pages/lib-v1/auth/manageusers/q/platform/[platform].mdx
Owners: @abdallahshaban557

add sitemap location to robots.txt
  tasks/generate-sitemap.mjs
Owners: @aws-amplify/documentation-team

add newline to end of file
  tasks/generate-sitemap.mjs
Owners: @aws-amplify/documentation-team

feat(js): V6 documentation for Next.js
  src/directory/directory.mjs
  src/fragments/lib-v1/ssr/nextjs/getting-started.mdx
  src/fragments/lib-v1/start/getting-started/next/setup.mdx
  src/pages/lib-v1/ssr/nextjs/q/platform/[platform].mdx
  src/pages/lib-v1/ssr/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

chore: address feedback
  src/fragments/lib-v1/auth/common/mfa/flows.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/fetch_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/mfa_preference/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/sign_in_steps/select_mfa.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_in.mdx
  src/fragments/lib-v1/auth/js/sms/confirm_sign_up.mdx
  src/fragments/lib-v1/auth/js/sms/sign_up.mdx
  src/fragments/lib-v1/auth/js/totp/confirm_sign_in.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_authenticated.mdx
  src/fragments/lib-v1/auth/js/totp/setup_totp_unauthenticated.mdx
  src/fragments/lib-v1/auth/js/totp/update_mfa_preference.mdx
  src/fragments/lib-v1/auth/js/totp/verify_totp_authenticated.mdx
Owners: @abdallahshaban557

accomodate short pages;
  src/components/Menu/styles.tsx
Owners: @aws-amplify/documentation-team

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557
/src/pages/ @abdallahshaban557

#CLI
/src/**/cli/ @josefaidt

#Studio
/src/pages/console/ @wrpeck
 
#Analytics
/src/**/**/analytics @abdallahshaban557

#Auth
/src/**/**/auth @abdallahshaban557
/src/**/**/authz @abdallahshaban557
/src/**/**/authentication @abdallahshaban557

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11
/src/**/**/configuration @abdallahshaban557 @hdworld11

#Common
/src/fragments/common @abdallahshaban557
/src/fragments/lib/common @abdallahshaban557

#Data
/src/**/**/datastore @renebrandel
/src/**/**/data @renebrandel

#Debugging
/src/fragments/**/debugging @abdallahshaban557

#Geo
/src/**/**/geo @abdallahshaban557

#Getting Started
/src/**/start @abdallahshaban557

#GraphQL API
/src/**/**/api-graphql @renebrandel
/src/**/**/graphqlapi @renebrandel
/src/**/cli-legacy/graphql-transformer @renebrandel
/src/fragments/sdk/api/**/graphql.mdx @renebrandel

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557

#Info
/src/fragments/**/info @abdallahshaban557

#Interactions
/src/**/**/interactions @abdallahshaban557

#Logging
/src/fragments/lib/logging @abdallahshaban557

#Predictions
/src/**/**/predictions @abdallahshaban557

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11

#PubSub
/src/**/**/pubsub @abdallahshaban557

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557

#Rest API
/src/**/**/api-rest @renebrandel
/src/**/**/restapi @renebrandel
/src/fragments/sdk/api/**/rest.mdx @renebrandel

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel

#Storage
/src/**/**/storage @hdworld11

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel

#Utilities
/src/**/**/utilities @abdallahshaban557

#Docs Engineering
/src/components @aws-amplify/documentation-team 
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
