Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @ykethan, @jay2113, @chrisbonifacio, @aspittel, @renebrandel, @swaminator, @dbanksdesign, @josefaidt, @ErikCH, @arundna, @hdworld11, @reesscot, @srquinn21, @Milan-Shah

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @ykethan @jay2113 @chrisbonifacio @aspittel @renebrandel @swaminator @dbanksdesign @josefaidt @ErikCH @arundna @hdworld11 @aws-amplify/documentation-team 
/src/pages/ @ykethan @jay2113 @chrisbonifacio @aspittel @renebrandel @swaminator @dbanksdesign @josefaidt @ErikCH @arundna @hdworld11 @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/  @dbanksdesign  @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @hdworld11 @dbanksdesign @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @josefaidt @aws-amplify/documentation-team 
/src/**/**/authz @josefaidt @renebrandel @aws-amplify/documentation-team 
/src/**/**/authentication @renebrandel @josefaidt @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @renebrandel @josefaidt @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @renebrandel @josefaidt @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @renebrandel @hdworld11 @josefaidt @dbanksdesign @aws-amplify/documentation-team 
/src/fragments/lib/common @renebrandel @hdworld11 @josefaidt @dbanksdesign @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @josefaidt @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @hdworld11 @aws-amplify/documentation-team 

#Getting Started
/src/**/start @renebrandel @hdworld11 @josefaidt @dbanksdesign @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @hdworld11 @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @renebrandel @hdworld11 @josefaidt @dbanksdesign @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @josefaidt @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @hdworld11 @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @hdworld11 @dbanksdesign @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @renebrandel @josefaidt @dbanksdesign @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @renebrandel @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @hdworld11 @dbanksdesign @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @josefaidt @aws-amplify/documentation-team 
/src/**/**/restapi @josefaidt @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @josefaidt @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @renebrandel @josefaidt @dbanksdesign @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @josefaidt @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @josefaidt @aws-amplify/documentation-team 

#Gen2
/src/pages/gen2 @ykethan @jay2113 @chrisbonifacio @aspittel @renebrandel @swaminator @dbanksdesign @josefaidt @ErikCH @arundna @hdworld11

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/data @aws-amplify/documentation-team
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team  
/src/pages/contribute @aws-amplify/documentation-team
/src/pages/index.tsx @aws-amplify/documentation-team
/src/pages/**/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team
/src/themes @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
/tasks @aws-amplify/documentation-team

#Protected Content
/src/protected @reesscot @srquinn21 @Milan-Shah @swaminator

feedback
  src/pages/[platform]/build-a-backend/functions/examples/create_user_profile_record/index.mdx
Owners: @ykethan, @jay2113, @chrisbonifacio, @aspittel, @renebrandel, @swaminator, @dbanksdesign, @josefaidt, @ErikCH, @arundna, @hdworld11, @aws-amplify/documentation-team

feedback
  src/pages/[platform]/build-a-backend/functions/examples/create_user_profile_record/index.mdx
Owners: @ykethan, @jay2113, @chrisbonifacio, @aspittel, @renebrandel, @swaminator, @dbanksdesign, @josefaidt, @ErikCH, @arundna, @hdworld11, @aws-amplify/documentation-team

chore: analytics transfer
  src/data/platforms.ts
  src/fragments/lib-v1/analytics/flutter/enable-disable/enable.mdx
  src/fragments/lib-v1/analytics/flutter/existing-resources.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/10_preReq.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/12_amplifyConfig.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/20_installLib.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/30_initAnalytics.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/40_record.mdx
  src/fragments/lib-v1/analytics/flutter/identifyuser.mdx
  src/fragments/lib-v1/analytics/flutter/record.mdx
Owners: @aws-amplify/documentation-team, @hdworld11, @dbanksdesign

Fix gen-1 storage code
  src/pages/gen2/build-a-backend/storage/index.mdx
Owners: @ykethan, @jay2113, @chrisbonifacio, @aspittel, @renebrandel, @swaminator, @dbanksdesign, @josefaidt, @ErikCH, @arundna, @hdworld11

feedback
  src/pages/[platform]/build-a-backend/functions/examples/create_user_profile_record/index.mdx
Owners: @ykethan, @jay2113, @chrisbonifacio, @aspittel, @renebrandel, @swaminator, @dbanksdesign, @josefaidt, @ErikCH, @arundna, @hdworld11, @aws-amplify/documentation-team

Update src/pages/[platform]/build-a-backend/functions/examples/custom-message/index.mdx
  src/pages/[platform]/build-a-backend/functions/examples/custom-message/index.mdx
Owners: @ykethan, @jay2113, @chrisbonifacio, @aspittel, @renebrandel, @swaminator, @dbanksdesign, @josefaidt, @ErikCH, @arundna, @hdworld11, @aws-amplify/documentation-team

minor update on function examples
  src/pages/[platform]/build-a-backend/functions/examples/add-user-to-group/index.mdx
  src/pages/[platform]/build-a-backend/functions/examples/dynamo-db-stream/index.mdx
  src/pages/[platform]/build-a-backend/functions/examples/email-domain-filtering/index.mdx
  src/pages/[platform]/build-a-backend/functions/examples/kinesis-stream/index.mdx
Owners: @ykethan, @jay2113, @chrisbonifacio, @aspittel, @renebrandel, @swaminator, @dbanksdesign, @josefaidt, @ErikCH, @arundna, @hdworld11, @aws-amplify/documentation-team

angular tutorial
  src/pages/[platform]/start/quickstart/index.mdx
Owners: @renebrandel, @hdworld11, @josefaidt, @dbanksdesign, @aws-amplify/documentation-team

added angular
  src/pages/[platform]/start/quickstart/index.mdx
Owners: @renebrandel, @hdworld11, @josefaidt, @dbanksdesign, @aws-amplify/documentation-team

Functions - Example use cases for functions - Create a user profile model/record (#7270)
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/functions/examples/create_user_profile_record/index.mdx
Owners: @aws-amplify/documentation-team, @ykethan, @jay2113, @chrisbonifacio, @aspittel, @renebrandel, @swaminator, @dbanksdesign, @josefaidt, @ErikCH, @arundna, @hdworld11

big restructure
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/auth/advanced-workflows/custom-token-providers/index.mdx
  src/pages/[platform]/build-a-backend/auth/advanced-workflows/federation-only/index.mdx
  src/pages/[platform]/build-a-backend/auth/advanced-workflows/index.mdx
  src/pages/[platform]/build-a-backend/auth/concepts/email/index.mdx
  src/pages/[platform]/build-a-backend/auth/concepts/external-identity-providers/index.mdx
  src/pages/[platform]/build-a-backend/auth/concepts/index.mdx
  src/pages/[platform]/build-a-backend/auth/concepts/multi-factor-authentication/index.mdx
  src/pages/[platform]/build-a-backend/auth/concepts/phone/index.mdx
  src/pages/[platform]/build-a-backend/auth/concepts/user-attributes/index.mdx
  src/pages/[platform]/build-a-backend/auth/concepts/user-groups/index.mdx
  src/pages/[platform]/build-a-backend/auth/concepts/usernames/index.mdx
  src/pages/[platform]/build-a-backend/auth/connect-your-frontend/index.mdx
  src/pages/[platform]/build-a-backend/auth/connect-your-frontend/listen-to-auth-events/index.mdx
  src/pages/[platform]/build-a-backend/auth/connect-your-frontend/server-side/index.mdx
  src/pages/[platform]/build-a-backend/auth/connect-your-frontend/sign-in/index.mdx
  src/pages/[platform]/build-a-backend/auth/connect-your-frontend/sign-out/index.mdx
  src/pages/[platform]/build-a-backend/auth/connect-your-frontend/sign-up/index.mdx
  src/pages/[platform]/build-a-backend/auth/connect-your-frontend/using-the-authenticator/index.mdx
  src/pages/[platform]/build-a-backend/auth/customize-auth-lifecycle/custom-auth-flows/index.mdx
  src/pages/[platform]/build-a-backend/auth/customize-auth-lifecycle/email-customization/index.mdx
  src/pages/[platform]/build-a-backend/auth/customize-auth-lifecycle/index.mdx
  src/pages/[platform]/build-a-backend/auth/customize-auth-lifecycle/triggers/index.mdx
  src/pages/[platform]/build-a-backend/auth/examples/customize-access-token/index.mdx
  src/pages/[platform]/build-a-backend/auth/examples/customize-id-token/index.mdx
  src/pages/[platform]/build-a-backend/auth/examples/index.mdx
  src/pages/[platform]/build-a-backend/auth/index.mdx
  src/pages/[platform]/build-a-backend/auth/manage-users/manage-accounts/index.mdx
  src/pages/[platform]/build-a-backend/auth/manage-users/manage-devices/index.mdx
  src/pages/[platform]/build-a-backend/auth/manage-users/manage-passwords/index.mdx
  src/pages/[platform]/build-a-backend/auth/manage-users/with-admin-actions/index.mdx
  src/pages/[platform]/build-a-backend/auth/manage-users/with-the-console/index.mdx
  src/pages/[platform]/build-a-backend/auth/moving-to-production/index.mdx
  src/pages/[platform]/build-a-backend/auth/sign-up-sign-in-sign-out/index.mdx
Owners: @aws-amplify/documentation-team, @josefaidt

mv grant access docs towards the end of the directory tree
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

reviewed android, ios, flutter
  src/pages/[platform]/start/quickstart/index.mdx
Owners: @renebrandel, @hdworld11, @josefaidt, @dbanksdesign, @aws-amplify/documentation-team

updates
  src/pages/[platform]/build-a-backend/data/custom-business-logic/search-and-aggregate-queries/index.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

updated
  cspell.json
  src/pages/[platform]/build-a-backend/data/custom-business-logic/search-and-aggregate-queries/index.mdx
Owners: @aws-amplify/documentation-team, @renebrandel

updated
  src/pages/[platform]/build-a-backend/data/custom-business-logic/search-and-aggregate-queries/index.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

relational modeling for mobile
  src/pages/[platform]/build-a-backend/data/data-modeling/relationships/index.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

fixed typo
  src/pages/[platform]/build-a-backend/data/data-modeling/relationships/index.mdx
Owners: @renebrandel, @aws-amplify/documentation-team

[GEN 2][Mobile] Add Enable Sign-In page for Flutter, Android,iOS, React Native. (#7209)
  src/directory/directory.mjs
  src/pages/[platform]/build-a-backend/auth/enable-sign-in/index.mdx
Owners: @aws-amplify/documentation-team, @josefaidt
