Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

fix: broken links" (#5938)
  src/fragments/lib/auth/js/react-native-social.mdx
  src/fragments/lib/utilities/serviceworker.mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Added App Router example.
  src/pages/lib-v1/ssr/nextjs/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

additional clarifications
  src/pages/lib/auth/manage-session/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Copyedit of Auth guide for sign-in, sign-up, and sign-out
  src/pages/lib/auth/emailpassword/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

additional clarifications
  src/pages/lib/auth/manage-session/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

additional changes
  src/pages/lib/auth/mfa/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

additional changes
  src/pages/lib/auth/mfa/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Removed header and updated platform links
  src/pages/lib/graphqlapi/mutate-data/q/platform/[platform].mdx
Owners: @renebrandel, @aws-amplify/documentation-team

Removed header and updated rn links
  src/pages/lib/graphqlapi/query-data/q/platform/[platform].mdx
Owners: @renebrandel, @aws-amplify/documentation-team

Removed header and updated rn links
  src/pages/lib/graphqlapi/subscribe-data/q/platform/[platform].mdx
Owners: @renebrandel, @aws-amplify/documentation-team

add pr version of link checker script
  .github/workflows/build.yml
  .github/workflows/check_for_broken_links.yml
  .github/workflows/check_pr_for_broken_links.yml
  package.json
  tasks/check-links.mjs
Owners: @aws-amplify/documentation-team

Updated authenticator callout for react native
  src/pages/lib/auth/emailpassword/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Updating directory title
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

Removed comment
  src/pages/lib/auth/getting-started/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Updates to delete user guide
  src/pages/lib/auth/delete_user/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Minor update to note testing
  src/pages/lib/auth/delete_user/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

Updated CLI version requirement.
  src/fragments/lib-v1/start/getting-started/next/setup.mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

update cli internal links that are being redirected
  src/pages/cli-legacy/graphql-transformer/auth.mdx
  src/pages/cli-legacy/graphql-transformer/directives.mdx
  src/pages/cli-legacy/graphql-transformer/key.mdx
  src/pages/cli-legacy/graphql-transformer/versioned.mdx
  src/pages/cli/migration/lambda-layers-update.mdx
  src/pages/cli/project/permissions-boundary.mdx
  src/pages/cli/project/troubleshooting.mdx
  src/pages/cli/restapi/restapi.mdx
  src/pages/cli/teams/commands.mdx
  src/pages/console/data/data-model.mdx
Owners: @renebrandel, @aws-amplify/documentation-team, @josefaidt

add trackPageVisit to Pages component
  src/components/Page/index.tsx
Owners: @aws-amplify/documentation-team

Adding menu item in dir for SSR guide
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

Removed comment markers
  src/pages/lib/auth/getting-started/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

add next-bundle-analyzer
  next.config.mjs
  package.json
  yarn.lock
Owners: @aws-amplify/documentation-team

specify pageName
  src/utils/track.ts
Owners: @aws-amplify/documentation-team

convert server to use serve instead of next-start
  .github/workflows/check_pr_for_broken_links.yml
Owners: @aws-amplify/documentation-team

triggering analyze
  next.config.mjs
  package.json
Owners: @aws-amplify/documentation-team

fix: add trackPageVisit to Pages component (#5945)
  src/components/Page/index.tsx
  src/utils/track.ts
Owners: @aws-amplify/documentation-team

add static server for testing
  package.json
  src/pages/cli/reference/files.mdx
  yarn.lock
Owners: @aws-amplify/documentation-team, @josefaidt

update legacy cli links
  src/pages/cli-legacy/graphql-transformer/connection.mdx
  src/pages/cli-legacy/graphql-transformer/key.mdx
  src/pages/cli-legacy/graphql-transformer/overview.mdx
  src/pages/cli/reference/files.mdx
  src/pages/cli/teams/commands.mdx
Owners: @renebrandel, @aws-amplify/documentation-team, @josefaidt

update cli link
  src/pages/cli/teams/commands.mdx
Owners: @josefaidt, @aws-amplify/documentation-team

initial commit
  src/directory/directory.mjs
  src/pages/cli/graphql/overview.mdx
Owners: @aws-amplify/documentation-team, @josefaidt

update cli links
  src/fragments/lib/auth/js/advanced.mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

update broken link for pr script
  .github/workflows/check_pr_for_broken_links.yml
  yarn.lock
Owners: @aws-amplify/documentation-team

Update Readme with fragment update (#5926)
  Readme.md
Owners: @aws-amplify/documentation-team

Move page view event into Layout component
  src/components/Layout/index.tsx
  src/components/Page/index.tsx
Owners: @aws-amplify/documentation-team

fix: Version switcher query string bug
  src/components/Menu/VersionSwitcher/index.tsx
Owners: @aws-amplify/documentation-team

cleanup debug line
  src/components/Menu/VersionSwitcher/index.tsx
Owners: @aws-amplify/documentation-team

add bundle checker
  next.config.mjs
  package.json
  src/components/Page/index.tsx
  yarn.lock
Owners: @aws-amplify/documentation-team

fix: Version switcher query string bug (#5947)
  src/components/Menu/VersionSwitcher/index.tsx
Owners: @aws-amplify/documentation-team

first round of changes
  src/pages/lib/auth/social/q/platform/[platform].mdx
Owners: @abdallahshaban557, @aws-amplify/documentation-team

update link checker script, add dev mode and pr link checker
  .github/workflows/check_for_broken_links.yml
  .github/workflows/check_pr_for_broken_links.yml
  tasks/link-checker.js
Owners: @aws-amplify/documentation-team

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557 @aws-amplify/documentation-team 
/src/pages/ @abdallahshaban557 @aws-amplify/documentation-team 

#CLI
/src/**/cli/ @josefaidt @aws-amplify/documentation-team 

#Studio
/src/pages/console/ @wrpeck @aws-amplify/documentation-team 
 
#Analytics
/src/**/**/analytics @abdallahshaban557 @aws-amplify/documentation-team 

#Auth
/src/**/**/auth @abdallahshaban557 @aws-amplify/documentation-team 
/src/**/**/authz @abdallahshaban557 @aws-amplify/documentation-team 
/src/**/**/authentication @abdallahshaban557 @aws-amplify/documentation-team 

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11 @aws-amplify/documentation-team 
/src/**/**/configuration @abdallahshaban557 @hdworld11 @aws-amplify/documentation-team 

#Common
/src/fragments/common @abdallahshaban557 @aws-amplify/documentation-team 
/src/fragments/lib/common @abdallahshaban557 @aws-amplify/documentation-team 

#Data
/src/**/**/datastore @renebrandel @aws-amplify/documentation-team 
/src/**/**/data @renebrandel @aws-amplify/documentation-team 

#Debugging
/src/fragments/**/debugging @abdallahshaban557 @aws-amplify/documentation-team 

#Geo
/src/**/**/geo @abdallahshaban557 @aws-amplify/documentation-team 

#Getting Started
/src/**/start @abdallahshaban557 @aws-amplify/documentation-team 

#GraphQL API
/src/**/**/api-graphql @renebrandel @aws-amplify/documentation-team 
/src/**/**/graphqlapi @renebrandel @aws-amplify/documentation-team 
/src/**/cli-legacy/graphql-transformer @renebrandel @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/graphql.mdx @renebrandel @aws-amplify/documentation-team 

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557 @aws-amplify/documentation-team 

#Info
/src/fragments/**/info @abdallahshaban557 @aws-amplify/documentation-team 

#Interactions
/src/**/**/interactions @abdallahshaban557 @aws-amplify/documentation-team 

#Logging
/src/fragments/lib/logging @abdallahshaban557 @aws-amplify/documentation-team 

#Predictions
/src/**/**/predictions @abdallahshaban557 @aws-amplify/documentation-team 

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11 @aws-amplify/documentation-team 

#PubSub
/src/**/**/pubsub @abdallahshaban557 @aws-amplify/documentation-team 

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557 @aws-amplify/documentation-team 

#Rest API
/src/**/**/api-rest @renebrandel @aws-amplify/documentation-team 
/src/**/**/restapi @renebrandel @aws-amplify/documentation-team 
/src/fragments/sdk/api/**/rest.mdx @renebrandel @aws-amplify/documentation-team 

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel @aws-amplify/documentation-team 

#Storage
/src/**/**/storage @hdworld11 @aws-amplify/documentation-team 

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel @aws-amplify/documentation-team 

#Utilities
/src/**/**/utilities @abdallahshaban557 @aws-amplify/documentation-team 

#Docs Engineering
/src/components @aws-amplify/documentation-team
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team
