Repository aws-amplify/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/documentation-team, @abdallahshaban557, @josefaidt, @wrpeck, @hdworld11, @renebrandel

.github/CODEOWNERS:

* @aws-amplify/documentation-team 
/src/fragments/ @abdallahshaban557
/src/pages/ @abdallahshaban557

#CLI
/src/**/cli/ @josefaidt

#Studio
/src/pages/console/ @wrpeck
 
#Analytics
/src/**/**/analytics @abdallahshaban557

#Auth
/src/**/**/auth @abdallahshaban557
/src/**/**/authz @abdallahshaban557
/src/**/**/authentication @abdallahshaban557

#Client Configuration
/src/**/**/client-configuration @abdallahshaban557 @hdworld11
/src/**/**/configuration @abdallahshaban557 @hdworld11

#Common
/src/fragments/common @abdallahshaban557
/src/fragments/lib/common @abdallahshaban557

#Data
/src/**/**/datastore @renebrandel
/src/**/**/data @renebrandel

#Debugging
/src/fragments/**/debugging @abdallahshaban557

#Geo
/src/**/**/geo @abdallahshaban557

#Getting Started
/src/**/start @abdallahshaban557

#GraphQL API
/src/**/**/api-graphql @renebrandel
/src/**/**/graphqlapi @renebrandel
/src/**/cli-legacy/graphql-transformer @renebrandel
/src/fragments/sdk/api/**/graphql.mdx @renebrandel

#In-App Messaging
/src/**/**/in-app-messaging @abdallahshaban557

#Info
/src/fragments/**/info @abdallahshaban557

#Interactions
/src/**/**/interactions @abdallahshaban557

#Logging
/src/fragments/lib/logging @abdallahshaban557

#Predictions
/src/**/**/predictions @abdallahshaban557

#Project Setup
/src/**/**/project-setup @abdallahshaban557 @hdworld11

#PubSub
/src/**/**/pubsub @abdallahshaban557

#Push Notifications
/src/**/**/push-notifications @abdallahshaban557

#Rest API
/src/**/**/api-rest @renebrandel
/src/**/**/restapi @renebrandel
/src/fragments/sdk/api/**/rest.mdx @renebrandel

#SSR
/src/fragments/lib/ssr @abdallahshaban557 @renebrandel

#Storage
/src/**/**/storage @hdworld11

#Troubleshooting
/src/fragments/lib/troubleshooting @abdallahshaban557 @renebrandel

#Utilities
/src/**/**/utilities @abdallahshaban557

#Docs Engineering
/src/components @aws-amplify/documentation-team 
/src/constants @aws-amplify/documentation-team 
/src/directory @aws-amplify/documentation-team 
/src/pages/_app.tsx @aws-amplify/documentation-team 
/src/pages/_document.tsx @aws-amplify/documentation-team 
/src/pages/404.tsx @aws-amplify/documentation-team 
/src/pages/ChooseFilterPage.tsx @aws-amplify/documentation-team 
/src/pages/index.tsx @aws-amplify/documentation-team
/src/plugins @aws-amplify/documentation-team 
/src/public @aws-amplify/documentation-team 
/src/styles @aws-amplify/documentation-team 
/src/utils @aws-amplify/documentation-team

Remove categories from list
  src/fragments/lib-v1/utilities/js/hub.mdx
Owners: @abdallahshaban557

Update 'Set up Amplify Auth' page. (#5877)
  src/fragments/lib-v1/v6/callout/auth-authenticator-support.mdx
  src/pages/lib-v1/auth/getting-started/q/platform/[platform].mdx
Owners: @abdallahshaban557

Added "Switching authentication flows" docs.
  src/fragments/lib-v1/v6/callout/auth-federation.mdx
  src/pages/lib-v1/auth/switch-auth/q/platform/[platform].mdx
Owners: @abdallahshaban557

Added callout.
  src/pages/lib-v1/auth/switch-auth/q/platform/[platform].mdx
Owners: @abdallahshaban557

fix scroll on left nav
  src/components/Menu/styles.tsx
Owners: @aws-amplify/documentation-team

Fixes from comments
  src/fragments/lib-v1/utilities/js/hub.mdx
Owners: @abdallahshaban557

chore: Remove RN from lib-v1, add Util > Hub, fix TS (#5878)
  src/components/Menu/index.tsx
  src/directory/directory.mjs
  src/fragments/lib-v1/utilities/js/hub.mdx
  src/pages/lib-v1/utilities/hub/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

Remove Delete user & Device features pages from preview.
  src/directory/directory.mjs
  src/pages/lib-v1/auth/delete_user/q/platform/[platform].mdx
  src/pages/lib-v1/auth/device_features/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

PR feedback.
  src/pages/lib-v1/auth/switch-auth/q/platform/[platform].mdx
Owners: @abdallahshaban557

fix: Update root page and troubleshooting section
  src/directory/directory.mjs
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

fix: Add SSR doc to lib-v1
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

fix: Add analytics to v1
  src/directory/directory.mjs
  src/pages/lib-v1/analytics/identifyuser/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

chore: add storage lib-v1 for js, react-native
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

chore: add getting started guide for storage
  src/directory/directory.mjs
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @hdworld11

chore: add getting started guide
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
Owners: @hdworld11

chore: update getting started guide
  src/directory/directory.mjs
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @hdworld11

chore: change lib to lib-v1
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

chore: copy files
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

chore: remove escape hatch
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

chore: add download
  src/directory/directory.mjs
Owners: @aws-amplify/documentation-team

feat: Add "Switching authentication flows" Dev Preview documentation (#5879)
  src/fragments/lib-v1/v6/callout/auth-federation.mdx
  src/pages/lib-v1/auth/switch-auth/q/platform/[platform].mdx
Owners: @abdallahshaban557

Remove Delete user & Device features pages from preview. (#5880)
  src/directory/directory.mjs
  src/pages/lib-v1/auth/delete_user/q/platform/[platform].mdx
  src/pages/lib-v1/auth/device_features/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

chore: add basic upload api change
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/pages/lib-v1/storage/upload/q/platform/[platform].mdx
Owners: @hdworld11

fix: Update overview page content
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

fix: Project setup guides (install @next and remove UI use)
  src/fragments/lib-v1/project-setup/js/getting-started.mdx
  src/fragments/lib-v1/start/getting-started/vanillajs/setup.mdx
Owners: @abdallahshaban557, @hdworld11

fix: Analytics docs for v6
  src/directory/directory.mjs
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/record.mdx
  src/fragments/lib-v1/analytics/native_common/getting-started/common.mdx
  src/pages/lib-v1/analytics/identifyuser/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/record.mdx
  src/fragments/lib-v1/analytics/js/record.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

Update src/pages/lib-v1/q/platform/[platform].mdx
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/pages/lib-v1/q/platform/[platform].mdx
  src/pages/lib-v1/q/platform/[platform].mdx
Owners: @abdallahshaban557

Update src/fragments/lib-v1/analytics/js/identifyuser.mdx
  src/fragments/lib-v1/analytics/js/identifyuser.mdx
Owners: @abdallahshaban557

chore: add additional options
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: change metadata to owner
  src/fragments/lib-v1/storage/js/get-properties.mdx
Owners: @hdworld11

chore: add upload callback options
  src/directory/directory.mjs
  src/fragments/lib-v1/storage/js/getting-started.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/pages/lib-v1/storage/getting-started/q/platform/[platform].mdx
Owners: @aws-amplify/documentation-team, @hdworld11

fix: fix indentation for uploadData api
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11

chore: add callout for metadata in read apis
  src/fragments/lib-v1/storage/js/download.mdx
  src/fragments/lib-v1/storage/js/get-properties.mdx
Owners: @hdworld11

chore: add additional options to uploadData
  src/fragments/lib-v1/storage/js/upload.mdx
Owners: @hdworld11
