Repository aws-amplify/docs, pull requests merged in 2018-12, with the labels that each got.

#249 Update storage.md
  android/storage.md
Labels: Android

#236 Storage documentation update for permissions to be attached on IAM role
  ios/storage.md
Labels: iOS

#280 [Android] Add instructions for Forgot Password
  android/authentication.md
Labels: Android

#279 [Android] Add instructions for force change password
  android/authentication.md
Labels: Android

#283 Ats updates
  android/pubsub.md
  ios/pubsub.md
Labels: Android, iOS

#275 add array to list of cache types
  js/cache.md
Labels: JavaScript

#223 Enhance Cognito Hosted UI doc (WIP)
  .spelling
  js/authentication.md
  js/cognito-hosted-ui-federated-identity.md
  js/images/cognitoHostedUI/facebook1.png
  js/images/cognitoHostedUI/facebook2.png
  js/images/cognitoHostedUI/facebook3.png
  js/images/cognitoHostedUI/facebook4.png
  js/images/cognitoHostedUI/facebook5.png
  js/images/cognitoHostedUI/facebook6.png
  js/images/cognitoHostedUI/facebook7.png
  js/images/cognitoHostedUI/facebook8.png
  js/images/cognitoHostedUI/google1.png
  js/images/cognitoHostedUI/google2.png
  js/images/cognitoHostedUI/google3.png
  js/images/cognitoHostedUI/google4.png
  js/images/cognitoHostedUI/google5.png
  js/images/cognitoHostedUI/google6.png
  js/images/cognitoHostedUI/google7.png
Labels: JavaScript

#317 Add ATS callout
  .spelling
  ios/pubsub.md
Labels: iOS

#238 add doc for notification opened
  js/push-notifications.md
Labels: JavaScript

#240 Update multienv.md
  cli/multienv.md
Labels: CLI

#244 Improve Auth0 doc
  js/authentication.md
Labels: JavaScript

#264 Update Storage to include attaching manual policy to Cognito
  js/storage.md
Labels: JavaScript

#328 Update push-notifications.md
  android/analytics.md
  android/push-notifications.md
Labels: Android
