Repository aws-amplify/docs, pull requests merged in 2019-01, with the labels that each got.

#353 Add code to initialize AWSAppSyncClient for complex objects
  android/api.md
Labels: Android, enhancement

#214 Update interactions.md, angular.md, and interactions-attributes.html
  .spelling
  js/angular.md
  js/interactions.md
  js/vue.md
  theme/_includes/interactions-attributes.html
Labels: JavaScript

#373 Updated AWS SDK reference to 2.10.+
  android/start.md
Labels: Android

#376 Update Carthage URL
  ios/manualsetup.md
Labels: iOS

#378 Bump SDK version references to 2.11
  android/analytics.md
  android/api.md
  android/authentication.md
  android/how-to-cognito-integrate-an-existing-identity-pool-android.md
  android/interactions.md
  android/manualsetup.md
  android/pubsub.md
  android/push-notifications.md
  android/start.md
  android/storage.md
Labels: Android

#381 [iOS][IoT] Add custom authentication
  .spelling
  ios/pubsub.md
Labels: iOS

#380 Update api.md
  android/api.md
Labels: Android

#384 Update start.md
  ios/start.md
Labels: iOS

#385 [Android][S3] Update doc for 2.11.0 changes
  android/storage.md
Labels: Android

#386 Update api.md
  ios/api.md
Labels: iOS

#371 fix bug in example for Connect component
  js/api.md
Labels: JavaScript

#367 Add identityId props to S3{Image,Text,Album}
  js/storage.md
Labels: JavaScript

#389 Update api.md
  ios/api.md
Labels: iOS

#391 removing redundant view parameter from choosePhoto method
  android/storage.md
Labels: Android

#392 Update start.md
  ios/start.md
Labels: iOS

#366 enhance auth flows doc
  js/authentication.md
Labels: JavaScript

#408 Fixed incorrect method of passing of token
  android/api.md
Labels: Android

#409 Update analytics.md to use newer launchOptions API
  ios/analytics.md
Labels: iOS

#212 Fix #210: Make return type of Storage.put explicit
  js/storage.md
Labels: JavaScript

#312 Changing aws_exports value to reference the value that is exported from config file.
  js/analytics.md
  js/api.md
  js/authentication.md
  js/interactions.md
  js/react.md
  js/storage.md
  js/tutorials/building-react-native-apps/index.md
  js/vue.md
  js/xr.md
Labels: JavaScript

#359 Update start.md
  js/start.md
Labels: JavaScript
