Repository aws-amplify/docs, pull requests merged in 2019-08, with the labels that each got.

#827 add ionic sample
  js/predictions.md
Labels: JavaScript, feature-request

#821 Adds docs for @connection limits.
  cli-toolchain/graphql.md
Labels: CLI, feature-request

#849 Bump AppSync version
  ios/api.md
Labels: iOS

#851 Add @model to schema examples under @connections
  cli-toolchain/graphql.md
Labels: CLI

#842 Fix push notifications url
  js/push-notifications.md
Labels: Android, bug

#834 Fix auth integration code snippet formatting
  ios/analytics.md
Labels: iOS

#823 Added docs for build script hooks.
  .spelling
  cli-toolchain/usage.md
Labels: CLI, feature-request

#836 add documentation for S3 Complex Object handling on iOS
  .spelling
  Readme.md
  _config.yml
  ios/api.md
  ios/storage.md
  package.json
Labels: iOS

#859 Update Android docs to 2.15.0
  android/analytics.md
  android/api.md
  android/authentication.md
  android/how-to-cognito-integrate-an-existing-identity-pool-android.md
  android/interactions.md
  android/manualsetup.md
  android/pubsub.md
  android/push-notifications.md
  android/start.md
  android/storage.md
Labels: Android

#857 Update api.md
  js/api.md
Labels: JavaScript

#854 Update push-notifications-handle-baidu.md
  android/push-notifications-handle-baidu.md
Labels: Android

#837 Update push-notifications.md
  android/push-notifications.md
Labels: Android

#844 Clarified location of archived SDKs for iOS
  ios/manualsetup.md
Labels: iOS

#864 Clarify usages for 'amplify codegen' in Android
  android/api.md
Labels: Android

#839 Update API Docs React Component
  js/api.md
Labels: JavaScript

#861 fix indenting inconsistencies in demonstration
  js/authentication.md
Labels: JavaScript

#850 Warnings on direct Lambda invocation
  js/api.md
Labels: JavaScript

#840 Clean up PubSub AWS IoT steps
  js/images/create-iot-policy.png
  js/pubsub.md
  yarn.lock
Labels: JavaScript

#877 Adding documentation for PreToken trigger and associated template
  cli-toolchain/cognito-triggers.md
  cli-toolchain/quickstart.md
Labels: CLI
