Repository aws-amplify/docs, pull requests merged in 2019-04, with the labels that each got.

#562 fix(js-docs) Include other options information for `Storage.put`
  js/storage.md
Labels: JavaScript

#522 Update android pubsub documentation
  android/pubsub.md
Labels: Android, pending release

#515 Update link to default styles for Angular package
  js/angular.md
Labels: JavaScript

#627 Javascript Syntax highlighting
  js/vue.md
Labels: JavaScript

#609 Fixed md format typo
  android/authentication.md
Labels: Android

#598 Call out availability of username property
  ios/authentication.md
Labels: iOS

#561 [Android] Fix coding sample reference
  android/authentication.md
Labels: Android, enhancement

#579 PubSub documentation typo
  ios/pubsub.md
Labels: iOS

#607 Improve the endpoint sample
  android/pubsub.md
Labels: Android

#619 voiceEnabled typo in sample
  js/interactions.md
Labels: JavaScript

#604 Update react.md
  js/react.md
Labels: JavaScript

#615 Adding per-field-auth & RDS import tool docs
  .spelling
  cli/graphql.md
  cli/images/add-graphql-datasource.png
  cli/images/configure-database.png
  cli/images/connect-to-db-from-queries.png
  cli/images/create-a-database-and-schema.png
  cli/images/create-database.png
  cli/images/data-api.png
  cli/images/database-details.png
  cli/images/graphql-results.png
  cli/images/modify-after-data-api.png
  cli/images/sql-results.png
Labels: CLI

#632 Fixing link issue and providing correct screenshot
  ios/images/ios_appcert21.png
  ios/push-notifications.md
Labels: iOS

#620 Do not link cognito sdk when using Expo or ExpoKit
  js/react.md
Labels: JavaScript

#603 Updated from Create React Native App to Expo CLI
  js/push-notifications.md
  js/start.md
  js/tutorials/building-react-native-apps/index.md
Labels: JavaScript

#611 Add the correct mfaType options in the sample code
  js/authentication.md
Labels: JavaScript
