Repository aws-amplify/docs, pull requests merged in 2019-10, with the labels that each got.

#938 Updating docs for sample apps option in init
  cli-toolchain/quickstart.md
  cli-toolchain/usage.md
Labels: CLI

#884 Add doc for plugin commands
  .spelling
  cli-toolchain/images/plugin-platform.png
  cli-toolchain/plugins.md
  cli-toolchain/usage.md
Labels: CLI

#944 Added custom auth documentation
  ios/authentication.md
Labels: documentation site, iOS, pending release

#967 Fix subscription watcher
  ios/api.md
Labels: iOS

#958 Update Getting Started guide for iOS
  .spelling
  ios/start.md
Labels: iOS

#966 clientMetadata updates
  .spelling
  js/authentication.md
Labels: JavaScript
