Repository aws-amplify/docs, pull requests merged in 2019-02, with the labels that each got.

#428 Update multienv.md
  cli/multienv.md
Labels: CLI

#433 Use cacheConfiguration
  ios/api.md
Labels: iOS

#445 spelling fix
  cli/init.md
Labels: CLI

#436 Minor typo fixes to init.md
  cli/init.md
Labels: CLI

#437 spelling error fix: locates -> located
  js/api.md
Labels: JavaScript

#444 where to find your wss endpoint in AWS console
  js/pubsub.md
Labels: JavaScript

#441 Doc changes for CLI Multienv release
  _config.yml
  cli/concept.md
  cli/init.md
  cli/multienv.md
Labels: CLI

#352 Adding documentation for feature #441
  .spelling
  cli/graphql.md
  cli/migrate.md
  js/api.md
  package-lock.json
Labels: CLI

#443 Fixed withAuthenticator parameter object
  js/authentication.md
Labels: JavaScript

#440 Update multienv.md
  cli/multienv.md
Labels: CLI

#462 iOS sample clarifications
  cli/codegen.md
Labels: iOS

#466 Update start.md
  ios/start.md
Labels: iOS

#478 Upgrade the iOS SDK version to 2.9.0 and AppSync SDK version to 2.10.0
  ios/analytics.md
  ios/api.md
  ios/authentication.md
  ios/how-to-cognito-integrate-an-existing-identity-pool-ios.md
  ios/manualsetup.md
  ios/pubsub.md
  ios/push-notifications.md
  ios/start.md
  ios/storage.md
Labels: iOS

#481 Update authentication.md
  ios/authentication.md
Labels: iOS

#484 Update authentication.md
  ios/authentication.md
Labels: iOS
