Repository aws-amplify/docs, pull requests merged in 2019-12, with the labels that each got.

#1036 (fix) Broken console link
  cli-toolchain/quickstart.md
Labels: CLI, needs-review

#1038 Corrected XCode -> Xcode
  .spelling
  cli-toolchain/graphql.md
  ios/predictions.md
  sdk/ios/api.md
  sdk/ios/start.md
  sdk/ios/storage.md
Labels: iOS, needs-review

#1068 Update storage.md
  js/storage.md
Labels: CLI

#1011 Describe custom cloud resource templates different
  cli-toolchain/quickstart.md
Labels: CLI, needs-review

#1023 Update quickstart.md
  cli-toolchain/quickstart.md
Labels: CLI, needs-review
