Repository aws-amplify/docs, pull requests merged in 2019-09, with the labels that each got.

#888 Updated the AppSync version to latest
  ios/start.md
Labels: iOS

#891 Updates React Native documentation
  js/start.md
Labels: CLI, documentation site

#878 Update storage.md
  android/storage.md
Labels: CLI

#898 Update start.md
  js/start.md
Labels: JavaScript

#875 Update analytics.md
  android/analytics.md
Labels: Android

#903 Update iOS docs to 2.11.0
  ios/analytics.md
  ios/api.md
  ios/authentication.md
  ios/how-to-cognito-integrate-an-existing-identity-pool-ios.md
  ios/pubsub.md
  ios/push-notifications.md
  ios/start.md
  ios/storage.md
Labels: iOS

#904 Recommend npx create-react-app over npm install -g
  js/react.md
  js/start.md
Labels: JavaScript, documentation site

#870 feat: initial draft for multi-auth
  .spelling
  cli-toolchain/graphql.md
Labels: CLI

#919 Update AppSync version
  ios/api.md
  ios/start.md
  ios/storage.md
Labels: iOS

#921 Update analytics.md
  android/analytics.md
Labels: Android

#889 Add documentation for custom auth on Android
  android/authentication.md
Labels: Android

#881 updated @model definition based on subscription level change
  cli-toolchain/graphql.md
Labels: CLI

#843 Update GettingStarted for iOS - Xcode 10.2 and AppSync 2.14.0
  android/start.md
  ios/start.md
Labels: Android, iOS

#916 Clearer language
  js/authentication.md
Labels: JavaScript

#902 Update prediction.md reference to Pinpoint
  js/predictions.md
Labels: JavaScript

#869 Removed old and unlinked interactions pages
  android/interactions.md
  ios/interactions.md
Labels: iOS

#894 Fix graphql example about Owner Authorization
  cli-toolchain/graphql.md
Labels: CLI

#905 document in-memory configuration for iOS AWSMobileClient
  .spelling
  cli-toolchain/graphql.md
  ios/analytics.md
  ios/api.md
  ios/authentication.md
  ios/how-to-cognito-integrate-an-existing-identity-pool-ios.md
  ios/manualsetup.md
  ios/pubsub.md
  ios/push-notifications.md
  ios/storage.md
Labels: iOS

#922 Fix whitespace in code samples
  ios/push-notifications.md
Labels: iOS

#937 Update custom auth documentation for android
  android/authentication.md
Labels: Android
