Repository aws-amplify/docs, pull requests merged in 2020-08, with the labels that each got.

#2186 Add Angular and Vue examples
  docs/lib/datastore/fragments/js/examples.md
Labels: needs-review

#2167 In Getting Started guide, clarify remote sync instructions for Android
  docs/start/getting-started/fragments/android/add-api.md
Labels: Android, Getting Started

#1916 [Android][Auth] Adds break statements and default case to switch statement
  docs/lib/auth/fragments/android/hub_events/10_listen_events.md
Labels: Android, Auth

#2170 Set deugaring flag to true for API and DataStore
  docs/lib/datastore/fragments/android/getting-started/20_installLib.md
  docs/lib/graphqlapi/fragments/android/getting-started.md
  docs/lib/project-setup/fragments/android/create-application/20_gradle.md
Labels: Android, Bug, Getting Started

#2166 In Getting Stared guide, clarify Android project integration
  docs/start/getting-started/fragments/android/integrate.md
Labels: Android, Getting Started

#2165 In Getting Started guide, clarify wording of Android model generation
  docs/start/getting-started/fragments/android/generate-model.md
Labels: Android, Getting Started

#2212 chore: update android amplify versions to latest
  docs/lib/analytics/fragments/android/getting-started/20_installLib.md
  docs/lib/auth/fragments/android/getting_started/20_installLib.md
  docs/lib/datastore/fragments/android/getting-started/20_installLib.md
  docs/lib/datastore/fragments/android/getting-started/30_platformIntegration.md
  docs/lib/datastore/fragments/android/sync/10-installPlugin.md
  docs/lib/graphqlapi/fragments/android/getting-started.md
  docs/lib/graphqlapi/fragments/android/getting-started/20_installLib.md
  docs/lib/predictions/fragments/android/getting-started/30_installLib.md
  docs/lib/project-setup/fragments/android/create-application/20_gradle.md
  docs/lib/restapi/fragments/android/getting-started/20_installLib.md
  docs/lib/storage/fragments/android/getting-started/20_installLib.md
  docs/start/getting-started/fragments/android/setup.md
Labels: Android, Dependency Update

#1374 Fix broken Connect component example
  js/api.md
Labels: JavaScript

#1977 Change master -> main for links to JS repo
  Readme.md
  docs/lib/auth/fragments/js/customui.md
  docs/ui-legacy/auth/fragments/react-native/authenticator.md
  docs/ui-legacy/auth/fragments/react/authenticator.md
  docs/ui-legacy/customization/fragments/react-native/theming.md
  docs/ui-legacy/fragments/angular/overview.md
  docs/ui/auth/fragments/react-native/authenticator.md
  docs/ui/auth/fragments/web/authenticator.md
  docs/ui/customization/fragments/react-native/theming.md
Labels: JavaScript

#1963 Expanding the Vue tutorial and fixing typo from data-model.md page
  docs/start/getting-started/fragments/vue/data-model.md
  docs/start/getting-started/fragments/vue/setup.md
Labels: Getting Started, JavaScript

#2204 New getting started for Angular
  docs/start/getting-started/fragments/angular/build.md
  docs/start/getting-started/fragments/angular/data-model.md
  docs/start/getting-started/fragments/angular/nextsteps.md
  docs/start/getting-started/fragments/angular/setup.md
Labels: Getting Started, JavaScript

#2231 Fix Swift code highlighting in iOS Getting Started
  docs/start/getting-started/fragments/ios/integrate.md
Labels: Getting Started, iOS

#2232 Remove unnecessary nesting from iOS sign-in fragment
  docs/lib/auth/fragments/ios/signin/30_signIn.md
Labels: iOS

#2225 Update example with CookieStorage's sameSite
  docs/lib/auth/fragments/js/start.md
Labels: Auth, JavaScript

#2173 Signing request patch
  docs/lib/graphqlapi/fragments/graphql-from-node.md
Labels: JavaScript

#2171 Destructuring correction
  docs/lib/auth/fragments/js/emailpassword.md
Labels: Auth, JavaScript

#2164 In Android Getting Started guide, clarify project setup
  docs/start/getting-started/fragments/android/setup.md
Labels: Android, Getting Started

#1697 Update hosting.md
  docs/cli/hosting/hosting.md
Labels: CLI

#2321 fix: typo in iOS Combine docs
  docs/lib/project-setup/fragments/ios/combine/combine.md
Labels: iOS

#2086 [S3] documentation update on complex object
  docs/sdk/api/fragments/ios/graphql.md
  docs/sdk/storage/fragments/ios/graphql-api.md
Labels: iOS

#2283 Add Android developer menu documentation
  cspell.json
  docs/images/debugging/androidDevMenu.png
  docs/images/debugging/shakeAndroidEmulator.gif
  docs/lib/debugging/dev-menu.md
  docs/lib/debugging/fragments/android/dev-menu/setup.md
  docs/lib/debugging/fragments/android/dev-menu/usage.md
  docs/lib/debugging/fragments/native_common/dev-menu/common.md
  docs/lib/debugging/menu.json
  docs/lib/menu.json
Labels: Android, Pending Release

#2314 feat(datastore) sorting for Android
  docs/lib/datastore/fragments/android/data-access/query-sort-multiple-snippet.md
  docs/lib/datastore/fragments/android/data-access/query-sort-snippet.md
Labels: Android, Pending Release

#2338 Android 1.3.0 Release
  docs/lib/analytics/fragments/android/getting-started/20_installLib.md
  docs/lib/auth/fragments/android/getting_started/20_installLib.md
  docs/lib/datastore/fragments/android/getting-started/20_installLib.md
  docs/lib/datastore/fragments/android/sync/10-installPlugin.md
  docs/lib/graphqlapi/fragments/android/getting-started.md
  docs/lib/graphqlapi/fragments/android/getting-started/20_installLib.md
  docs/lib/predictions/fragments/android/getting-started/30_installLib.md
  docs/lib/project-setup/fragments/android/create-application/20_gradle.md
  docs/lib/restapi/fragments/android/getting-started/20_installLib.md
  docs/lib/storage/fragments/android/getting-started/20_installLib.md
  docs/start/getting-started/fragments/android/setup.md
Labels: Android, Pending Release
