Repository aws-amplify/docs, pull requests merged in 2020-06, with the labels that each got.

#1896 Updating setup of AmplifyTools to support space char in project
  docs/images/lib/getting-started/ios/set-up-ios-amplify-tools-3.png
  docs/start/getting-started/fragments/ios/native_setup.md
Labels: Getting Started

#1744 Fix Angular hosting DistributionDir
  docs/start/getting-started/fragments/angular/setup.md
  docs/start/getting-started/fragments/vanillajs/hosting.md
Labels: Getting Started

#1741 Syntax fixes and code improvements
  docs/lib/restapi/fragments/js/fetch.md
Labels: JavaScript

#1871 [Native] [API] Authz docs consolidation
  docs/lib/graphqlapi/authz.md
  docs/lib/graphqlapi/fragments/android/authz.md
  docs/lib/graphqlapi/fragments/android/authz/10_userpool.md
  docs/lib/graphqlapi/fragments/android/authz/20_oidc.md
  docs/lib/graphqlapi/fragments/android/authz/30_multi.md
  docs/lib/graphqlapi/fragments/ios/authz.md
  docs/lib/graphqlapi/fragments/ios/authz/10_userpool.md
  docs/lib/graphqlapi/fragments/ios/authz/20_oidc.md
  docs/lib/graphqlapi/fragments/ios/authz/30_multi.md
  docs/lib/graphqlapi/fragments/native_common/authz/common.md
Labels: Android Lib, iOS Lib, next

#1948 Auth State handling for Authenticator UI Component
  docs/start/getting-started/fragments/angular/setup.md
  docs/ui/auth/fragments/angular/auth-state-management.md
  docs/ui/auth/fragments/angular/new-angular-app.md
  docs/ui/auth/fragments/ionic/auth-state-management.md
  docs/ui/auth/fragments/react/auth-state-management.md
  docs/ui/auth/fragments/vue/auth-state-management.md
  docs/ui/auth/fragments/web/authenticator.md
Labels: UI

#2020 Add Translations to customization
  docs/ui/customization/menu.json
  docs/ui/customization/translations.md
Labels: enhancement
