Repository aws-amplify/docs, pull requests merged in 2020-02, with the labels that each got.

#1104 iOS Push notifications getting started APNS updates
  ios/push-notifications-setup-apns.md
  ios/push-notifications.md
Labels: iOS

#1137 APIGateway with userpool authorization should be using IdToken
  js/api.md
Labels: JavaScript

#1145 Storage update
  js/storage.md
Labels: JavaScript

#1133 Update broken link for Android local testing documentation
  sdk/android/storage.md
Labels: Android

#1140 Update Amplify iOS Storage
  ios/storage.md
Labels: iOS

#1065 Update graphql.md - duplicate @model schema definition
  cli-toolchain/graphql.md
Labels: CLI, needs-review

#1168 Maybe wrong function name
  cli-toolchain/graphql.md
Labels: CLI
