Repository aws-amplify/docs, pull requests merged in 2020-05, with the labels that each got.

#1705 fix(api-graphql-docs) add missing docs
  docs/lib/graphqlapi/advanced-workflows.md
  docs/lib/graphqlapi/fragments/js/complex-objects.md
Labels: JavaScript

#1709 Updated iOS Push Notifications guide
  docs/lib/push-notifications/fragments/js/getting-started.md
Labels: needs-review

#1724 fix:(datastore-docs) add missing code snippet for datastore
  docs/lib/datastore/fragments/js/sync.md
Labels: JavaScript

#1800 Unify Predictions category for both iOS and Android
  docs/lib/predictions/fragments/android/getting-started.md
  docs/lib/predictions/fragments/android/getting-started/20_preReq.md
  docs/lib/predictions/fragments/android/getting-started/30_installLib.md
  docs/lib/predictions/fragments/android/getting-started/40_init.md
  docs/lib/predictions/fragments/android/getting-started/50_translate.md
  docs/lib/predictions/fragments/android/getting-started/60_nextSteps.md
  docs/lib/predictions/fragments/android/identify-celebrity.md
  docs/lib/predictions/fragments/android/identify-entity.md
  docs/lib/predictions/fragments/android/identify-text.md
  docs/lib/predictions/fragments/android/interpret.md
  docs/lib/predictions/fragments/android/label-image.md
  docs/lib/predictions/fragments/ios/getting-started.md
  docs/lib/predictions/fragments/ios/getting-started/10_coreml.md
  docs/lib/predictions/fragments/ios/getting-started/20_preReq.md
  docs/lib/predictions/fragments/ios/getting-started/30_installLib.md
  docs/lib/predictions/fragments/ios/getting-started/40_init.md
  docs/lib/predictions/fragments/ios/getting-started/50_translate.md
  docs/lib/predictions/fragments/ios/getting-started/60_nextSteps.md
  docs/lib/predictions/fragments/ios/identify-celebrity.md
  docs/lib/predictions/fragments/ios/identify-entity.md
  docs/lib/predictions/fragments/ios/identify-text.md
  docs/lib/predictions/fragments/ios/interpret.md
  docs/lib/predictions/fragments/ios/intro.md
  docs/lib/predictions/fragments/ios/label-image.md
  docs/lib/predictions/fragments/native_common/getting-started/common.md
  docs/lib/predictions/getting-started.md
  docs/lib/predictions/identify-celebrity.md
  docs/lib/predictions/intro.md
  docs/lib/predictions/menu.json
Labels: Android Lib, iOS Lib, next

#1802 Add docs for cancel API request
  docs/lib/graphqlapi/cancel-request.md
  docs/lib/graphqlapi/fragments/js/cancel-request.md
  docs/lib/graphqlapi/menu.json
  docs/lib/restapi/cancel.md
  docs/lib/restapi/fragments/js/cancel.md
  docs/lib/restapi/menu.json
Labels: needs-review

#1798 feat: Added auth document structure
  docs/lib/auth/access_credentials.md
  docs/lib/auth/auth-events.md
  docs/lib/auth/custom-auth-flow.md
  docs/lib/auth/device-features.md
  docs/lib/auth/drop-in-auth.md
  docs/lib/auth/escapehatch.md
  docs/lib/auth/federated-identities.md
  docs/lib/auth/fragments/android/getting_started/10_preReq.md
  docs/lib/auth/fragments/android/getting_started/20_installLib.md
  docs/lib/auth/fragments/android/getting_started/30_initAuth.md
  docs/lib/auth/fragments/android/getting_started/40_fetchSession.md
  docs/lib/auth/fragments/ios/authentication/prebuild_webUI/10_project_setup.md
  docs/lib/auth/fragments/ios/authentication/prebuild_webUI/20_signIn.md
  docs/lib/auth/fragments/ios/authentication/username_password/10_signIn.md
  docs/lib/auth/fragments/ios/getting_started/10_preReq.md
  docs/lib/auth/fragments/ios/getting_started/20_installLib.md
  docs/lib/auth/fragments/ios/getting_started/30_initAuth.md
  docs/lib/auth/fragments/ios/getting_started/40_fetchSession.md
  docs/lib/auth/fragments/ios/hubEvents/10_listen_events.md
  docs/lib/auth/fragments/ios/register_user/10_signUp.md
  docs/lib/auth/fragments/ios/register_user/20_confirmSignUp.md
  docs/lib/auth/fragments/native_common/auth_events/common.md
  docs/lib/auth/fragments/native_common/authentication/common.md
  docs/lib/auth/fragments/native_common/authentication/register_user/common.md
  docs/lib/auth/fragments/native_common/authentication/signin/common.md
  docs/lib/auth/fragments/native_common/authentication/signin_web_ui/common.md
  docs/lib/auth/fragments/native_common/authentication/signout/common.md
  docs/lib/auth/fragments/native_common/authentication/social_signin_web_ui/common.md
  docs/lib/auth/fragments/native_common/authorization/access_credentials/common.md
  docs/lib/auth/fragments/native_common/escape_hatch/common.md
  docs/lib/auth/fragments/native_common/getting_started/common.md
  docs/lib/auth/fragments/native_common/password_management/common.md
  docs/lib/auth/getting-started.md
  docs/lib/auth/guest-access.md
  docs/lib/auth/hosted-ui.md
  docs/lib/auth/how-it-works.md
  docs/lib/auth/menu.json
  docs/lib/auth/password_management.md
  docs/lib/auth/signOut.md
  docs/lib/auth/signin.md
  docs/lib/auth/signin_web_ui.md
  docs/lib/auth/social_signin_web_ui.md
  docs/lib/auth/user-attributes.md
  docs/lib/auth/working-with-api.md
Labels: Android Lib, iOS Lib, next

#1793 chore: remove duplicate tags from html template
  client/src/index.html
Labels: documentation site

#1762 Generate Filter-specific Page Assets + Filters Without Fragments
  Readme.md
  capi/src/__tests__/absolute-references/absolute-references.ts
  capi/src/__tests__/inlining-filterable-content/content/content.md
  capi/src/__tests__/inlining-filterable-content/content/product/menu.json
  capi/src/__tests__/inlining-filterable-content/content/product/product.md
  capi/src/__tests__/inlining-filterable-content/content/product/yo/menu.json
  capi/src/__tests__/inlining-filterable-content/content/product/yo/nested.md
  capi/src/__tests__/inlining-filterable-content/inlining-filterable-content.ts
  capi/src/__tests__/inlining-filterable-fragments/inlining-filterable-fragments.ts
  capi/src/__tests__/inlining-fragments/inlining-fragments.ts
  capi/src/__tests__/menu-generation/menu-generation.ts
  capi/src/__tests__/next-previous/next-previous.ts
  capi/src/index.ts
  capi/src/types/ctx.ts
  capi/src/visitors/filter.ts
  capi/src/visitors/fragment-tags.ts
  capi/src/visitors/index.ts
  capi/src/write/get-page.ts
  capi/src/write/pages.ts
  client/src/components.d.ts
  client/src/docs-ui/filter-target/__snapshots__/filter-target.spec.ts.snap
  client/src/docs-ui/filter-target/filter-target.spec.ts
  client/src/docs-ui/filter-target/filter-target.tsx
  client/src/docs-ui/page/page.tsx
  package.json
  yarn.lock
Labels: documentation site

#1816 Improvements to the Android Storage section
  docs/lib/storage/configureaccess.md
  docs/lib/storage/fragments/android/configureaccess.md
  docs/lib/storage/fragments/android/download.md
  docs/lib/storage/fragments/android/escapehatch.md
  docs/lib/storage/fragments/android/getting-started.md
  docs/lib/storage/fragments/android/getting-started/10_preReq.md
  docs/lib/storage/fragments/android/getting-started/20_installLib.md
  docs/lib/storage/fragments/android/getting-started/30_initStorage.md
  docs/lib/storage/fragments/android/getting-started/40_upload.md
  docs/lib/storage/fragments/android/list.md
  docs/lib/storage/fragments/android/remove.md
  docs/lib/storage/fragments/android/upload.md
  docs/lib/storage/fragments/ios/getting-started/40_upload.md
  docs/lib/storage/fragments/js/getting-started.md
  docs/lib/storage/fragments/native_common/getting-started/common.md
  docs/lib/storage/getting-started.md
Labels: Android Lib, next

#1811 [Native][AmplifyStorage] doc updates
  docs/lib/storage/fragments/ios/download.md
  docs/lib/storage/fragments/ios/getting-started.md
  docs/lib/storage/fragments/ios/getting-started/20_installLib.md
  docs/lib/storage/fragments/ios/getting-started/30_initStorage.md
  docs/lib/storage/fragments/ios/getting-started/40_upload.md
  docs/lib/storage/fragments/ios/list.md
  docs/lib/storage/fragments/ios/remove.md
  docs/lib/storage/fragments/ios/upload.md
  docs/lib/storage/fragments/native_common/getting-started/common.md
Labels: iOS Lib, next

#1815 Updated @auth docs for GraphQL transform
  docs/cli/graphql-transformer/directives.md
Labels: CLI

#1805 [Native][AmplifyAPIGraphQL] doc updates
  docs/lib/graphqlapi/fragments/android/getting-started/10_preReq.md
  docs/lib/graphqlapi/fragments/android/getting-started/20_installLib.md
  docs/lib/graphqlapi/fragments/android/getting-started/30_initapi.md
  docs/lib/graphqlapi/fragments/android/getting-started/40_codegen.md
  docs/lib/graphqlapi/fragments/android/getting-started/50_createtodo.md
  docs/lib/graphqlapi/fragments/android/mutate-data.md
  docs/lib/graphqlapi/fragments/android/query-data.md
  docs/lib/graphqlapi/fragments/android/subscribe-data.md
  docs/lib/graphqlapi/fragments/ios/getting-started/10_preReq.md
  docs/lib/graphqlapi/fragments/ios/getting-started/20_installLib.md
  docs/lib/graphqlapi/fragments/ios/getting-started/30_initapi.md
  docs/lib/graphqlapi/fragments/ios/getting-started/40_codegen.md
  docs/lib/graphqlapi/fragments/ios/getting-started/50_createtodo.md
  docs/lib/graphqlapi/fragments/ios/mutate-data.md
  docs/lib/graphqlapi/fragments/ios/query-data.md
  docs/lib/graphqlapi/fragments/ios/subscribe-data.md
  docs/lib/graphqlapi/fragments/native_common/getting-started/common.md
  docs/lib/graphqlapi/getting-started.md
Labels: Android Lib, iOS Lib, next

#1828 [Native][Storage] Remove Predications word from Storage
  docs/lib/storage/fragments/android/getting-started/20_installLib.md
  docs/lib/storage/fragments/android/getting-started/30_initStorage.md
  docs/lib/storage/fragments/ios/getting-started/30_initStorage.md
Labels: Android Lib, next

#1801 Git remove sitemap
  client/src/sitemap.xml
Labels: documentation site

#1637 Update protected access for amplify storage
  docs/lib/storage/fragments/ios/configureaccess.md
Labels: iOS Lib

#1834 Update create your application with logging and remove error
  docs/lib/project-setup/fragments/ios/create-application/40_verifyAmplifyLibraries.md
Labels: Getting Started, iOS Lib

#1838 Update outdated config
  docs/lib/datastore/fragments/android/sync.md
Labels: Android Lib, next

#1845 Make TOC breakpoint wider
  client/src/docs-ui/page/page.style.ts
Labels: documentation site

#1846 Fix navigation issues
  client/src/components.d.ts
  client/src/docs-ui/page/page.tsx
Labels: documentation site

#1840 Direct users to amplify lib instead of sdk
  docs/docs.md
  docs/fragments/features-grid.md
Labels: Android Lib, iOS Lib, next

#1808 [Native][AmplifyAPIRest] doc updates
  docs/lib/interactions/fragments/js/chatbot.md
  docs/lib/restapi/delete.md
  docs/lib/restapi/fetch.md
  docs/lib/restapi/fragments/android/delete.md
  docs/lib/restapi/fragments/android/fetch.md
  docs/lib/restapi/fragments/android/getting-started/10_preReq.md
  docs/lib/restapi/fragments/android/getting-started/20_installLib.md
  docs/lib/restapi/fragments/android/getting-started/30_initapi.md
  docs/lib/restapi/fragments/android/getting-started/40_postTodo.md
  docs/lib/restapi/fragments/android/update.md
  docs/lib/restapi/fragments/ios/delete.md
  docs/lib/restapi/fragments/ios/fetch.md
  docs/lib/restapi/fragments/ios/getting-started/10_preReq.md
  docs/lib/restapi/fragments/ios/getting-started/20_installLib.md
  docs/lib/restapi/fragments/ios/getting-started/30_initapi.md
  docs/lib/restapi/fragments/ios/getting-started/40_postTodo.md
  docs/lib/restapi/fragments/ios/update.md
  docs/lib/restapi/fragments/js/fetch.md
  docs/lib/restapi/fragments/native_common/getting-started/common.md
  docs/lib/restapi/getting-started.md
  docs/lib/restapi/update.md
  docs/lib/xr/fragments/sceneapi.md
  docs/ui-legacy/api/fragments/react/connect.md
Labels: Android Lib, iOS Lib, next

#1851 [iOS][AmplifyAnalytics] code snippets update
  docs/lib/analytics/fragments/ios/getting-started/40_record.md
  docs/lib/analytics/fragments/ios/record.md
  docs/lib/storage/fragments/ios/escapehatch.md
Labels: iOS Lib, next

#1853 Updates for Android GraphQL API section
  docs/lib/graphqlapi/fragments/android/getting-started/50_createtodo.md
  docs/lib/graphqlapi/fragments/android/mutate-data.md
  docs/lib/graphqlapi/fragments/android/query-data.md
  docs/lib/graphqlapi/fragments/android/subscribe-data.md
  docs/lib/graphqlapi/fragments/native_common/getting-started/common.md
  docs/lib/graphqlapi/menu.json
Labels: Android Lib, next

#1856 [iOS] [Tutorial] run through updates 2
  docs/start/getting-started/fragments/android/native_add-api.md
  docs/start/getting-started/fragments/ios/native_add-api.md
  docs/start/getting-started/fragments/ios/native_integrate.md
Labels: iOS Lib, next

#1807 Consolidate Authenticator UI into a single file
  client/src/docs-ui/component-playground/custom-components/authenticator-with-slots.tsx
  docs/ui/auth/authenticator.md
  docs/ui/auth/fragments/web/authenticator.md
Labels: UI

#1859 [iOS] [datastore] run-through sections updates
  docs/lib/datastore/conflict.md
  docs/lib/datastore/fragments/ios/conflict.md
  docs/lib/datastore/fragments/ios/data-access/query-predicate-multiple-snippet.md
  docs/lib/datastore/fragments/ios/data-access/query-predicate-snippet.md
  docs/lib/datastore/fragments/ios/relational/query-snippet.md
  docs/lib/datastore/relational.md
Labels: iOS Lib, next

#1874 Added Sign in with Apple to iOS and Android social sign in section
  docs/images/cognitoHostedUI/apple1.png
  docs/images/cognitoHostedUI/apple2.png
  docs/images/cognitoHostedUI/apple3.png
  docs/images/cognitoHostedUI/apple4.png
  docs/images/cognitoHostedUI/apple5.png
  docs/lib/auth/fragments/native_common/social_signin_web_ui/common.md
Labels: Android Lib, Auth, iOS Lib

#1866 Added content related to global signout
  docs/lib/auth/fragments/native_common/signout/common.md
Labels: Android Lib, Auth, iOS Lib
