Repository aws-amplify/docs, pull requests merged in 2020-07, with the labels that each got.

#2043 chore: Remove the version number from the podfile dependency
  docs/sdk/auth/fragments/ios/federated-identities.md
  docs/sdk/auth/fragments/ios/getting-started.md
  docs/sdk/pubsub/fragments/ios/getting-started.md
Labels: iOS SDK

#2082 fix outdated iOS Predictions code snippets
  docs/lib/predictions/fragments/ios/getting-started/50_translate.md
  docs/lib/predictions/fragments/ios/identify-entity.md
  docs/lib/predictions/fragments/ios/identify-text.md
  docs/lib/predictions/fragments/ios/interpret.md
  docs/lib/predictions/fragments/ios/label-image.md
  docs/lib/predictions/fragments/ios/text-speech.md
  docs/lib/predictions/fragments/ios/transcribe.md
  docs/lib/predictions/fragments/ios/translate.md
Labels: iOS Lib

#1888 [Native][iOS] Rest docs update method `body` from nil
  docs/lib/restapi/fragments/ios/fetch.md
  docs/lib/restapi/fragments/ios/getting-started/40_postTodo.md
  docs/lib/restapi/fragments/ios/update.md
Labels: iOS, next

#1818 Fix a broken link to Apollo docs
  docs/lib/graphqlapi/fragments/js/offline.md
Labels: JavaScript

#1774 'Has One' @connections can only reference primary index
  docs/cli/graphql-transformer/directives.md
Labels: CLI

#1875 [iOS][DataStore] Models with auth directive
  docs/lib/datastore/auth-model.md
  docs/lib/datastore/fragments/ios/auth-model.md
Labels: iOS, next
