Repository aws-amplify/docs, pull requests merged in 2020-09, with the labels that each got.

#2339 feat(android-api) update docs for new pagination approach added in #amplify-android/pull/750
  docs/lib/graphqlapi/fragments/android/query-data.md
Labels: Pending Release

#2141 [iOS] AWSAPIPlugin GraphQL Advanced workflow docs with custom GraphQL requests
  cspell.json
  docs/lib/graphqlapi/advanced-workflows.md
  docs/lib/graphqlapi/fragments/android/advanced-workflows/10_example.md
  docs/lib/graphqlapi/fragments/android/advanced-workflows/20_custom.md
  docs/lib/graphqlapi/fragments/android/advanced-workflows/30_nested.md
  docs/lib/graphqlapi/fragments/android/advanced-workflows/40_multiple.md
  docs/lib/graphqlapi/fragments/ios/advanced-workflows/10_example.md
  docs/lib/graphqlapi/fragments/ios/advanced-workflows/20_custom.md
  docs/lib/graphqlapi/fragments/ios/advanced-workflows/30_nested.md
  docs/lib/graphqlapi/fragments/ios/advanced-workflows/40_multiple.md
  docs/lib/graphqlapi/fragments/native_common/advanced-workflows/common.md
Labels: iOS

#2379 Documentation for DataStore Hub Events
  docs/lib/datastore/datastore-events.md
  docs/lib/datastore/fragments/android/datastore-events.md
  docs/lib/datastore/fragments/js/datastore-events.md
Labels: Android

#2432 deps: bump aws-amplify to latest
  client/src/components.d.ts
  package.json
  yarn.lock
Labels: Pending Release

#2415 Remove react-native-vector-icons from getting started
  docs/start/getting-started/fragments/reactnative/getting-started-steps.md
Labels: Pending Release

#2433 replace AmplifyTools pod with cli amplify-app commands
  docs/images/lib/getting-started/ios/set-up-ios-amplify-tools-1.png
  docs/images/lib/getting-started/ios/set-up-ios-amplify-tools-2.png
  docs/images/lib/getting-started/ios/set-up-ios-amplify-tools-3.png
  docs/images/xcode-build-error.png
  docs/lib/datastore/fragments/ios/getting-started/30_platformIntegration.md
  docs/lib/datastore/fragments/ios/getting-started/40_codegen.md
  docs/lib/datastore/fragments/native_common/getting-started.md
  docs/lib/datastore/fragments/native_common/sync.md
  docs/start/getting-started/fragments/ios/add-api.md
  docs/start/getting-started/fragments/ios/generate-model.md
  docs/start/getting-started/fragments/ios/integrate.md
  docs/start/getting-started/fragments/ios/setup.md
Labels: iOS
