Repository aws-amplify/docs, pull requests merged in 2020-01, with the labels that each got.

#1088 fix: (@aws-amplify/interactions) Fix broken API Reference link
  js/interactions.md
Labels: JavaScript, documentation site

#1067 Typo
  ios/authentication.md
Labels: iOS, needs-review

#1078 Update api.md
  js/api.md
Labels: JavaScript, needs-review

#1056 Example does not match with usage
  js/vue.md
Labels: JavaScript

#986 Update authentication.md
  ios/authentication.md
  ios/how-to-cognito-integrate-an-existing-identity-pool-ios.md
  ios/pubsub.md
  ios/push-notifications.md
Labels: iOS

#1077 Clarify wording of DataStore guide
  android/datastore.md
Labels: Android
