Repository aws-amplify/docs, pull requests merged in 2020-11, with the labels that each got.

#2631 Update subscription example in iOS Getting Started
  docs/start/getting-started/fragments/ios/add-api.md
Labels: iOS

#2618 fix:Update pubsub import path
  docs/lib/pubsub/fragments/js/getting-started.md
Labels: Ready for Review

#2589 feat(auth): Added implementation for custom auth
  cspell.json
  docs/lib/auth/fragments/ios/signin_with_custom_flow/10_cli_setup.md
  docs/lib/auth/fragments/ios/signin_with_custom_flow/20_signup.md
  docs/lib/auth/fragments/ios/signin_with_custom_flow/30_confirmSignup.md
  docs/lib/auth/fragments/ios/signin_with_custom_flow/40_signin.md
  docs/lib/auth/fragments/ios/signin_with_custom_flow/50_custom_challenge.md
  docs/lib/auth/fragments/native_common/signin_with_custom_flow/common.md
  docs/lib/auth/menu.json
  docs/lib/auth/signin_with_custom_flow.md
Labels: iOS

#2611 Desktop UI for showing/hiding docs sidebar
  client/src/amplify-ui/cli-feature-flag/__snapshots__/feature-flag.spec.ts.snap
  client/src/amplify-ui/sidebar-layout/sidebar-close-button/__snapshots__/sidebar-close-button.spec.ts.snap
  client/src/amplify-ui/sidebar-layout/sidebar-close-button/sidebar-close-button.spec.ts
  client/src/amplify-ui/sidebar-layout/sidebar-close-button/sidebar-close-button.style.ts
  client/src/amplify-ui/sidebar-layout/sidebar-close-button/sidebar-close-button.tsx
  client/src/amplify-ui/sidebar-layout/sidebar-layout-main/__snapshots__/sidebar-layout-main.spec.ts.snap
  client/src/amplify-ui/sidebar-layout/sidebar-layout-main/sidebar-layout-main.style.ts
  client/src/amplify-ui/sidebar-layout/sidebar-layout-sidebar/__snapshots__/sidebar-layout-sidebar.spec.ts.snap
  client/src/amplify-ui/sidebar-layout/sidebar-layout-sidebar/sidebar-layout-sidebar.style.ts
  client/src/amplify-ui/sidebar-layout/sidebar-layout-sidebar/sidebar-layout-sidebar.tsx
  client/src/amplify-ui/sidebar-layout/sidebar-layout.tsx
  client/src/amplify-ui/sidebar-layout/sidebar-open-button/__snapshots__/sidebar-open-button.spec.ts.snap
  client/src/amplify-ui/sidebar-layout/sidebar-open-button/sidebar-open-button.spec.ts
  client/src/amplify-ui/sidebar-layout/sidebar-open-button/sidebar-open-button.style.ts
  client/src/amplify-ui/sidebar-layout/sidebar-open-button/sidebar-open-button.tsx
  client/src/amplify-ui/toc/toc/toc.style.ts
  client/src/amplify-ui/toc/toc/toc.tsx
  client/src/components.d.ts
  client/src/constants/img.ts
  client/src/docs-ui/menu-group/menu-group.tsx
  client/src/docs-ui/menu/menu.style.ts
  client/src/docs-ui/menu/menu.tsx
  client/src/docs-ui/page/__snapshots__/page.spec.ts.snap
  client/src/docs-ui/page/page.style.ts
  client/src/docs-ui/page/page.tsx
  client/src/docs-ui/secondary-nav/__snapshots__/secondary-nav.spec.ts.snap
  client/src/docs-ui/secondary-nav/secondary-nav.tsx
  client/src/docs-ui/select-anchor/select-anchor.style.ts
  client/src/docs-ui/select-anchor/select-anchor.tsx
  docs/assets/burger-dark.svg
  docs/assets/burger-light.svg
  docs/assets/close-dark.svg
  docs/assets/close-light.svg
Labels: Docs Site (Itself), Feature Request

#2655 fix:remove AWS SDK 3 callout
  docs/fragments/lib/js.md
Labels: Ready for Review

#2654 Only show menu open button when page has a menu
  client/src/components.d.ts
  client/src/docs-ui/page/page.tsx
  client/src/docs-ui/secondary-nav/__snapshots__/secondary-nav.spec.ts.snap
  client/src/docs-ui/secondary-nav/secondary-nav.tsx
Labels: Docs Site (Itself)

#2657 added to hub readme
  docs/lib/utilities/fragments/hub.md
Labels: Pending Release

#2211 [Native] REST/GraphQL API authz consolidation
  docs/lib/graphqlapi/fragments/android/authz/21_oidc.md
  docs/lib/graphqlapi/fragments/ios/authz/20_oidc.md
  docs/lib/graphqlapi/fragments/ios/authz/21_oidc.md
  docs/lib/graphqlapi/fragments/native_common/authz/common.md
  docs/lib/restapi/authz.md
  docs/lib/restapi/fragments/android/authz.md
  docs/lib/restapi/fragments/ios/authz.md
  docs/lib/restapi/fragments/native_common/authz/common.md
Labels: Android, Ready for Review, iOS
