Repository aws-amplify/docs, pull requests merged in 2021-02, with the labels that each got.

#2855 Adobe Analytics -- second round of changes!
  client/src/amplify-ui/external-link/external-link.tsx
  client/src/components.d.ts
  client/src/docs-ui/card/__snapshots__/card.spec.ts.snap
  client/src/docs-ui/card/card.tsx
  client/src/docs-ui/choose-integration-anchor/__snapshots__/choose-integration-anchor.spec.ts.snap
  client/src/docs-ui/choose-integration-anchor/choose-integration-anchor.tsx
  client/src/docs-ui/internal-link-button/__snapshots__/internal-link-button.spec.ts.snap
  client/src/docs-ui/internal-link-button/internal-link-button.tsx
  client/src/docs-ui/internal-link/internal-link.tsx
  client/src/docs-ui/landing-hero-cta/__snapshots__/landing-hero-cta.spec.ts.snap
  client/src/docs-ui/landing-hero-cta/landing-hero-cta.tsx
  client/src/docs-ui/page/page.tsx
  client/src/docs-ui/search-bar/search-bar.tsx
  client/src/utils/track.ts
  client/src/utils/transform-search-data.ts
Labels: Docs Site (Itself)

#2912 iOS - Update kinesis.md broken links
  docs/sdk/analytics/fragments/ios/kinesis.md
Labels: iOS

#2913 fix(ios-sdk): appsync client architecture table formatting
  docs/sdk/api/fragments/ios/graphql.md
Labels: iOS

#2942 fix: Update geolocation schmea to include @connection directive
  docs/cli/graphql-transformer/resolvers.md
Labels: CLI

#2936 feat(auth): Add documentation for next step in auth
  cspell.json
  docs/lib/auth/fragments/ios/signin_next_steps/10_signin.md
  docs/lib/auth/fragments/ios/signin_next_steps/20_confirm_sms_mfa.md
  docs/lib/auth/fragments/ios/signin_next_steps/30_confirm_custom_challenge.md
  docs/lib/auth/fragments/ios/signin_next_steps/40_confirm_new_password.md
  docs/lib/auth/fragments/ios/signin_next_steps/50_reset_password.md
  docs/lib/auth/fragments/ios/signin_next_steps/60_confirm_signup.md
  docs/lib/auth/fragments/ios/signin_next_steps/70_done.md
  docs/lib/auth/fragments/native_common/signin_next_steps/common.md
  docs/lib/auth/menu.json
  docs/lib/auth/signin_next_steps.md
Labels: Auth, iOS

#2943 Fix Auth Resource Format in CustomCF
  docs/cli/usage/customcf.md
Labels: CLI

#2944 Fix Custom Transformer Plugin Info
  docs/cli/plugins/fragments/custom-transformer.md
Labels: CLI

#2939 fix-gql-custom-claim
  docs/cli/graphql-transformer/auth.md
Labels: CLI

#2961 Turn fingerprinting back on, because it didn't seem to do anything
  client/stencil.config.ts
Labels: Docs Site (Itself)

#2984 fix: update global sign out documentation to match Amazon Cognito doc…
  docs/lib/auth/fragments/js/emailpassword.md
Labels: Ready for Review

#2921 feat(ios-graphql): add pagination support in API
  docs/lib/graphqlapi/fragments/ios/query-data.md
Labels: iOS
