Repository aws-amplify/docs, pull requests merged in 2021-11, with the labels that each got.

#3728 remove Analytics.record() from code snippet
  src/fragments/lib/analytics/js/getting-started.mdx
Labels: analytics

#3665 Adding a note on DistributionDir
  src/fragments/start/getting-started/vanillajs/hosting.mdx
Labels: first-time-contributor

#3716 Add typescript syntax highlight to `cli-auth-signup-changes/`
  src/pages/cli/migration/cli-auth-signup-changes.mdx
Labels: amplify/cli

#3641 fix(auth): update using existing resources
  src/fragments/lib/auth/existing-resources.mdx
  src/fragments/lib/auth/flutter/existing-resources.mdx
  src/fragments/lib/auth/flutter/existing_resources/10_existingResources.mdx
  src/fragments/lib/auth/native_common/existing_resources/common.mdx
  src/pages/lib/auth/existing-resources/q/platform/[platform].mdx
Labels: amplify/flutter

#3570 chore: Fix the force unwrap inside iOS Storage
  src/fragments/sdk/storage/ios/transfer-utility.mdx
Labels: amplify/ios

#3525 Update comment about validationData been an object instead of an array
  src/fragments/lib/auth/js/advanced.mdx
Labels: amplify/js, first-time-contributor

#3596 Add region mapping feature flags
  src/components/FeatureFlags/feature-flags.json
Labels: amplify/cli

#3203 document ${region} template for @http directive
  src/pages/cli/graphql-transformer/http.mdx
Labels: amplify/cli

#3722 Centralized location for Android versions
  src/constants/versions.ts
  src/fragments/lib/analytics/android/getting-started/20_installLib.mdx
  src/fragments/lib/auth/android/getting_started/20_installLib.mdx
  src/fragments/lib/datastore/android/getting-started/20_installLib.mdx
  src/fragments/lib/datastore/android/sync/10-installPlugin.mdx
  src/fragments/lib/geo/android/getting_started/30_install_lib.mdx
  src/fragments/lib/geo/android/maps/10_install_adapter.mdx
  src/fragments/lib/graphqlapi/android/authz/21_oidc.mdx
  src/fragments/lib/graphqlapi/android/getting-started.mdx
  src/fragments/lib/graphqlapi/android/getting-started/20_installLib.mdx
  src/fragments/lib/predictions/android/getting-started/30_installLib.mdx
  src/fragments/lib/project-setup/android/coroutines/coroutines.mdx
  src/fragments/lib/project-setup/android/create-application/20_gradle.mdx
  src/fragments/lib/project-setup/android/rxjava/rxjava.mdx
  src/fragments/lib/restapi/android/getting-started/20_installLib.mdx
  src/fragments/lib/storage/android/getting-started/20_installLib.mdx
  src/fragments/start/getting-started/android/setup.mdx
  src/plugins/code-block.tsx
Labels: amplify/docs, amplify/android

#3470 update clear and start method notes
  src/fragments/lib/datastore/js/other-methods.mdx
Labels: amplify/js, DataStore

#3739 update httpx.mdx for correct `aws_region` ref
  src/pages/cli/graphql-transformer/http.mdx
Labels: amplify/cli

#3664 updates docs on how to auto-resume s3 network tasks
  src/fragments/sdk/storage/ios/transfer-utility.mdx
Labels: amplify/ios

#3725 docs(geo): updates from DA feedback
  src/fragments/lib/client-configuration/js/js-configuration.mdx
  src/fragments/lib/geo/js/maps.mdx
  src/fragments/lib/geo/js/search.mdx
Labels: geo

#3747 Fix bug where second version in code block isn't replaced (start page)
  src/plugins/code-block.tsx
Labels: amplify/docs

#3577 fix(flutter): Specifies gradle plugin for queries element in manifest
  src/fragments/lib/auth/flutter/signin_web_ui/20_platform_specific_setup.mdx
Labels: amplify/flutter

#3735 Fix: iOS Getting Started Formatting Typo
  src/fragments/start/getting-started/ios/add-api.mdx
Labels: amplify/ios

#3754 fix(docs): CLI env commands
  src/pages/cli/function/secrets.mdx
Labels: amplify/cli

#3580 feat: docs for destructive schema updates
  src/pages/cli/graphql-transformer/overview.mdx
  src/pages/cli/usage/headless.mdx
Labels: amplify/cli

#3536 Update working-with-api.mdx
  src/fragments/sdk/auth/android/working-with-api.mdx
Labels: amplify/android

#3281 remove stale code block for API env endpoints
  src/pages/cli/restapi/restapi.mdx
Labels: amplify/cli

#3759 fixed incorrect import statement for storage/flutter
  src/fragments/lib/storage/flutter/getting-started/20_installLib.mdx
Labels: amplify/flutter

#3764 chore: Chage the documentation to show guest fetchauthsession
  src/fragments/lib/auth/ios/access_credentials/10_fetchAuthSession.mdx
Labels: amplify/ios

#3723 [Android] Geo search API dev preview
  src/constants/versions.ts
  src/directory/directory.js
  src/fragments/lib/geo/android/existing-resources.mdx
  src/fragments/lib/geo/android/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/android/maps/20_display_map.mdx
  src/fragments/lib/geo/android/search/10_search_by_text.mdx
  src/fragments/lib/geo/android/search/20_search_by_coordinates.mdx
  src/fragments/lib/geo/native_common/search/common.mdx
  src/pages/lib/geo/search/q/platform/[platform].mdx
Labels: amplify/android, geo

#3771 Social sign in - flutter quickstart changes
  src/fragments/lib/auth/common/social_signin_web_ui/configure_auth_category.mdx
  src/fragments/lib/auth/flutter/signin_web_ui/20_platform_specific_setup.mdx
Labels: amplify/flutter

#3744 [Do not merge] Amplify Admin UI Storage integration docs
  public/images/console/fileBrowser.png
  public/images/console/storageClicks.gif
  public/images/console/storageStart.png
  src/directory/directory.js
  src/pages/console/storage/file-browser.mdx
  src/pages/console/storage/file-storage.mdx
Labels: amplify/admin-ui

#3777 fix(flutter): preferPrivateSession docs
  src/fragments/lib/auth/flutter/signin_web_ui/40_private_session.mdx
  src/fragments/lib/auth/native_common/signin_web_ui/common.mdx
Labels: amplify/flutter

#3789 Redirecting React, Angular, Vue, Ionic, Next customers to the new Amplify UI docs
  src/directory/directory.js
  src/fragments/ui/vue/installation.mdx
  src/fragments/ui/web/installation.mdx
  src/pages/ui-legacy/auth/authenticator/q/framework/[framework].mdx
  src/pages/ui-legacy/q/framework/[framework].mdx
  src/pages/ui/q/framework/[framework].mdx
Labels: amplify/ui

#3772 chore(updating hosting.mdx): add explicit redirect address
  src/pages/cli/hosting/hosting.mdx
Labels: amplify/hosting

#3791 Update Vue 2 Install Information
  src/fragments/ui/vue/installation.mdx
Labels: amplify/ui

#3795 Docs for multi-account and multi-region export deployments
  src/pages/cli/usage/export-to-cdk.mdx
Labels: amplify/cli

#3799 fix(iOS): Add Geo (Developer Preview) to category lists.
  public/images/project-setup/20_7_select-dependencies.png
  src/fragments/lib/geo/ios/getting_started/10_pre_req.mdx
  src/fragments/lib/project-setup/ios/create-application/20_install_libraries.mdx
  src/fragments/lib/project-setup/ios/use-existing-resources/use-existing-resources.mdx
  src/fragments/lib/project-setup/native_common/create-application/50_nextSteps.mdx
  src/fragments/start/getting-started/ios/nextsteps.mdx
Labels: amplify/ios

#3797 feat(Android): update MapLibre docs for Developer Preview launch
  src/constants/versions.ts
  src/fragments/lib/geo/android/getting_started/20_cli_resources.mdx
  src/fragments/lib/geo/android/maps/10_install_adapter.mdx
  src/fragments/lib/geo/android/maps/20_display_map.mdx
  src/fragments/lib/geo/android/maps/30_styles.mdx
Labels: amplify/android

#3814 Screenshots and preview wording
  public/images/lib/in-app-messaging/campaign-settings.png
  public/images/lib/in-app-messaging/choose-campaign-segment.png
  public/images/lib/in-app-messaging/in-app-message-details.png
  public/images/lib/in-app-messaging/in-app-message-preview.png
  src/fragments/lib/in-app-messaging/js/overview.mdx
Labels: amplify/js

#3816 feat(iOS): Add customer use case examples / friction log recommendations.
  public/images/ios-geocoder-custom-images.png
  public/images/ios-geocoder-search-box-map.png
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
  src/fragments/lib/geo/ios/maps/20_display_map.mdx
  src/fragments/lib/geo/ios/search/10_search_by_text.mdx
  src/fragments/lib/geo/ios/search/30_location_search_map.mdx
  src/fragments/lib/geo/native_common/search/common.mdx
Labels: amplify/ios

#3833 chore(geo): add note about how to create a map with a classname
  src/fragments/lib/geo/js/maps.mdx
Labels: amplify/js

#3800 Added clarification on when DS starts sync
  src/fragments/lib/datastore/native_common/sync.mdx
Labels: amplify/js, amplify/ios, amplify/android, amplify/flutter, DataStore
