Repository aws-amplify/docs, pull requests merged in 2021-12, with the labels that each got.

#3834 Add why auth is needed for maps and search functionality
  src/pages/cli/geo/maps.mdx
  src/pages/cli/geo/search.mdx
Labels: amplify/cli

#3752 feat: add docs for Custom Domains for all platforms
  src/fragments/lib/graphqlapi/existing-resources.mdx
  src/fragments/lib/graphqlapi/js/create-or-re-use-existing-backend.mdx
Labels: amplify/js

#3745 add @react-native-picker/picker to aws-amplify-react-native install steps
  src/fragments/lib/auth/js/react-native-withoauth.mdx
  src/fragments/lib/auth/js/start.mdx
  src/fragments/lib/datastore/js/getting-started/30_platformIntegration.mdx
  src/fragments/start/getting-started/reactnative/getting-started-steps-ui.mdx
  src/fragments/ui-legacy/auth/react-native/overview.mdx
  src/fragments/ui-legacy/auth/react/tutorial.mdx
  src/fragments/ui-legacy/react-native/overview.mdx
  src/fragments/ui/react-native/installation.mdx
Labels: amplify/js

#3867 feat(android-mapview): improved mapview documentation and guides
  src/constants/versions.ts
  src/fragments/lib/geo/android/maps/20_display_map.mdx
Labels: amplify/android, geo

#3852 fix(iOS): Add anonymous closure argument to DataStore.save() Combine
  src/fragments/lib/datastore/ios/data-access/save-snippet.mdx
  src/fragments/lib/datastore/ios/data-access/update-snippet.mdx
  src/fragments/lib/datastore/ios/getting-started/60_saveSnippet.mdx
Labels: amplify/ios, DataStore

#3875 fix(flutter): handles setting platform and framework to flutter
  src/utils/withFilterOverrides.ts
Labels: amplify/docs

#3881 docs: documentation for geo populate
  src/pages/cli/geo/geofencing.mdx
Labels: geo

#3893 fix(flutter): fixes authenticator link
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
Labels: amplify/flutter
