Repository aws-amplify/docs, pull requests merged in 2021-01, with the labels that each got.

#2828 Fix typo
  docs/console/auth/user-management.md
Labels: Docs Site (Itself)

#2829 Dependabot version bump
  capi/package.json
  client/src/amplify-ui/responsive-grid/__snapshots__/responsive-grid.spec.ts.snap
  client/src/amplify-ui/responsive-grid/responsive-grid.spec.ts
  client/src/amplify-ui/toc/toc-content/__snapshots__/toc-content.spec.ts.snap
  client/src/amplify-ui/toc/toc-content/toc-content.spec.ts
  client/src/docs-ui/landing-hero-cta/__snapshots__/landing-hero-cta.spec.ts.snap
  client/src/docs-ui/landing-hero-cta/landing-hero-cta.spec.ts
  package.json
  yarn.lock
Labels: Docs Site (Itself)

#2845 fix: add missing policies to CLI policy list
  docs/cli/usage/iam.md
Labels: CLI

#2852 Update overflow behavior again: thank you @wlee221!
  client/src/docs-ui/menu/menu.style.ts
Labels: Docs Site (Itself)

#2857 fix: add DataStore selective sync section for iOS
  docs/lib/datastore/fragments/ios/sync/50-selectiveSync.md
  docs/lib/datastore/fragments/native_common/sync.md
Labels: DataStore

#2901 fix: Update yarn.lock file
  yarn.lock
Labels: Docs Site (Itself)

#2882 fix(datastore): revert Remove predicate documentation from delete in iOS
  docs/lib/datastore/fragments/ios/sync/19-sync-save-delete-predicate.md
  docs/lib/datastore/fragments/native_common/sync-distributed-data.md
  docs/lib/datastore/fragments/native_common/sync-save-delete-predicate.md
Labels: DataStore, iOS
