Repository aws-amplify/docs, pull requests merged in 2022-05, with the labels that each got.

#4230 feat(auth): add content for token revocation when signing out
  src/fragments/lib/auth/native_common/signout/common.mdx
  src/fragments/sdk/auth/android/working-with-api.mdx
Labels: amplify/android

#4309 Remove outdated references to legacy ui packages
  src/fragments/lib/auth/js/advanced.mdx
  src/fragments/lib/auth/js/social.mdx
Labels: amplify/ui

#4310 Update node/npm versions
  src/fragments/lib/project-setup/native_common/prereq/common_header.mdx
  src/fragments/start/getting-started/common/prereq.mdx
  src/pages/cli/start/install.mdx
Labels: amplify/js

#4325 fix(ios): API - add `decodePath` to nested query
  src/fragments/lib/graphqlapi/ios/advanced-workflows/30_nested.mdx
Labels: amplify/ios

#4338 remove react native authenticator
  src/fragments/lib/auth/js/getting-started.mdx
Labels: amplify/js

#4342 Update Android getting started to match Flutter
  public/images/lib/getting-started/android/generate-model-admin-ui-create.png
  src/fragments/start/getting-started/android/generate-model.mdx
Labels: amplify/android
