Repository aws-amplify/docs, pull requests merged in 2022-02, with the labels that each got.

#4003 Android SDK version should also be a constant; also bump version to 2.40.0
  src/constants/versions.ts
  src/fragments/guides/location-service/setting-up-your-app-android.mdx
  src/fragments/sdk/analytics/android/getting-started.mdx
  src/fragments/sdk/analytics/android/kinesis.mdx
  src/fragments/sdk/api/android/rest.mdx
  src/fragments/sdk/auth/android/federated-identities.mdx
  src/fragments/sdk/auth/android/getting-started.mdx
  src/fragments/sdk/configuration/android/setup-options.mdx
  src/fragments/sdk/pubsub/android/getting-started.mdx
  src/fragments/sdk/push-notifications/android/getting-started.mdx
  src/fragments/sdk/storage/android/getting-started.mdx
  src/plugins/code-block.tsx
Labels: amplify/android

#4008 update /src/pages/cli/start/install.mdx
  src/pages/cli/start/install.mdx
Labels: amplify/cli, getting-started

#4020 updated Authenticator version number
  src/fragments/lib/auth/flutter/getting_started/40_authenticator.mdx
  src/fragments/ui/flutter/installation.mdx
Labels: amplify/flutter

#4024 fix(amplify-flutter): Update DataStore custom config related docs
  src/fragments/lib/datastore/flutter/conflict.mdx
Labels: amplify/flutter

#4073 Timeout fetch auth session flutter
  src/fragments/lib/auth/flutter/access_credentials/10_fetchAuthSession.mdx
Labels: amplify/flutter

#4075 fix(docs): CLI - split supported resolver slots by operation
  src/pages/cli/graphql/custom-business-logic.mdx
Labels: amplify/cli
