Repository aws-amplify/docs, pull requests merged in 2022-09, with the labels that each got.

#4289 chore: add datastore callout to multiauth docs
  src/pages/cli/graphql/authorization-rules.mdx
Labels: amplify/data

#4498 feat(cli-api): add callout for invalid owner identity claims check
  src/pages/cli/migration/identity-claim-changes.mdx
Labels: amplify/cli

#4458 doc: command hooks file management changes
  src/pages/cli/project/command-hooks.mdx
Labels: amplify/cli

#4578 remove iOS V2 predictions category
  src/directory/directory.js
  src/fragments/lib/project-setup/ios/create-application/50_nextSteps.mdx
  src/fragments/lib/project-setup/native_common/create-application/common.mdx
  src/fragments/start/getting-started/ios/integrate.mdx
  src/fragments/start/getting-started/ios/nextsteps.mdx
Labels: amplify/ios

#4579 update iOS v2 auth code snippets
  src/fragments/lib-v1/geo/ios/search/30_location_search_map.mdx
  src/fragments/lib-v1/project-setup/ios/create-application/20_install_libraries.mdx
  src/fragments/lib/auth/ios/access_credentials/10_fetchAuthSession.mdx
  src/fragments/lib/auth/ios/delete_user/10_delete_user.mdx
  src/fragments/lib/auth/ios/device_features/10_rememberDevice.mdx
  src/fragments/lib/auth/ios/device_features/20_forgetDevice.mdx
  src/fragments/lib/auth/ios/device_features/30_fetchDevice.mdx
  src/fragments/lib/auth/ios/escapehatch/10_awsmobileclient_escape.mdx
  src/fragments/lib/auth/ios/getting_started/10_preReq.mdx
  src/fragments/lib/auth/ios/getting_started/20_installLib.mdx
  src/fragments/lib/auth/ios/getting_started/40_fetchSession.mdx
  src/fragments/lib/auth/ios/hub_events/10_listen_events.mdx
  src/fragments/lib/auth/ios/password_management/10_reset_password.mdx
  src/fragments/lib/auth/ios/password_management/20_confirm_reset_password.mdx
  src/fragments/lib/auth/ios/password_management/30_change_password.mdx
  src/fragments/lib/auth/ios/signin/10_signUp.mdx
  src/fragments/lib/auth/ios/signin/20_confirmSignUp.mdx
  src/fragments/lib/auth/ios/signin/30_signIn.mdx
  src/fragments/lib/auth/ios/signin/40_multi_factor_signup.mdx
  src/fragments/lib/auth/ios/signin/50_multi_factor_confirm_signin.mdx
  src/fragments/lib/auth/ios/signin_next_steps/10_signin.mdx
  src/fragments/lib/auth/ios/signin_next_steps/20_confirm_sms_mfa.mdx
  src/fragments/lib/auth/ios/signin_next_steps/30_confirm_custom_challenge.mdx
  src/fragments/lib/auth/ios/signin_next_steps/40_confirm_new_password.mdx
  src/fragments/lib/auth/ios/signin_next_steps/50_reset_password.mdx
  src/fragments/lib/auth/ios/signin_next_steps/60_confirm_signup.mdx
  src/fragments/lib/auth/ios/signin_web_ui/30_signin.mdx
  src/fragments/lib/auth/ios/signin_web_ui/40_private_session.mdx
  src/fragments/lib/auth/ios/signin_with_custom_flow/20_signup.mdx
  src/fragments/lib/auth/ios/signin_with_custom_flow/30_confirmSignup.mdx
  src/fragments/lib/auth/ios/signin_with_custom_flow/40_signin.mdx
  src/fragments/lib/auth/ios/signin_with_custom_flow/50_custom_challenge.mdx
  src/fragments/lib/auth/ios/signout/10_local_signout.mdx
  src/fragments/lib/auth/ios/signout/20_global_signout.mdx
  src/fragments/lib/auth/ios/social_signin_web_ui/20_signin.mdx
  src/fragments/lib/auth/ios/user_attributes/10_fetch_attributes.mdx
  src/fragments/lib/auth/ios/user_attributes/20_update_user_attribute.mdx
  src/fragments/lib/auth/ios/user_attributes/30_confirm_attribute.mdx
  src/fragments/lib/auth/ios/user_attributes/40_resend_code.mdx
  src/fragments/lib/project-setup/ios/create-application/20_install_libraries.mdx
  src/fragments/lib/project-setup/ios/prereq/prereq.mdx
Labels: amplify/ios

#4586 Updating Analytics V2 docs for iOS
  src/fragments/lib/analytics/ios/escapehatch.mdx
  src/fragments/lib/analytics/ios/getting-started/10_preReq.mdx
  src/fragments/lib/analytics/ios/getting-started/20_installLib.mdx
  src/fragments/lib/analytics/ios/getting-started/30_initAnalytics.mdx
  src/fragments/lib/analytics/ios/getting-started/40_record.mdx
  src/fragments/lib/analytics/ios/identifyuser.mdx
  src/fragments/lib/analytics/ios/record.mdx
Labels: amplify/ios

#4592 Fix heading on iOS Sign in next steps Auth page
  src/fragments/lib/auth/native_common/signin_next_steps/common.mdx
Labels: amplify/ios

#4420 doc(nextjs): Remove unnecessary backticks.
  src/fragments/guides/hosting/nextjs.mdx
Labels: amplify/js
