Repository aws-amplify/docs, pull requests merged in 2022-03, with the labels that each got.

#4085 small tweak to add amplify core package as a dependency
  src/fragments/lib/auth/flutter/getting_started/20_installLib.mdx
  src/fragments/lib/datastore/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/storage/flutter/getting-started/20_installLib.mdx
Labels: amplify/flutter

#4074 [missing-page] add distributed data section for amplify-flutter
  src/fragments/lib/datastore/flutter/sync/20-savePredicate.mdx
  src/fragments/lib/datastore/flutter/sync/30-savePredicateComparison.mdx
  src/fragments/lib/datastore/native_common/sync-distributed-data.mdx
  src/fragments/lib/datastore/native_common/sync.mdx
Labels: amplify/flutter

#4106 fix(flutter): add missing advanced use case of sync expression section
  src/fragments/lib/datastore/flutter/sync/50-selectiveSync.mdx
Labels: amplify/flutter

#3890 feat: @mapsTo docs
  src/directory/directory.js
  src/pages/cli/graphql/schema-evolution.mdx
Labels: amplify/cli

#4010 Add docs for Android Social Sign-in redirects
  src/fragments/lib/auth/android/signin_web_ui/20_platform_specific_setup.mdx
Labels: amplify/android

#4125 docs(cli): change default Node.js function runtime version
  src/pages/cli/function/index.mdx
Labels: amplify/cli

#3476 docs(cli): add ordered list to headless config descriptions
  src/pages/cli/usage/headless.mdx
Labels: amplify/cli

#4080 docs(cli): add Cognito custom attribute override example
  src/pages/cli/auth/override.mdx
Labels: amplify/cli

#4126 fix(api): Configuration for apikey authorization in API category
  src/fragments/lib/restapi/native_common/authz/common.mdx
Labels: amplify/android

#4134 Fix for Typo on the ANALYTICS Docs for iOS
  src/fragments/lib/analytics/ios/identifyuser.mdx
Labels: amplify/ios

#4145 update change to react native quickstart guide
  src/fragments/start/getting-started/reactnative/setup.mdx
Labels: amplify/js

#4103 Add entry for amplify graphql seed plugin in third party plugins section
  src/pages/cli/plugins/plugins.mdx
Labels: amplify/cli

#3458 fix: Getting-Started iOS - add necessary selection set for datastore sync
  src/fragments/lib/datastore/native_common/how-it-works.mdx
Labels: amplify/ios

#3690 Add a flag to configure `robots.txt` depending on preview branch
  .gitignore
  tasks/generate-sitemap.ts
Labels: amplify/docs

#3736 Update SPM installation instructions for iOS
  src/fragments/lib/analytics/ios/getting-started/20_installLib.mdx
  src/fragments/lib/auth/ios/getting_started/20_installLib.mdx
  src/fragments/lib/datastore/ios/getting-started/20_installLib.mdx
  src/fragments/lib/graphqlapi/ios/getting-started/20_installLib.mdx
  src/fragments/lib/ios-spm.mdx
  src/fragments/lib/restapi/ios/getting-started/20_installLib.mdx
  src/fragments/lib/storage/ios/getting-started/20_installLib.mdx
Labels: amplify/ios

#4132 Update Amplify and AWS SDK version
  src/constants/versions.ts
Labels: amplify/android

#3913 Added migration case regarding OpenSearch 1.1
  src/pages/cli/migration/transformer-migration.mdx
Labels: amplify/cli

#3905 Update command-hooks.mdx
  src/pages/cli/project/command-hooks.mdx
Labels: amplify/cli, first-time-contributor

#3471 docs(cli): update team-provider-info version control
  src/pages/cli/reference/files.mdx
Labels: amplify/cli

#3698 [Android] Add entry for sample apps in getting started guide
  cspell.json
  public/images/todo-app.png
  src/directory/directory.js
  src/fragments/start/getting-started/android/nextsteps.mdx
  src/fragments/start/sample-apps/android/todo-app.mdx
  src/pages/start/sample-apps/todo-app/q/integration/[integration].mdx
Labels: amplify/android

#3770 Update getting-started.mdx
  src/fragments/lib/pubsub/js/getting-started.mdx
Labels: amplify/js, first-time-contributor

#3810 Update iOS advanced workflow docs on nested data
  src/fragments/lib/graphqlapi/ios/advanced-workflows/30_nested.mdx
Labels: amplify/ios, first-time-contributor

#4135 docs(cli): add callout for pluralization feature flag and transformer v1
  src/components/FeatureFlags/feature-flags.json
Labels: amplify/cli

#4101 fix:table-cutoff
  src/pages/cli/restapi/override.mdx
Labels: amplify/cli
