Repository aws-amplify/docs, pull requests merged in 2022-08, with the labels that each got.

#4488 Revise GraphQL Data Modeling instructions for clarity
  src/pages/cli/graphql/data-modeling.mdx
Labels: amplify/cli, first-time-contributor

#4511 remove iOS callout from delete user page
  src/fragments/lib/auth/flutter/delete_user/10_delete_user.mdx
Labels: amplify/flutter

#4478 Update figma changelog
  public/images/console/ui-figma-textfield-to-textarea.gif
  src/pages/console/uibuilder/figmatocode.mdx
Labels: amplify/ui

#4517 added callout for SSR not working for Server side functions without req object
  src/fragments/lib/ssr/js/getting-started.mdx
Labels: amplify/js

#4530 add custom resource callout to migration page
  src/pages/cli/migration/cli-migrate-aws-account.mdx
Labels: amplify/cli

#4367 fix: usage data wording
  src/pages/cli/reference/usage-data.mdx
Labels: amplify/cli

#4333 corrects memorysize cloudformation type for lambda
  src/pages/guides/functions/configuring-lambda/q/platform/[platform].mdx
Labels: first-time-contributor, external-contributor

#4540 feat: Add PubSub Hub Connection state monitoring instructions
  src/fragments/lib/graphqlapi/js/subscribe-data.mdx
  src/fragments/lib/pubsub/js/subunsub.mdx
Labels: amplify/js

#4156 fix(geo): rename subcommand populate to import
  src/pages/cli/geo/geofencing.mdx
Labels: geo

#4538 Fix missing code block closing backticks
  src/fragments/lib/datastore/native_common/getting-started.mdx
Labels: external-contributor

#4539 Updated "Slot" to "Component slot" label
  src/directory/directory.js
  src/pages/console/uibuilder/override.mdx
  src/pages/console/uibuilder/slots.mdx
Labels: amplify/ui

#4544 Updating authorization rule operations with more granular detail
  src/pages/cli/graphql/authorization-rules.mdx
Labels: amplify/cli
