Repository aws-amplify/docs, pull requests merged in 2022-11, with the labels that each got.

#4694 All instances of "Amplify app/application" have been changed to "Amplify Project"
  src/fragments/lib/auth/common/sms/flows.mdx
  src/fragments/lib/geo/js/maps.mdx
  src/fragments/lib/ssr/js/getting-started.mdx
  src/fragments/start/getting-started/android/nextsteps.mdx
  src/fragments/start/getting-started/ios/setup.mdx
  src/fragments/start/getting-started/next/api.mdx
  src/fragments/start/getting-started/next/hosting.mdx
  src/fragments/start/getting-started/vue/data-model.mdx
  src/pages/cli/graphql/troubleshooting.mdx
  src/pages/cli/hosting/hosting.mdx
  src/pages/cli/migration/identity-claim-changes.mdx
  src/pages/cli/project/monorepo.mdx
  src/pages/cli/project/troubleshooting.mdx
  src/pages/cli/q/integration/[integration].mdx
  src/pages/cli/start/workflows.mdx
  src/pages/cli/usage/containers.mdx
  src/pages/cli/usage/headless.mdx
  src/pages/console/adminui/start.mdx
Labels: first-time-contributor, hacktoberfest :jack_o_lantern:

#4769 Remove emojis from the docs
  src/fragments/guides/hosting/nextjs.mdx
  src/fragments/lib-v1/android.mdx
  src/fragments/lib-v1/flutter.mdx
  src/fragments/lib-v1/ios.mdx
  src/fragments/lib-v1/ssr/js/getting-started.mdx
  src/fragments/lib/android.mdx
  src/fragments/lib/flutter.mdx
  src/fragments/lib/ios.mdx
  src/fragments/lib/ssr/js/getting-started.mdx
  src/fragments/start/getting-started/android/build-footer.mdx
  src/fragments/start/getting-started/common/build-footer.mdx
  src/fragments/start/getting-started/flutter/build-footer.mdx
  src/fragments/start/getting-started/ios/build-footer.mdx
  src/pages/cli/usage/mock.mdx
Labels: hacktoberfest-accepted, hacktoberfest :jack_o_lantern:

#4576 chore: remove obselete Node version update page
  src/directory/directory.js
  src/pages/cli/migration/lambda-node-version-update.mdx
Labels: amplify/cli

#4794 feat: Add 'credential handling' section to Swift Under the hood
  src/fragments/lib/auth/common/overview.mdx
  src/fragments/lib/auth/ios/credential_handling/10_credential_handling.mdx
Labels: pending-response

#4839 feat(flutter): dart storage developer preview
  src/directory/directory.js
  src/fragments/lib-v1/auth/flutter/getting_started/60_developerPreview.mdx
  src/fragments/lib/auth/flutter/getting_started/60_developerPreview.mdx
  src/fragments/lib/project-setup/flutter/platform-setup/platform-setup.mdx
  src/fragments/lib/project-setup/flutter/platform-setup/sqlite3_wasm.mdx
  src/fragments/lib/storage/flutter/configureaccess/10_protected_upload.mdx
  src/fragments/lib/storage/flutter/configureaccess/20_protected_download.mdx
  src/fragments/lib/storage/flutter/configureaccess/30_private_upload.mdx
  src/fragments/lib/storage/flutter/configureaccess/50_customization.mdx
  src/fragments/lib/storage/flutter/copy.mdx
  src/fragments/lib/storage/flutter/dev-preview-api-callout.mdx
  src/fragments/lib/storage/flutter/download.mdx
  src/fragments/lib/storage/flutter/get-properties.mdx
  src/fragments/lib/storage/flutter/getting-started/10_preReq.mdx
  src/fragments/lib/storage/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/storage/flutter/getting-started/30_initStorage.mdx
  src/fragments/lib/storage/flutter/getting-started/40_upload.mdx
  src/fragments/lib/storage/flutter/getting-started/50_developerPreview.mdx
  src/fragments/lib/storage/flutter/list.mdx
  src/fragments/lib/storage/flutter/move.mdx
  src/fragments/lib/storage/flutter/remove.mdx
  src/fragments/lib/storage/flutter/upload.mdx
  src/fragments/lib/storage/flutter/upload/upload-create-file.mdx
  src/fragments/lib/storage/native_common/configureaccess/common.mdx
  src/fragments/lib/storage/native_common/getting-started/common.mdx
  src/fragments/start/getting-started/flutter/build.mdx
  src/pages/lib/storage/copy/q/platform/[platform].mdx
  src/pages/lib/storage/get-properties/q/platform/[platform].mdx
  src/pages/lib/storage/move/q/platform/[platform].mdx
Labels: amplify/flutter

#4836 updated findings from Nika
  cspell.json
  src/fragments/cli-install-block.mdx
  src/fragments/lib-v1/storage/js/upload.mdx
  src/fragments/lib/project-setup/flutter/create-application/30_provisionBackend.mdx
  src/fragments/lib/storage/js/browser-uploads.mdx
Labels: amplify/flutter

#4054 `updateEndpoint` description improvement - optional fields & `attributes` fields type
  src/fragments/lib/analytics/js/update-endpoint.mdx
Labels: amplify/js, first-time-contributor, pending-response, external-contributor

#4546 Add context to package.json file for custom auth flow (iOS & Flutter)
  src/fragments/lib/auth/flutter/signin_with_custom_flow/10_cli_setup.mdx
  src/fragments/lib/auth/ios/signin_with_custom_flow/10_cli_setup.mdx
Labels: amplify/ios, amplify/flutter

#4452 feat(data): add DataStore 'Advanced Workflows' section; add Custom Primary Key docs
  cspell.json
  src/directory/directory.js
  src/fragments/lib/datastore/android/advanced-workflows/custom-primary-key/delete-snippet.mdx
  src/fragments/lib/datastore/android/advanced-workflows/custom-primary-key/query-snippet.mdx
  src/fragments/lib/datastore/flutter/advanced-workflows/custom-primary-key/query-snippet.mdx
  src/fragments/lib/datastore/ios/advanced-workflows/custom-primary-key/delete-snippet.mdx
  src/fragments/lib/datastore/ios/advanced-workflows/custom-primary-key/query-snippet.mdx
  src/fragments/lib/datastore/js/advanced-workflows/custom-primary-key/delete-snippet.mdx
  src/fragments/lib/datastore/js/advanced-workflows/custom-primary-key/query-snippet.mdx
  src/fragments/lib/datastore/native_common/advanced-workflows.mdx
  src/fragments/lib/datastore/native_common/relational.mdx
  src/pages/cli-legacy/graphql-transformer/directives.mdx
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/lib/datastore/advanced-workflows/q/platform/[platform].mdx
  yarn.lock
Labels: amplify/cli, amplify/js, amplify/ios, amplify/android, amplify/flutter, DataStore, amplify/codegen, example, docs-engineering, amplify/data

#4800 Updated "Bonus: Use Amplify UI Primitives" Section
  src/fragments/start/getting-started/react/auth.mdx
Labels: first-time-contributor, external-contributor
