Repository aws-amplify/docs, pull requests merged in 2022-01, with the labels that each got.

#3785 Geo CLI docs: Add Geofence Collection Walkthrough
  cspell.json
  src/directory/directory.js
  src/pages/cli/geo/geofencing.mdx
Labels: geo

#3884 docs(geo): add geo-js geofences CRUD API docs
  public/images/geofence-management-app.png
  src/directory/directory.js
  src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/maps.mdx
Labels: geo

#3918 Geo: Fix geo tags
  src/fragments/lib/geo/js/geofences.mdx
Labels: geo

#3921 docs(geo): add documentation for JS geofences developer preview
  cspell.json
  public/images/geofence-create.png
  public/images/geofence-edit.png
  public/images/geofence-management-app.png
  src/directory/directory.js
  src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/maps.mdx
  src/fragments/lib/geo/js/search.mdx
  src/pages/cli/geo/geofencing.mdx
  src/pages/lib/geo/geofences/q/platform/[platform].mdx
Labels: geo

#3910 Updated custom resolver info
  src/pages/cli/graphql/custom-business-logic.mdx
Labels: amplify/cli, first-time-contributor

#3937 Possible typo in the AWS Amplify PubSub docs
  src/fragments/lib/pubsub/js/getting-started.mdx
Labels: amplify/js, first-time-contributor

#3786 updated bugs found while implementation
  src/fragments/lib/graphqlapi/android/query-data.mdx
Labels: amplify/android, first-time-contributor

#3961 Small update - wrong function name was used for configuring Amplify
  src/fragments/start/getting-started/flutter/add-api.mdx
Labels: amplify/flutter

#3969 fix(iOS): Add missing snippet in iOS getting started
  src/fragments/start/getting-started/ios/integrate.mdx
Labels: amplify/ios, getting-started
