Repository aws-amplify/docs, pull requests merged in 2023-02, with the labels that each got.

#5057 Adds deprecation message for XR
  src/fragments/lib/xr/getting-started.mdx
  src/fragments/lib/xr/sceneapi.mdx
Labels: amplify/js

#5040 fix(android, swift): add geo unauth role info
  src/fragments/lib-v1/geo/existing-resources.mdx
  src/fragments/lib/geo/existing-resources.mdx
Labels: amplify/ios, amplify/android, geo

#5074 update malformed link
  src/pages/cli/usage/containers.mdx
Labels: amplify/cli

#4964 Map Style Add
  src/pages/cli/geo/maps.mdx
Labels: amplify/cli

#5096 Update Readme.md
  Readme.md
Labels: amplify/docs-engineering

#5030 style: add styling for code snippets in MDX headings
  src/styles/elements.css
Labels: amplify/docs-engineering

#5056 add callout for lambda triggers
  src/fragments/cli/lambda_triggers_callout.mdx
  src/fragments/lib/auth/common/social_signin_web_ui/configure_auth_category.mdx
  src/pages/cli/usage/lambda-triggers.mdx
Labels: amplify/cli, amplify/js

#4986 Remove doSyncRetry from DataStoreConfiguration
  src/fragments/lib/datastore/android/conflict.mdx
Labels: DataStore

#5099 fix: Replace filter for Info tab under SDK from android to ios
  src/directory/directory.js
Labels: amplify/ios

#5098 fix(data): fix DataStore typo
  src/fragments/lib/datastore/js/other-methods.mdx
Labels: amplify/js, DataStore

#5089 added dates to Sumerian deprecation
  src/fragments/lib/auth/common/overview.mdx
  src/fragments/lib/xr/getting-started.mdx
  src/fragments/lib/xr/sceneapi.mdx
Labels: amplify/js

#5094 fix: updating to iOS DataStore initialization docs
  src/fragments/lib/datastore/ios/getting-started/50_initDataStore.mdx
Labels: amplify/ios, DataStore, amplify/data

#5090 fix(JS/RN): added polyfill callout to interactions category on react native
  src/fragments/lib/in-app-messaging/integrate-your-application/integrate-your-application.mdx
  src/fragments/lib/in-app-messaging/integrate-your-application/react-native/configure-amplify.mdx
  src/fragments/lib/in-app-messaging/integrate-your-application/react-native/install-dependencies.mdx
  src/fragments/lib/interactions/js/frontend.mdx
  src/fragments/lib/interactions/js/getting-started.mdx
  src/fragments/lib/react-native-polyfills.mdx
Labels: amplify/js, react-native

#5071 add shared files in CLI file reference page
  src/pages/cli/reference/files.mdx
Labels: amplify/cli

#5018 chore: Add input validation for private key in sign in with apple oauth flow
  src/fragments/lib/auth/ios/social_signin_web_ui/10_cli_setup.mdx
Labels: amplify/cli, amplify/ios, auth

#5015 Modifed wrong code reference in amplify nuxt.js docs
  src/fragments/guides/hosting/nuxt.mdx
Labels: first-time-contributor, amplify/hosting, external-contributor

#4574 Update api.mdx
  src/fragments/start/getting-started/next/api.mdx
Labels: amplify/js, first-time-contributor, external-contributor

#4984 fix typo
  src/fragments/start/getting-started/angular/data-model.mdx
Labels: amplify/js, first-time-contributor, external-contributor

#5107 add cli page for ssm parameter store usage
  src/directory/directory.js
  src/pages/cli/reference/ssm-parameter-store.mdx
Labels: amplify/cli

#5108 [Studio] CMS updates
  public/images/console/cms.png
  src/directory/directory.js
  src/pages/console/data/content-management.mdx
Labels: amplify/studio

#4341 Add when a page was last updated into the Docs site
  .husky/pre-commit
  amplify.yml
  next.config.js
  package.json
  src/components/FilterChildren/index.tsx
  src/components/Fragments/index.tsx
  src/components/LastUpdatedProvider/index.tsx
  src/components/Menu/index.tsx
  src/components/Menu/styles.tsx
  src/components/Page/index.tsx
  src/plugins/code-block.tsx
  src/plugins/frontmatter.tsx
  src/plugins/page.tsx
  tasks/addLastUpdatedToMdxFiles.js
  yarn.lock
Labels: amplify/docs-engineering

#5119 updates to remove additional mentions of XR in critical flows
  src/components/FeaturesGrid/__tests__/FeaturesGrid.test.tsx
  src/components/FeaturesGrid/index.tsx
  src/fragments/lib/client-configuration/js/js-configuration.mdx
  src/fragments/lib/js.mdx
  src/fragments/lib/utilities/js/hub.mdx
  src/fragments/start/getting-started/angular/nextsteps.mdx
  src/fragments/start/getting-started/react/nextsteps.mdx
  src/fragments/start/getting-started/vanillajs/nextsteps.mdx
  src/fragments/ui-legacy/auth/react/tutorial.mdx
  src/pages/cli/plugins/plugins.mdx
Labels: amplify/cli, amplify/js

#5092 Fix broken links
  src/directory/directory.js
  src/pages/console/formbuilder/overview.mdx
Labels: amplify/js, external-contributor, amplify/studio, react-native

#5123 update sitemap generator to remove chooseFilter pages
  generatePathMap.cjs.js
  tasks/generate-sitemap.ts
Labels: amplify/docs-engineering

#5117 Add clarifying callout for list inputs
  src/pages/console/formbuilder/customize.mdx
Labels: amplify/studio

#5135 Fix typo for component structure image
  src/pages/console/uibuilder/bestpractices.mdx
Labels: amplify/studio

#5138 fix(data): remove SK references from DataStore docs
  src/fragments/lib-v1/datastore/android/relational/updated-schema.mdx
  src/fragments/lib/datastore/android/relational/updated-schema.mdx
  src/fragments/lib/datastore/flutter/relational/updated-schema.mdx
  src/fragments/lib/datastore/js/relational/updated-schema.mdx
Labels: bug, DataStore, docs

#5140 fix(data): fix broken DataStore code snippet; fix spelling and grammatical errors
  src/fragments/lib-v1/datastore/ios/sync/50-selectiveSync.mdx
  src/fragments/lib-v1/datastore/native_common/setup-env-cli.mdx
  src/fragments/lib-v1/datastore/native_common/sync.mdx
  src/fragments/lib/datastore/flutter/relational/save-many-snippet.mdx
  src/fragments/lib/datastore/js/data-access/observe-update-snippet.mdx
  src/fragments/lib/datastore/js/examples.mdx
  src/fragments/lib/datastore/js/real-time/observe-snippet.mdx
  src/fragments/lib/datastore/js/relational/query-many-snippet.mdx
  src/fragments/lib/datastore/js/sync/50-selectiveSync.mdx
  src/fragments/lib/datastore/native_common/setup-auth-rules.mdx
  src/fragments/lib/datastore/native_common/setup-env-cli.mdx
  src/fragments/lib/datastore/native_common/sync.mdx
Labels: DataStore, amplify/data

#5079 Add redirects label workflow
  .github/workflows/check_for_redirects.yml
  .mergify.yml
Labels: amplify/docs-engineering

#5059 feat: add TS examples to API GQL docs
  src/fragments/lib/graphqlapi/js/authz.mdx
  src/fragments/lib/graphqlapi/js/cancel-request.mdx
  src/fragments/lib/graphqlapi/js/getting-started.mdx
  src/fragments/lib/graphqlapi/js/js-configure.mdx
  src/fragments/lib/graphqlapi/js/mutate-data.mdx
  src/fragments/lib/graphqlapi/js/query-data.mdx
  src/fragments/lib/graphqlapi/js/subscribe-data.mdx
Labels: amplify/js

#5142 Add workflow to check for deleted assets
  .github/workflows/check_for_deleted_assets.yml
  .mergify.yml
Labels: amplify/docs-engineering

#5139 add a note recommending git-secrets for scanning
  src/pages/cli/start/workflows.mdx
Labels: amplify/cli

#5129 Fix the naming of Figma to code
  src/directory/directory.js
  src/pages/console/uibuilder/bestpractices.mdx
  src/pages/console/uibuilder/responsive.mdx
  src/pages/console/uibuilder/slots.mdx
Labels: amplify/studio

#5126 Android > Storage: provide examples of storage pause/resume/start/cancel operations
  src/fragments/lib/storage/android/query-transfers.mdx
Labels: amplify/android

#5064 feat(auth): Adding documentation for getCurrentUser
  src/fragments/lib/auth/android/signin_next_steps/80_current_user.mdx
  src/fragments/lib/auth/native_common/signin_next_steps/common.mdx
Labels: amplify/android

#5148 fix(flutter): add android extra step installing DataStore lib
  cspell.json
  src/fragments/lib/datastore/flutter/getting-started/20_installLib.mdx
Labels: amplify/flutter

#5149 Refactor feedback component to use only adobe analytics
  package.json
  src/components/Feedback/__tests__/index.test.tsx
  src/components/Feedback/index.tsx
  yarn.lock
Labels: amplify/docs-engineering

#5160 [Feedback]JavaScript Getting Started Guide has link for Push Notifica…
  src/fragments/start/getting-started/vanillajs/nextsteps.mdx
Labels: amplify/js, first-time-contributor, external-contributor

#5163 chore: add unsupported directives for studio
  src/pages/console/data/data-model.mdx
Labels: amplify/studio
