Repository aws-amplify/docs, pull requests merged in 2023-06, with the labels that each got.

#5502 feat: add unsupported field level auth rule
  src/pages/console/data/data-model.mdx
Labels: amplify/studio

#5467 Link checker
  .github/workflows/check_for_broken_links.yml
  .gitignore
  package.json
  tasks/link-checker.mjs
  yarn.lock
Labels: amplify/docs-engineering

#5460 feat(hosting): add guide to deploy a Vite site on Amplify Hosting
  public/images/hosting/vite/1.png
  public/images/hosting/vite/2.png
  public/images/hosting/vite/3.png
  public/images/hosting/vite/4.png
  public/images/hosting/vite/5.png
  public/images/hosting/vite/6.png
  public/images/hosting/vite/7.png
  src/directory/directory.mjs
  src/fragments/guides/hosting/vite.mdx
  src/pages/guides/hosting/vite/q/platform/[platform].mdx
Labels: amplify/hosting, product-owner-review-needed

#5489 fix: Update screenshots on Social Sign In guide for Facebook & Google
  public/images/cognitoHostedUI/facebook1.png
  public/images/cognitoHostedUI/facebook2.png
  public/images/cognitoHostedUI/facebook3.png
  public/images/cognitoHostedUI/facebook4.png
  public/images/cognitoHostedUI/facebook5.png
  public/images/cognitoHostedUI/facebook6.png
  public/images/cognitoHostedUI/facebook7.png
  public/images/cognitoHostedUI/facebook8.png
  public/images/cognitoHostedUI/facebook9.png
  public/images/cognitoHostedUI/google1.png
  public/images/cognitoHostedUI/google2.png
  public/images/cognitoHostedUI/google3.png
  public/images/cognitoHostedUI/google4.png
  public/images/cognitoHostedUI/google5.png
  public/images/cognitoHostedUI/google6.png
  public/images/cognitoHostedUI/google7.png
  public/images/cognitoHostedUI/google8.png
  src/fragments/cli/lambda_triggers_callout.mdx
  src/fragments/lib-v1/auth/native_common/social_signin_web_ui/common.mdx
  src/fragments/lib/auth/common/social_signin_web_ui/configure_auth_category.mdx
  src/fragments/lib/auth/common/social_signin_web_ui/setup_auth_provider.mdx
  src/fragments/lib/auth/js/react-native-social.mdx
  src/fragments/lib/auth/js/social.mdx
  src/fragments/sdk/auth/android/hosted-ui.mdx
Labels: amplify/js, amplify/ios, amplify/android, deleted-assets, technical-review-needed

#5503 feat(data): add docs for CRUD operations between Storage files and GraphQL API records
  Readme.md
  cspell.json
  src/directory/directory.mjs
  src/fragments/lib/graphqlapi/js/working-with-files.mdx
  src/pages/lib/graphqlapi/working-with-files/q/platform/[platform].mdx
Labels: storage, example, docs, amplify/data, API GraphQL, product-owner-review-needed, deleted-assets

#5508 chore(amplify-ui): fix docs to change imports to use new packages ui-react-geo and ui-react-notifications
  src/fragments/lib/geo/js/geofences.mdx
  src/fragments/lib/geo/js/search.mdx
  src/fragments/lib/in-app-messaging/integrate-your-application/js/full-example.mdx
  src/fragments/lib/in-app-messaging/integrate-your-application/js/hoc-setup.mdx
  src/fragments/lib/in-app-messaging/integrate-your-application/js/install-dependencies.mdx
Labels: amplify/js, geo, product-owner-review-needed, deleted-assets, technical-review-needed

#5531 chore(js): Clarify in-app enum import source
  src/fragments/lib/in-app-messaging/respond-interaction-events/respond-interaction-events.mdx
Labels: amplify/js, ready-to-merge, react-native

#5542 chore: callout need for additional permissions for containers
  src/pages/cli/usage/containers.mdx
Labels: amplify/cli

#5520 fix: index entrypoint reference and add react app creation
  src/pages/console/formbuilder/overview.mdx
  src/pages/console/tutorial/collections.mdx
  src/pages/console/uibuilder/figmatocode.mdx
  src/pages/console/uibuilder/theming.mdx
Labels: amplify/studio

#5539 feat(data): add docs for working with multiple files with Storage and GraphQL API; updates to existing code examples
  src/fragments/lib/graphqlapi/js/working-with-files.mdx
Labels: DataStore, amplify/data, product-owner-review-needed

#5547 Add resolution for fast-xml-parser
  package.json
  yarn.lock
Labels: amplify/docs-engineering

#5545 feat(data): Storage and GraphQL API authorization guidance; add additional guidance for error handling and real-time data access; remove existing AppSync SDK docs; update docs comments
  src/directory/directory.mjs
  src/fragments/lib/graphqlapi/js/complex-objects.mdx
  src/fragments/lib/graphqlapi/js/working-with-files.mdx
  src/pages/lib/graphqlapi/advanced-workflows/q/platform/[platform].mdx
Labels: storage, example, docs, amplify/data, API GraphQL

#5553 fix(data): update API + Storage header; minor grammatical updates
  src/fragments/lib/graphqlapi/js/working-with-files.mdx
Labels: storage, docs, amplify/data, API GraphQL

#5555 fix(auth): fix typo in signIn v2 combine flavor
  src/fragments/lib/auth/ios/signin/30_signIn.mdx
Labels: amplify/ios

#5556 fix(cli): fix typo for Lambda function resolver event
  src/pages/cli/graphql/custom-business-logic.mdx
Labels: amplify/cli

#5564 chore(flutter): Update versions
  src/fragments/lib/push-notifications/flutter/getting_started/40_install_lib.mdx
Labels: amplify/flutter, ready-to-merge

#5537 Update redirects workflow to use Github API
  .github/workflows/add_redirects_label.yml
  .github/workflows/check_for_redirects.yml
  .github/workflows/scripts/check_for_redirects.js
  .github/workflows/scripts/utilities.js
  .mergify.yml
Labels: amplify/docs-engineering

#5577 feat(figma): update docs to reflect new Figma plugin features
  public/images/console/ui-figma-file.png
  src/pages/console/uibuilder/figmatocode.mdx
  src/pages/console/uibuilder/theming.mdx
Labels: amplify/studio

#5559 page title updated
  src/pages/ChooseFilterPage.tsx
Labels: amplify/docs-engineering

#5548 feat: add troubleshooting info for breakCircularDependency flag
  src/pages/cli/auth/overview.mdx
Labels: amplify/cli

#5574 feat(flutter): add custom attribute documentation
  src/fragments/lib/auth/flutter/user_attributes/50_custom_attributes.mdx
  src/fragments/lib/auth/native_common/user_attributes/common.mdx
Labels: amplify/flutter, ready-to-merge

#5575 Reorder AA scripts
  src/pages/_app.tsx
Labels: amplify/docs-engineering

#5581 Filter after mapping request for Github Action utility script
  .github/workflows/scripts/utilities.js
Labels: amplify/docs-engineering

#5583 feat: Adding mention for tvOS and watchOS support in the Swift docs.
  src/fragments/lib/auth/ios/getting_started/15_preReq_web_ui.mdx
  src/fragments/lib/auth/native_common/signin_web_ui/common.mdx
  src/fragments/lib/auth/native_common/social_signin_web_ui/common.mdx
  src/fragments/lib/ios-prereq-category.mdx
  src/fragments/lib/push-notifications/ios/getting_started/20_set_entitlements.mdx
  src/fragments/lib/push-notifications/ios/getting_started/30_create_app_delegate.mdx
  src/fragments/lib/push-notifications/ios/record_notifications/10_notification_received.mdx
  src/fragments/lib/push-notifications/ios/record_notifications/20_notification_opened.mdx
  src/fragments/lib/push-notifications/ios/register_device/20_register_with_apns.mdx
  src/fragments/lib/push-notifications/ios/register_device/30_register_with_pinpoint.mdx
  src/fragments/lib/push-notifications/ios/remote_media/10_remote_media.mdx
Labels: amplify/ios

#5523 Update Hosting build settings for Nuxt v2 and v3
  src/fragments/guides/hosting/nuxt.mdx
Labels: amplify/hosting, product-owner-review-needed

#5589 Filter out undefined and null when setting up the 'title'
  src/components/Layout/index.tsx
Labels: amplify/docs-engineering

#5595 Update Amplify Android versions
  src/constants/versions.ts
Labels: amplify/android

#5570 Update getting started first paragraph wording
  src/pages/start/q/integration/[integration].mdx
Labels: amplify/ui, amplify/ios, amplify/android, getting-started, amplify/flutter, ready-to-merge, technical-review-needed
