Repository aws-amplify/docs, pull requests merged in 2023-04, with the labels that each got.

#5335 Adding link to flutter reference docs to top of navigation
  src/components/SecondaryNav/index.tsx
  src/constants/links.ts
  src/directory/directory.mjs
  src/pages/flutter-references/index.mdx
Labels: amplify/flutter, technical-review-needed

#5338 fix(JS/RN): added missing auth events
  src/fragments/lib/auth/js/hub_events/10_listen_events.mdx
Labels: amplify/js, react-native

#4698 chore: update owner field docs
  src/pages/cli/graphql/authorization-rules.mdx
Labels: amplify/data, pending-response, product-owner-review-needed, redirects-needed, deleted-assets, technical-review-needed

#5300 Adds npm instructions for DataStore Getting Started guides
  src/fragments/lib/datastore/js/setup-env-js.mdx
  src/fragments/lib/datastore/native_common/setup-env.mdx
Labels: DataStore, amplify/data, technical-review-needed

#5297 fixed example to address #3588
  src/pages/cli/graphql/examples-and-solutions.mdx
Labels: amplify/data, technical-review-needed

#5295 Added more context on combining multiple GraphQL operations client-side
  src/fragments/lib/graphqlapi/native_common/advanced-workflows/common.mdx
Labels: amplify/ios, amplify/android, amplify/flutter, amplify/data

#5293 Add pagination note on the GraphQL from Node docs
  src/fragments/lib/graphqlapi/graphql-from-node.mdx
Labels: amplify/data

#5306 remove XR
  src/directory/directory.mjs
  src/fragments/lib/xr/getting-started.mdx
  src/fragments/lib/xr/sceneapi.mdx
  src/pages/lib/xr/getting-started/q/platform/[platform].mdx
  src/pages/lib/xr/sceneapi/q/platform/[platform].mdx
Labels: amplify/js

#5351 fix(JS/RN): fixed broken block switcher on graphQL authz page
  src/fragments/lib/graphqlapi/js/authz.mdx
Labels: p2, amplify/data, API GraphQL

#5349 [fix/typo](JS/RN) Missing comma in Predictions IAM policy
  src/fragments/lib/predictions/js/getting-started.mdx
Labels: amplify/js, ready-to-merge

#5332 fixes ExpoSQLite import
  src/fragments/lib/datastore/react-native/getting-started/30_platformIntegration.mdx
Labels: DataStore, amplify/data

#5294 Added page for directives reference to address #4320
  src/directory/directory.mjs
  src/pages/cli/graphql/directives-reference.mdx
  src/pages/cli/graphql/overview.mdx
Labels: amplify/data

#5341 Wrpeck/studio login improvement
  src/pages/console/adminui/start.mdx
Labels: amplify/studio, amplify/editorial, technical-review-needed

#5317 chore: Update Auth docs for Amplify Flutter v1
  public/images/project-setup/flutter/ios/project-min-deployment-version.png
  public/images/project-setup/flutter/ios/target-min-deployment-version.png
  src/fragments/lib-v1/auth/flutter/access_credentials/10_fetchAuthSession.mdx
  src/fragments/lib-v1/auth/flutter/getting_started/10_preReq.mdx
  src/fragments/lib-v1/auth/flutter/getting_started/60_developerPreview.mdx
  src/fragments/lib-v1/auth/flutter/managing_credentials/10_managing_credentials.mdx
  src/fragments/lib-v1/auth/flutter/signin_web_ui/10_cli_setup.mdx
  src/fragments/lib-v1/auth/flutter/signin_web_ui/20_platform_specific_setup.mdx
  src/fragments/lib-v1/flutter.mdx
  src/fragments/lib-v1/project-setup/flutter/create-application/60_dependencies.mdx
  src/fragments/lib-v1/project-setup/flutter/platform-setup/platform-setup.mdx
  src/fragments/lib/auth/android/access_credentials/10_fetchAuthSession.mdx
  src/fragments/lib/auth/android/signin/20_confirmSignUp.mdx
  src/fragments/lib/auth/android/signin/30_signIn.mdx
  src/fragments/lib/auth/flutter/access_credentials/10_fetchAuthSession.mdx
  src/fragments/lib/auth/flutter/delete_user/10_delete_user.mdx
  src/fragments/lib/auth/flutter/device_features/10_rememberDevice.mdx
  src/fragments/lib/auth/flutter/device_features/20_forgetDevice.mdx
  src/fragments/lib/auth/flutter/device_features/30_fetchDevice.mdx
  src/fragments/lib/auth/flutter/getting_started/10_preReq.mdx
  src/fragments/lib/auth/flutter/getting_started/60_developerPreview.mdx
  src/fragments/lib/auth/flutter/hub_events/10_listen_events.mdx
  src/fragments/lib/auth/flutter/managing_credentials/10_managing_credentials.mdx
  src/fragments/lib/auth/flutter/password_management/10_reset_password.mdx
  src/fragments/lib/auth/flutter/password_management/20_confirm_reset_password.mdx
  src/fragments/lib/auth/flutter/password_management/30_change_password.mdx
  src/fragments/lib/auth/flutter/signin/10_signUp.mdx
  src/fragments/lib/auth/flutter/signin/20_confirmSignUp.mdx
  src/fragments/lib/auth/flutter/signin/30_signIn.mdx
  src/fragments/lib/auth/flutter/signin/40_multi_factor_signup.mdx
  src/fragments/lib/auth/flutter/signin/50_multi_factor_confirm_signin.mdx
  src/fragments/lib/auth/flutter/signin/60_runtime_auth_flow.mdx
  src/fragments/lib/auth/flutter/signin_web_ui/10_cli_setup.mdx
  src/fragments/lib/auth/flutter/signin_web_ui/20_platform_specific_setup.mdx
  src/fragments/lib/auth/flutter/signin_web_ui/30_signin.mdx
  src/fragments/lib/auth/flutter/signin_web_ui/40_private_session.mdx
  src/fragments/lib/auth/flutter/signin_with_custom_flow/20_signup.mdx
  src/fragments/lib/auth/flutter/signin_with_custom_flow/30_signin.mdx
  src/fragments/lib/auth/flutter/signin_with_custom_flow/40_custom_challenge.mdx
  src/fragments/lib/auth/flutter/signout/10_local_signout.mdx
  src/fragments/lib/auth/flutter/signout/20_global_signout.mdx
  src/fragments/lib/auth/flutter/sms/confirm_sign_in.mdx
  src/fragments/lib/auth/flutter/sms/confirm_sign_up.mdx
  src/fragments/lib/auth/flutter/sms/sign_up.mdx
  src/fragments/lib/auth/flutter/social_signin_web_ui/20_signin.mdx
  src/fragments/lib/auth/flutter/user_attributes/10_fetch_attributes.mdx
  src/fragments/lib/auth/flutter/user_attributes/20_update_user_attribute.mdx
  src/fragments/lib/auth/flutter/user_attributes/30_confirm_attribute.mdx
  src/fragments/lib/auth/flutter/user_attributes/40_resend_code.mdx
  src/fragments/lib/auth/ios/access_credentials/10_fetchAuthSession.mdx
  src/fragments/lib/auth/ios/signin/20_confirmSignUp.mdx
  src/fragments/lib/auth/ios/signin/30_signIn.mdx
  src/fragments/lib/auth/native_common/access_credentials/common.mdx
  src/fragments/lib/auth/native_common/getting_started/common.mdx
  src/fragments/lib/auth/native_common/signin/common.mdx
  src/fragments/lib/flutter.mdx
  src/fragments/lib/project-setup/flutter/create-application/60_dependencies.mdx
  src/fragments/lib/project-setup/flutter/escape-hatch/escape-hatch.mdx
  src/fragments/lib/project-setup/flutter/platform-setup/platform-setup.mdx
Labels: amplify/ios, amplify/android, amplify/flutter, product-owner-review-needed, technical-review-needed

#5340 chore(Flutter): add transfer acceleration page for Amplify Flutter
  src/directory/directory.js
  src/fragments/lib/storage/android/transfer-acceleration.mdx
  src/fragments/lib/storage/flutter/transfer-acceleration.mdx
  src/fragments/lib/storage/native_common/transfer-acceleration/common.mdx
  src/pages/lib/storage/transfer-acceleration/q/platform/[platform].mdx
Labels: amplify/android, amplify/flutter, product-owner-review-needed

#5346 chore(Flutter): update storage v1 doc for Amplify Flutter - move
  src/directory/directory.js
  src/fragments/lib-v1/storage/flutter/copy.mdx
  src/fragments/lib-v1/storage/flutter/dev-preview-api-callout.mdx
  src/fragments/lib-v1/storage/flutter/get-properties.mdx
  src/fragments/lib-v1/storage/flutter/move.mdx
  src/fragments/lib/storage/flutter/copy.mdx
  src/fragments/lib/storage/flutter/dev-preview-api-callout.mdx
  src/fragments/lib/storage/flutter/get-properties.mdx
  src/fragments/lib/storage/flutter/move.mdx
  src/pages/lib/storage/move/q/platform/[platform].mdx
Labels: amplify/flutter, product-owner-review-needed

#5339 chore(Flutter): update storage category v1 doc - get started & upload
  src/directory/directory.js
  src/fragments/lib-v1/storage/flutter/getting-started/10_preReq.mdx
  src/fragments/lib-v1/storage/flutter/getting-started/20_installLib.mdx
  src/fragments/lib-v1/storage/flutter/getting-started/30_initStorage.mdx
  src/fragments/lib-v1/storage/flutter/getting-started/40_upload.mdx
  src/fragments/lib-v1/storage/flutter/getting-started/50_developerPreview.mdx
  src/fragments/lib-v1/storage/flutter/upload.mdx
  src/fragments/lib-v1/storage/flutter/upload/upload-create-file.mdx
  src/fragments/lib/storage/flutter/getting-started/10_preReq.mdx
  src/fragments/lib/storage/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/storage/flutter/getting-started/30_initStorage.mdx
  src/fragments/lib/storage/flutter/getting-started/40_upload.mdx
  src/fragments/lib/storage/flutter/getting-started/50_developerPreview.mdx
  src/fragments/lib/storage/flutter/upload.mdx
  src/fragments/lib/storage/flutter/upload/upload-create-file.mdx
  src/fragments/lib/storage/native_common/getting-started/common.mdx
Labels: amplify/flutter, product-owner-review-needed

#5356 Amplify Getting Started Docs (NextJS/API) has a minor typo
  src/fragments/start/getting-started/next/api.mdx
Labels: first-time-contributor, external-contributor

#5360 Add resolution for vm2
  package.json
  yarn.lock
Labels: amplify/docs-engineering

#5337 chore(Flutter): Update storage download docs for Amplify Flutter
  src/fragments/lib-v1/storage/flutter/download.mdx
  src/fragments/lib/storage/flutter/download.mdx
Labels: amplify/flutter, product-owner-review-needed

#5320 chore(api): Flutter API v1 doc split
  src/fragments/lib-v1/graphqlapi/flutter/advanced-workflows/50_interceptor.mdx
  src/fragments/lib-v1/graphqlapi/flutter/authz/30_multi.mdx
  src/fragments/lib-v1/graphqlapi/flutter/mutate-data.mdx
  src/fragments/lib-v1/graphqlapi/flutter/query-data.mdx
  src/fragments/lib-v1/restapi/flutter/delete.mdx
  src/fragments/lib-v1/restapi/flutter/fetch.mdx
  src/fragments/lib-v1/restapi/flutter/getting-started/10_preReq.mdx
  src/fragments/lib-v1/restapi/flutter/getting-started/20_installLib.mdx
  src/fragments/lib-v1/restapi/flutter/getting-started/40_postTodo.mdx
  src/fragments/lib-v1/restapi/flutter/update.mdx
  src/fragments/lib/graphqlapi/flutter/advanced-workflows/50_interceptor.mdx
  src/fragments/lib/graphqlapi/flutter/authz/30_multi.mdx
  src/fragments/lib/graphqlapi/flutter/mutate-data.mdx
  src/fragments/lib/graphqlapi/flutter/query-data.mdx
  src/fragments/lib/restapi/flutter/delete.mdx
  src/fragments/lib/restapi/flutter/fetch.mdx
  src/fragments/lib/restapi/flutter/getting-started/10_preReq.mdx
  src/fragments/lib/restapi/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/restapi/flutter/getting-started/40_postTodo.mdx
  src/fragments/lib/restapi/flutter/update.mdx
Labels: amplify/flutter, product-owner-review-needed

#5367 securing iframes
  src/components/contribute/QuickstartResources.tsx
  src/fragments/cli-config.mdx
  src/fragments/guides/hosting/custom-domains.mdx
  src/fragments/guides/hosting/nextjs.mdx
  src/fragments/guides/hosting/password-protected-deployments.mdx
  src/fragments/guides/hosting/pull-request-previews.mdx
  src/fragments/lib-v1/datastore/native_common/how-it-works.mdx
  src/fragments/lib/datastore/js/getting-started/30_platformIntegration.mdx
  src/fragments/lib/datastore/native_common/how-it-works.mdx
  src/fragments/lib/datastore/react-native/getting-started/30_platformIntegration.mdx
  src/pages/console/uibuilder/bestpractices.mdx
Labels: amplify/docs-engineering

#5362 chore(flutter): update Amplify Flutter v1 doc - storage remove
  src/fragments/lib-v1/storage/flutter/remove.mdx
  src/fragments/lib/storage/flutter/remove.mdx
Labels: amplify/flutter, product-owner-review-needed

#5374 chore(Flutter): update Amplify Flutter v1 - storage access level
  src/fragments/lib-v1/storage/flutter/configureaccess/10_protected_upload.mdx
  src/fragments/lib-v1/storage/flutter/configureaccess/20_protected_download.mdx
  src/fragments/lib-v1/storage/flutter/configureaccess/50_customization.mdx
  src/fragments/lib-v1/storage/native_common/configureaccess/common.mdx
  src/fragments/lib/storage/flutter/configureaccess/10_protected_upload.mdx
  src/fragments/lib/storage/flutter/configureaccess/20_protected_download.mdx
  src/fragments/lib/storage/flutter/configureaccess/30_private_upload.mdx
  src/fragments/lib/storage/flutter/configureaccess/40_private_download.mdx
  src/fragments/lib/storage/flutter/configureaccess/50_customization.mdx
  src/fragments/lib/storage/native_common/configureaccess/common.mdx
Labels: amplify/flutter

#5375 fix(datastore): clarify selective sync with @auth rules
  src/fragments/lib-v1/datastore/android/sync/50-selectiveSync.mdx
  src/fragments/lib-v1/datastore/ios/sync/50-selectiveSync.mdx
  src/fragments/lib/datastore/android/sync/50-selectiveSync.mdx
  src/fragments/lib/datastore/flutter/sync/50-selectiveSync.mdx
  src/fragments/lib/datastore/ios/sync/50-selectiveSync.mdx
  src/fragments/lib/datastore/js/sync/50-selectiveSync.mdx
Labels: DataStore, amplify/data

#5308 Add Studio option for block switcher within Auth > Getting Started pages, minor changes to page flow, and fixes to duplicated fragments
  src/fragments/lib-v1/auth/native_common/getting_started/common.mdx
  src/fragments/lib/auth/android/getting_started/50_configureBackend.mdx
  src/fragments/lib/auth/flutter/getting_started/70_configureBackend.mdx
  src/fragments/lib/auth/getting_started/js/getting-started-steps-basic-auth.mdx
  src/fragments/lib/auth/ios/getting_started/50_configureBackend.mdx
  src/fragments/lib/auth/js/getting-started-set-up-backend-resources-react-native.mdx
  src/fragments/lib/auth/js/getting-started-steps-basic-auth-react-native.mdx
  src/fragments/lib/auth/js/getting-started.mdx
  src/fragments/lib/auth/js/getting_started/10_setUpBackendResources.mdx
  src/pages/console/auth/authentication.mdx
Labels: amplify/js, redirects-needed, technical-review-needed

#5342 chore(Flutter): update Amplify Flutter Storage getProperties API doc
  src/directory/directory.mjs
  src/fragments/lib/storage/flutter/get-properties.mdx
  src/pages/lib/storage/get-properties/q/platform/[platform].mdx
Labels: amplify/flutter, product-owner-review-needed

#5348 chore(Flutter): update Amplify Flutter Storage copy API docs
  src/directory/directory.mjs
  src/fragments/lib/storage/flutter/copy.mdx
Labels: amplify/flutter, product-owner-review-needed

#5347 chore(Flutter):update Amplify Flutter Storage list API docs
  src/fragments/lib-v1/storage/flutter/list.mdx
  src/fragments/lib/storage/flutter/list.mdx
Labels: amplify/flutter, product-owner-review-needed, technical-review-needed

#5381 chore(flutter): update docs for Amplify Flutter v1 - DataStore
  src/fragments/lib/datastore/flutter/data-access/delete-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/observe-update-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/query-basic-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/query-pagination-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/query-predicate-multiple-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/query-predicate-or-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/query-predicate-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/query-sort-multiple-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/query-sort-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/save-snippet.mdx
  src/fragments/lib/datastore/flutter/data-access/update-snippet.mdx
  src/fragments/lib/datastore/flutter/getting-started/10_preReq.mdx
  src/fragments/lib/datastore/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/datastore/flutter/getting-started/30_platformIntegration.mdx
  src/fragments/lib/datastore/flutter/getting-started/40_codegen.mdx
  src/fragments/lib/datastore/flutter/getting-started/50_codegenCli.mdx
  src/fragments/lib/datastore/flutter/getting-started/50_initDataStore.mdx
  src/fragments/lib/datastore/flutter/getting-started/60_initDataStore.mdx
  src/fragments/lib/datastore/flutter/getting-started/60_saveSnippet.mdx
  src/fragments/lib/datastore/flutter/getting-started/70_querySnippet.mdx
  src/fragments/lib/datastore/flutter/getting-started/80_saveSnippet.mdx
  src/fragments/lib/datastore/flutter/relational/delete-snippet.mdx
  src/fragments/lib/datastore/flutter/relational/query-snippet.mdx
  src/fragments/lib/datastore/flutter/relational/save-many-snippet.mdx
  src/fragments/lib/datastore/flutter/relational/save-snippet.mdx
  src/fragments/lib/datastore/flutter/relational/updated-schema.mdx
  src/fragments/lib/datastore/flutter/sync/10-installPlugin.mdx
  src/fragments/lib/datastore/flutter/sync/20-savePredicate.mdx
  src/fragments/lib/datastore/flutter/sync/30-savePredicateComparison.mdx
  src/fragments/lib/datastore/flutter/sync/40-clear.mdx
  src/fragments/lib/datastore/native_common/codegen-platform-integration.mdx
  src/fragments/lib/datastore/native_common/getting-started.mdx
  src/fragments/lib/datastore/native_common/relational.mdx
  src/fragments/lib/datastore/native_common/setup-env-cli.mdx
  src/fragments/lib/datastore/native_common/setup-env.mdx
  src/fragments/lib/datastore/native_common/sync.mdx
  src/fragments/lib/storage/flutter/getting-started/10_preReq.mdx
  src/fragments/lib/storage/flutter/getting-started/20_installLib.mdx
Labels: amplify/flutter, product-owner-review-needed

#5380 chore(flutter): v1 Auth code snippets
  src/fragments/lib/auth/flutter/access_credentials/10_fetchAuthSession.mdx
  src/fragments/lib/auth/flutter/device_features/20_forgetDevice.mdx
  src/fragments/lib/auth/flutter/getting_started/30_initAuth.mdx
  src/fragments/lib/auth/flutter/password_management/10_reset_password.mdx
  src/fragments/lib/auth/flutter/password_management/20_confirm_reset_password.mdx
  src/fragments/lib/auth/flutter/password_management/30_change_password.mdx
  src/fragments/lib/auth/flutter/signin/10_signUp.mdx
  src/fragments/lib/auth/flutter/signin/20_confirmSignUp.mdx
  src/fragments/lib/auth/flutter/signin/30_signIn.mdx
  src/fragments/lib/auth/flutter/signin/40_multi_factor_signup.mdx
  src/fragments/lib/auth/flutter/signin/50_multi_factor_confirm_signin.mdx
  src/fragments/lib/auth/flutter/signin/60_runtime_auth_flow.mdx
  src/fragments/lib/auth/flutter/signin_web_ui/30_signin.mdx
  src/fragments/lib/auth/flutter/signin_with_custom_flow/20_signup.mdx
  src/fragments/lib/auth/flutter/signin_with_custom_flow/30_signin.mdx
  src/fragments/lib/auth/flutter/signin_with_custom_flow/40_custom_challenge.mdx
  src/fragments/lib/auth/flutter/signout/10_local_signout.mdx
  src/fragments/lib/auth/flutter/signout/20_global_signout.mdx
  src/fragments/lib/auth/flutter/social_signin_web_ui/20_signin.mdx
  src/fragments/lib/auth/flutter/user_attributes/10_fetch_attributes.mdx
  src/fragments/lib/auth/flutter/user_attributes/20_update_user_attribute.mdx
  src/fragments/lib/auth/flutter/user_attributes/30_confirm_attribute.mdx
  src/fragments/lib/auth/flutter/user_attributes/40_resend_code.mdx
Labels: amplify/flutter, product-owner-review-needed

#5329 Update Analytics v0 and v1 docs.
  src/fragments/lib-v1/analytics/flutter/enable-disable/disable.mdx
  src/fragments/lib-v1/analytics/flutter/enable-disable/enable.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/10_preReq.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/20_installLib.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/30_initAnalytics.mdx
  src/fragments/lib-v1/analytics/flutter/getting-started/40_record.mdx
  src/fragments/lib-v1/analytics/flutter/identifyuser.mdx
  src/fragments/lib-v1/analytics/flutter/record.mdx
  src/fragments/lib/analytics/flutter/enable-disable/disable.mdx
  src/fragments/lib/analytics/flutter/getting-started/10_preReq.mdx
  src/fragments/lib/analytics/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/analytics/flutter/getting-started/30_initAnalytics.mdx
  src/fragments/lib/analytics/flutter/getting-started/40_record.mdx
  src/fragments/lib/analytics/flutter/identifyuser.mdx
  src/fragments/lib/analytics/flutter/record.mdx
  src/pages/lib-v1/analytics/enable-disable/q/platform/[platform].mdx
Labels: amplify/flutter, product-owner-review-needed

#5370 feat: link studio launch to start page
  src/pages/console/auth/authentication.mdx
  src/pages/console/authz/authorization.mdx
  src/pages/console/data/content-management.mdx
  src/pages/console/data/data-model.mdx
  src/pages/console/storage/file-browser.mdx
  src/pages/console/storage/file-storage.mdx
  src/pages/console/uibuilder/slots.mdx
Labels: amplify/studio, product-owner-review-needed, technical-review-needed

#5388 fix(notifications): Update RN PN docs to pin versions temporarily
  src/fragments/lib/push-notifications/common/getting_started/getting-started.mdx
  src/fragments/lib/push-notifications/react-native/getting_started/40_install_lib.mdx
  src/fragments/lib/push-notifications/react-native/getting_started/expo-callout.mdx
Labels: amplify/js, ready-to-merge

#5358 feat: Flutter v0-v1 upgrade guide
  cspell.json
  src/directory/directory.mjs
  src/fragments/lib/project-setup/flutter/platform-setup/platform-setup.mdx
  src/fragments/lib/project-setup/flutter/platform-setup/sqlite3_wasm.mdx
  src/fragments/lib/project-setup/flutter/upgrade-guide/upgrade-guide.mdx
  src/pages/lib/project-setup/upgrade-guide/q/platform/[platform].mdx
Labels: amplify/flutter

#5384 chore(Flutter): API v1 updates
  src/fragments/lib/graphqlapi/flutter/authz/10_userpool.mdx
  src/fragments/lib/graphqlapi/flutter/getting-started/10_preReq.mdx
  src/fragments/lib/graphqlapi/flutter/getting-started/20_installLib.mdx
  src/fragments/lib/restapi/flutter/getting-started/10_preReq.mdx
  src/fragments/lib/restapi/flutter/getting-started/20_installLib.mdx
Labels: amplify/flutter

#5368 fix(android): Add minor improvements to android getting started guide
  src/fragments/lib/project-setup/android/create-application/30_provisionBackend.mdx
  src/fragments/lib/project-setup/android/create-application/40_verifyAmplifyLibraries.mdx
  src/fragments/lib/project-setup/native_common/create-application/50_nextSteps.mdx
  src/fragments/start/getting-started/android/nextsteps.mdx
Labels: amplify/android, ready-to-merge

#5386 chore(flutter): remove developer preview label from PN docs
  src/directory/directory.mjs
Labels: amplify/flutter

#5391 feat: update studio references and minor fixes
  src/pages/console/formbuilder/call-to-action.mdx
  src/pages/console/formbuilder/customize.mdx
  src/pages/console/formbuilder/overrides.mdx
  src/pages/console/formbuilder/overview.mdx
  src/pages/console/formbuilder/validations.mdx
  src/pages/console/tutorial/bindui.mdx
  src/pages/console/tutorial/buildui.mdx
  src/pages/console/tutorial/collections.mdx
  src/pages/console/tutorial/data.mdx
  src/pages/console/uibuilder/collections.mdx
  src/pages/console/uibuilder/databinding.mdx
  src/pages/console/uibuilder/eventhandling.mdx
  src/pages/console/uibuilder/figmatocode.mdx
  src/pages/console/uibuilder/slots.mdx
Labels: amplify/studio

#5396 chore(react-native): Unpin library version for Push
  src/fragments/lib/push-notifications/react-native/getting_started/40_install_lib.mdx
Labels: amplify/js, ready-to-merge

#5319 Update Amplify Android versions
  src/constants/versions.ts
Labels: amplify/android

#5323 fix(swift): add async/await snippets for datastore observe/observeQuery
  src/fragments/lib/datastore/ios/real-time/observe-query-snippet.mdx
  src/fragments/lib/datastore/ios/real-time/observe-snippet.mdx
Labels: amplify/ios

#5325 amplify-library: add use cases to identifyUser library api
  src/fragments/lib/analytics/android/identifyuser.mdx
  src/fragments/lib/analytics/flutter/identifyuser.mdx
  src/fragments/lib/analytics/ios/identifyuser.mdx
  src/fragments/lib/analytics/native_common/identify-use-cases.mdx
Labels: amplify/ios, amplify/android, amplify/admin-ui

#5333 fix(android): Misc docs inconsistency fix
  src/fragments/lib-v1/datastore/android/getting-started/70_saveSnippet.mdx
  src/fragments/lib-v1/datastore/android/other-methods/30_stop.mdx
  src/fragments/lib-v1/predictions/android/identify-text.mdx
  src/fragments/lib/datastore/android/getting-started/70_saveSnippet.mdx
  src/fragments/lib/datastore/android/other-methods/30_stop.mdx
  src/fragments/lib/predictions/android/getting-started/50_translate.mdx
  src/fragments/lib/predictions/android/identify-text.mdx
  src/fragments/lib/push-notifications/android/identify_user/10_get_auth_user.mdx
  src/fragments/lib/storage/android/query-transfers.mdx
Labels: amplify/android

#5400 fix (JS/RN): updated 'secure' to 'security' for pubsub console instructions
  src/fragments/lib/pubsub/js/getting-started.mdx
  src/pages/lib/pubsub/getting-started/q/platform/[platform].mdx
Labels: amplify/js, ready-to-merge, react-native

#5402 Update vm2 resolution
  package.json
  yarn.lock
Labels: amplify/docs-engineering

#5407 Update vm2 resolution to 3.9.17
  package.json
  yarn.lock
Labels: amplify/docs-engineering

#5409 fix(flutter): Callout wording and severity
  src/fragments/start/getting-started/flutter/build.mdx
Labels: amplify/flutter, ready-to-merge

#5411 fix(flutter): Getting started `onPressed`
  src/fragments/start/getting-started/flutter/integrate.mdx
Labels: amplify/flutter, ready-to-merge

#5372 feat(storage): add validateObjectExistence option in get api
  src/fragments/lib/storage/js/download.mdx
Labels: amplify/js

#5387 fix(React Native): update code example within Social Auth on Android, minor changes to block names for Auth
  src/fragments/lib-v1/auth/native_common/getting_started/common.mdx
  src/fragments/lib/auth/android/getting_started/50_configureBackend.mdx
  src/fragments/lib/auth/flutter/getting_started/70_configureBackend.mdx
  src/fragments/lib/auth/ios/getting_started/50_configureBackend.mdx
  src/fragments/lib/auth/js/getting-started-set-up-backend-resources-react-native.mdx
  src/fragments/lib/auth/js/getting-started.mdx
  src/fragments/lib/auth/js/getting_started/10_setUpBackendResources.mdx
  src/fragments/lib/auth/js/react-native-social.mdx
  src/fragments/lib/auth/native_common/getting_started/common.mdx
Labels: amplify/js

#5401 fix (JS/RN): fixed manage users auth page
  src/fragments/lib/auth/js/manageusers.mdx
  src/pages/lib/auth/manageusers/q/platform/[platform].mdx
Labels: amplify/js, react-native, technical-review-needed

#5406 feat: update cms and data limitations
  src/pages/console/data/content-management.mdx
  src/pages/console/data/data-model.mdx
Labels: amplify/studio

#5410 feat: add callout about remove storage
  src/pages/cli/storage/overview.mdx
Labels: amplify/cli

#5315 Upgrade to Next13
  .github/workflows/build.yml
  .github/workflows/spellcheck.yml
  .github/workflows/tagcheck.yml
  next.config.mjs
  package.json
  src/components/Card/styles.tsx
  src/components/InternalLink/index.tsx
  src/components/LandingHeroCTA/index.tsx
  src/components/Layout/index.tsx
  src/components/Menu/Directory/__tests__/Directory.test.tsx
  src/components/Menu/FilterSelect/index.tsx
  src/components/Menu/VersionSwitcher/index.tsx
  src/components/SearchBar/Autocomplete.tsx
  src/components/SecondaryNav/index.tsx
  src/fragments/sdk/api/android/graphql.mdx
  src/fragments/sdk/api/ios/graphql.mdx
  yarn.lock
Labels: amplify/docs-engineering

#5431 chore(flutter): Update Android platform docs
  src/fragments/lib/project-setup/flutter/platform-setup/android.mdx
Labels: amplify/flutter

#5420 fix(CLI): Add authentication method option to Vue getting started guide
  src/fragments/start/getting-started/vue/setup.mdx
Labels: amplify/js

#5416 feat: add studio cli flow troubleshooting
  src/pages/console/adminui/extend-cli.mdx
Labels: amplify/studio

#5405 chore(JS/RN): added callout about cli lexv1 only support for interactions
  src/fragments/lib/interactions/js/getting-started.mdx
  src/pages/lib/interactions/getting-started/q/platform/[platform].mdx
Labels: amplify/js, ready-to-merge, react-native

#5404 chore(nextJS): updated nextjs getting-started with accurate cli prompts
  src/fragments/start/getting-started/next/api.mdx
Labels: amplify/js

#5403 fix(JS/RN/iOS/android): fixed code-spacing on predictions category
  src/fragments/lib/predictions/android/escapehatch.mdx
  src/fragments/lib/predictions/android/getting-started/30_installLib.mdx
  src/fragments/lib/predictions/android/getting-started/40_init.mdx
  src/fragments/lib/predictions/android/getting-started/50_translate.mdx
  src/fragments/lib/predictions/android/identify-entity.mdx
  src/fragments/lib/predictions/android/identify-text.mdx
  src/fragments/lib/predictions/android/interpret.mdx
  src/fragments/lib/predictions/android/label-image.mdx
  src/fragments/lib/predictions/android/text-speech.mdx
  src/fragments/lib/predictions/android/translate.mdx
  src/fragments/lib/predictions/ios/escapehatch.mdx
  src/fragments/lib/predictions/ios/getting-started/40_init.mdx
  src/fragments/lib/predictions/ios/getting-started/50_translate.mdx
  src/fragments/lib/predictions/ios/identify-entity.mdx
  src/fragments/lib/predictions/ios/identify-text.mdx
  src/fragments/lib/predictions/ios/interpret.mdx
  src/fragments/lib/predictions/ios/label-image.mdx
  src/fragments/lib/predictions/ios/text-speech.mdx
  src/fragments/lib/predictions/ios/transcribe.mdx
  src/fragments/lib/predictions/ios/translate.mdx
  src/fragments/lib/predictions/js/identify-entity.mdx
  src/fragments/lib/predictions/js/identify-text.mdx
  src/fragments/lib/predictions/js/label-image.mdx
  src/fragments/lib/predictions/js/sample.mdx
  src/fragments/lib/predictions/js/transcribe.mdx
  src/fragments/lib/predictions/native_common/getting-started/common.mdx
  src/pages/lib/predictions/escapehatch/q/platform/[platform].mdx
  src/pages/lib/predictions/getting-started/q/platform/[platform].mdx
  src/pages/lib/predictions/identify-entity/q/platform/[platform].mdx
  src/pages/lib/predictions/identify-text/q/platform/[platform].mdx
  src/pages/lib/predictions/interpret/q/platform/[platform].mdx
  src/pages/lib/predictions/label-image/q/platform/[platform].mdx
  src/pages/lib/predictions/sample/q/platform/[platform].mdx
  src/pages/lib/predictions/text-speech/q/platform/[platform].mdx
  src/pages/lib/predictions/transcribe/q/platform/[platform].mdx
  src/pages/lib/predictions/translate/q/platform/[platform].mdx
Labels: amplify/js, amplify/ios, amplify/android, react-native

#5398 feat(Authenticator): Adding a mention to the Authenticator components in the Swift docs [Swift]
  src/fragments/lib/auth/ios/getting_started/45_authenticator.mdx
  src/fragments/lib/auth/native_common/getting_started/common.mdx
Labels: amplify/ios

#5397 feat(storage): Update list api documentation to add pagination examples
  src/fragments/lib/storage/android/list.mdx
Labels: amplify/android

#5350 docs(reactnative/setup): update with correct instructions
  src/directory/directory.mjs
  src/fragments/start/getting-started/reactnative/auth.mdx
  src/fragments/start/getting-started/reactnative/data-model.mdx
  src/fragments/start/getting-started/reactnative/setup.mdx
  src/pages/start/getting-started/auth/q/integration/[integration].mdx
  src/pages/start/getting-started/data-model/q/integration/[integration].mdx
Labels: amplify/js, getting-started, react-native

#5432 fix: Authenticator for Swift callout was displayed for Android and Flutter
  src/fragments/lib/auth/ios/getting_started/05_authenticator_callout.mdx
  src/fragments/lib/auth/native_common/getting_started/common.mdx
Labels: amplify/ios

#5426 Update query-data.mdx: predicate descriptions were mismatched in Flutter docs
  src/fragments/lib/graphqlapi/flutter/query-data.mdx
Labels: amplify/flutter, first-time-contributor, external-contributor, API GraphQL, ready-to-merge
