Repository aws-amplify/docs, pull requests merged in 2023-11, with the labels that each got.

#6117 Generative AI guide
  public/images/gen-ai/build-settings.png
  public/images/gen-ai/claude.png
  public/images/gen-ai/login-form.png
  src/directory/directory.mjs
  src/pages/guides/api-rest/gen-ai/index.mdx
  src/pages/guides/api-rest/gen-ai/q/platform/[platform].mdx
Labels: amplify/cli, amplify/js

#6529 Fixed data import path
  src/pages/gen2/build-a-backend/data/connect-to-API/index.mdx
  src/pages/gen2/build-a-backend/data/customize-authz/index.mdx
  src/pages/gen2/build-a-backend/data/mutate-data/index.mdx
  src/pages/gen2/build-a-backend/data/query-data/index.mdx
  src/pages/gen2/build-a-backend/data/set-up-data/index.mdx
Labels: amplify/data

#6552 Missing variable reference in code example
  src/pages/gen2/build-a-backend/data/data-modeling/add-fields/index.mdx
Labels: amplify/data

#6532 fix: Configure Amplify categories
  src/pages/[platform]/prev/tools/libraries/configure-categories/index.mdx
  src/pages/[platform]/tools/libraries/configure-categories/index.mdx
Labels: amplify/js

#6517 add filepath comments to gen2 functions, storage
  src/pages/gen2/build-a-backend/functions/index.mdx
  src/pages/gen2/build-a-backend/storage/index.mdx
Labels: amplify/gen2

#6522 feat: add cross account deployment guide for gen 2
  cspell.json
  public/images/gen2/cross-account-deployments/pipeline1.png
  public/images/gen2/cross-account-deployments/pipeline10.png
  public/images/gen2/cross-account-deployments/pipeline11.png
  public/images/gen2/cross-account-deployments/pipeline12.png
  public/images/gen2/cross-account-deployments/pipeline13.png
  public/images/gen2/cross-account-deployments/pipeline14.png
  public/images/gen2/cross-account-deployments/pipeline2.png
  public/images/gen2/cross-account-deployments/pipeline3.png
  public/images/gen2/cross-account-deployments/pipeline4.png
  public/images/gen2/cross-account-deployments/pipeline5.png
  public/images/gen2/cross-account-deployments/pipeline6.png
  public/images/gen2/cross-account-deployments/pipeline7.png
  public/images/gen2/cross-account-deployments/pipeline8.png
  public/images/gen2/cross-account-deployments/pipeline9.png
  src/directory/directory.mjs
  src/pages/gen2/deploy-and-host/fullstack-branching/cross-account-deployments/index.mdx
Labels: amplify/gen2
