Repository aws-amplify/docs, pull requests merged in 2023-03, with the labels that each got.

#5146 add note on cpk ff with sqlite
  src/fragments/lib/datastore/react-native/getting-started/30_platformIntegration.mdx
Labels: DataStore, amplify/data

#5118 replace expo init with npx create-expo-app
  src/fragments/lib/datastore/react-native/getting-started/30_platformIntegration.mdx
Labels: DataStore, amplify/data

#5150 Delete Amplify backend related code
  .github/actions/fetch_amplify_backend/action.yml
  .github/workflows/build.yml
  amplify/.config/project-config.json
  amplify/README.md
  amplify/backend/api/submissions/cli-inputs.json
  amplify/backend/backend-config.json
  amplify/backend/function/submissionsLambda/amplify.state
  amplify/backend/function/submissionsLambda/custom-policies.json
  amplify/backend/function/submissionsLambda/function-parameters.json
  amplify/backend/function/submissionsLambda/lib/app.ts
  amplify/backend/function/submissionsLambda/lib/controllers/SubmissionsController.ts
  amplify/backend/function/submissionsLambda/lib/controllers/__mocks__/aws-sdk.ts
  amplify/backend/function/submissionsLambda/lib/controllers/__tests__/SubmissionsController.test.ts
  amplify/backend/function/submissionsLambda/lib/index.ts
  amplify/backend/function/submissionsLambda/lib/tsconfig.json
  amplify/backend/function/submissionsLambda/src/package.json
  amplify/backend/function/submissionsLambda/submissionsLambda-cloudformation-template.json
  amplify/backend/storage/submissionsTable/cli-inputs.json
  amplify/backend/tags.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/cli.json
  build_support/create-awsconfig.mjs
  build_support/create-test-profile.sh
  build_support/pull-environment.sh
  package.json
Labels: amplify/docs-engineering

#5097 add react native polyfill to getting started
  src/fragments/lib/datastore/native_common/setup-env.mdx
  src/fragments/lib/datastore/react-native/getting-started/30_platformIntegration.mdx
  src/fragments/lib/datastore/react-native/getting-started/polyfills.mdx
Labels: DataStore, amplify/data, react-native

#5188 Update amplify build spec to run algolia index on main branch only
  amplify.yml
  next.config.js
Labels: amplify/docs-engineering

#5200 Update layers.mdx
  src/pages/cli/function/layers.mdx
Labels: amplify/cli

#5195 chore: fix Import cognito resource on studio
  public/images/studio/import-auth-selection.png
  public/images/studio/import-auth.png
  public/images/studio/import-identity-pool.png
  src/pages/console/auth/import.mdx
Labels: amplify/studio

#5152 Amplify Studio: update sandbox sample schema to align with tutorial docs and use graphQL transformer v2
  src/pages/console/data/data-model.mdx
Labels: run-tests, amplify/studio

#5109 fix: numeration on git-based hosting tutorial
  src/fragments/guides/hosting/git-based-deployments.mdx
Labels: amplify/hosting, external-contributor

#4976 fix: revise references to deprecated lambda node version update page
  src/fragments/lib/auth/js/start.mdx
  src/fragments/lib/interactions/js/getting-started.mdx
Labels: amplify/js

#5136 chore(js): Updated federatedSignIn docs for new Google client
  src/fragments/lib/auth/js/advanced.mdx
Labels: amplify/js

#5147 Predictions/transcribe language support
  src/fragments/lib/predictions/js/transcribe.mdx
Labels: amplify/js

#5202 [Studio] Expand Studio managed resources and add instructions for resetting Studio
  src/pages/console/adminui/access-management.mdx
Labels: amplify/studio

#5171 fix(cli-graphql): add custom cdk resolver limitation
  src/pages/cli/graphql/custom-business-logic.mdx
Labels: amplify/cli

#5124 chore(flutter): GQL model helper changes for CPK in dev preview
  src/fragments/lib/graphqlapi/flutter/mutate-data.mdx
  src/fragments/lib/graphqlapi/flutter/query-data.mdx
Labels: amplify/flutter

#5217 chore(CLI): extracting iam instructions into fragment
  src/fragments/cli-config.mdx
  src/fragments/lib-v1/project-setup/native_common/prereq/common_body.mdx
  src/fragments/lib/project-setup/native_common/prereq/common_body.mdx
  src/fragments/start/getting-started/common/prereq.mdx
  src/pages/cli/start/install.mdx
Labels: amplify/cli

#4934 feat(cli): migration guide for lazy loading and custom selection set feature flag
  src/components/FeatureFlags/feature-flags.json
  src/directory/directory.js
  src/pages/cli/graphql/data-modeling.mdx
  src/pages/cli/migration/lazy-load-custom-selection-set.mdx
Labels: amplify/cli, amplify/ios

#5197 changes Legacy link on Delete User section for JS/RN
  src/fragments/lib/auth/js/delete_user.mdx
  src/fragments/lib/auth/native_common/delete_user/common.mdx
Labels: amplify/js, external-contributor

#5164 feat: add contributor page
  package.json
  public/fonts/AmazonEmberDisplay_Bd.ttf
  public/fonts/AmazonEmberDisplay_BdIt.ttf
  public/fonts/AmazonEmberDisplay_Rg.ttf
  public/fonts/AmazonEmberDisplay_RgIt.ttf
  public/fonts/AmazonEmberMono_Bd.ttf
  public/fonts/AmazonEmber_Bd.ttf
  public/images/contribute/contributor-bash-og-image.png
  public/images/contribute/open-pr.png
  public/images/contribute/open-vs-code.png
  src/components/Footer/index.tsx
  src/components/Layout/index.tsx
  src/components/contribute/CardIssues.tsx
  src/components/contribute/HowItWorks.tsx
  src/components/contribute/Layout.tsx
  src/components/contribute/QuickstartResources.tsx
  src/components/contribute/theme.ts
  src/constants/links.ts
  src/directory/directory.js
  src/pages/_app.tsx
  src/pages/contribute/getting-started.tsx
  src/pages/contribute/index.tsx
  src/styles/contribute-styles.css
  src/utils/globalnav.ts
  yarn.lock
Labels: amplify/docs-engineering, redirects-added

#5043 feat(swift): add notifications
  public/images/push-notifications/service-extension/01_new-target.png
  public/images/push-notifications/service-extension/02_target-type.png
  public/images/push-notifications/service-extension/03_target-name.png
  public/images/push-notifications/service-extension/04_add-library.png
  public/images/push-notifications/service-extension/05_notification-service.png
  public/images/push-notifications/xcode-entitlements/01_add-capability.png
  public/images/push-notifications/xcode-entitlements/02_add-push.png
  public/images/push-notifications/xcode-entitlements/03_add-background.png
  public/images/push-notifications/xcode-entitlements/04_background-remote-notifications.png
  public/images/push-notifications/xcode-entitlements/05_app-sandbox.png
  public/images/push-notifications/xcode-entitlements/06_app-sandbox-outgoing-connections.png
  src/directory/directory.js
  src/fragments/lib/push-notifications/common/getting-started.mdx
  src/fragments/lib/push-notifications/common/identify-user.mdx
  src/fragments/lib/push-notifications/common/record-notifications.mdx
  src/fragments/lib/push-notifications/common/register-device.mdx
  src/fragments/lib/push-notifications/common/remote-media.mdx
  src/fragments/lib/push-notifications/common/setup-push-service.mdx
  src/fragments/lib/push-notifications/common/testing.mdx
  src/fragments/lib/push-notifications/ios/getting_started/10_pre_req.mdx
  src/fragments/lib/push-notifications/ios/getting_started/20_set_entitlements.mdx
  src/fragments/lib/push-notifications/ios/getting_started/30_create_app_delegate.mdx
  src/fragments/lib/push-notifications/ios/getting_started/40_cli_resources.mdx
  src/fragments/lib/push-notifications/ios/getting_started/50_existing_resources.mdx
  src/fragments/lib/push-notifications/ios/getting_started/60_install_lib.mdx
  src/fragments/lib/push-notifications/ios/getting_started/70_init_push_notifications.mdx
  src/fragments/lib/push-notifications/ios/identify_user/10_get_auth_user.mdx
  src/fragments/lib/push-notifications/ios/identify_user/20_send_to_pinpoint.mdx
  src/fragments/lib/push-notifications/ios/identify_user/30_send_to_pinpoint_profile.mdx
  src/fragments/lib/push-notifications/ios/record_notifications/10_notification_received.mdx
  src/fragments/lib/push-notifications/ios/record_notifications/20_notification_opened.mdx
  src/fragments/lib/push-notifications/ios/register_device/10_register_intro.mdx
  src/fragments/lib/push-notifications/ios/register_device/20_register_with_apns.mdx
  src/fragments/lib/push-notifications/ios/register_device/30_register_with_pinpoint.mdx
  src/fragments/lib/push-notifications/ios/remote_media/10_remote_media.mdx
  src/fragments/lib/push-notifications/ios/setup_push_service/setup-apns.mdx
  src/pages/lib/push-notifications/getting-started/q/platform/[platform].mdx
  src/pages/lib/push-notifications/identify-user/q/platform/[platform].mdx
  src/pages/lib/push-notifications/record-notifications/q/platform/[platform].mdx
  src/pages/lib/push-notifications/register-device/q/platform/[platform].mdx
  src/pages/lib/push-notifications/remote-media/q/platform/[platform].mdx
  src/pages/lib/push-notifications/setup-push-service/q/platform/[platform].mdx
  src/pages/lib/push-notifications/testing/q/platform/[platform].mdx
Labels: amplify/ios

#5234 chore:update user management
  public/images/studio/auth/create-user.png
  public/images/studio/auth/user-groups.png
  public/images/studio/auth/user-management.png
  src/pages/console/auth/user-management.mdx
Labels: amplify/studio

#5203 Remove "just" from geo fragment
  src/fragments/lib/geo/existing-resources.mdx
Labels: geo

#5214 feat(android): Add new page for S3 acceleration endpoint
  src/directory/directory.js
  src/fragments/lib/storage/android/transfer-acceleration.mdx
  src/pages/lib/storage/transfer-acceleration/q/platform/[platform].mdx
Labels: amplify/android

#5204 Code Copy Tracking
  src/components/CodeBlock/index.tsx
  src/utils/track.ts
Labels: amplify/docs-engineering

#5241 add contribute to global nav
  src/constants/links.ts
  src/utils/globalnav.ts
Labels: amplify/docs-engineering

#5166 Added callout for only NextJS SSR support
  src/fragments/lib/ssr/js/getting-started.mdx
  src/fragments/lib/ssr/js/next-js-callout.mdx
  src/fragments/start/getting-started/next/api.mdx
Labels: amplify/js

#5246 Fix typo for flutter sign in
  src/fragments/lib/auth/flutter/signin/30_signIn.mdx
Labels: amplify/flutter, external-contributor

#5187 chore(flutter): GraphQL subscriptions by id
  src/fragments/guides/api-graphql/android/subscriptions-by-id.mdx
  src/fragments/guides/api-graphql/common/subscriptions-by-id.mdx
  src/fragments/guides/api-graphql/flutter/subscriptions-by-id.mdx
  src/fragments/guides/api-graphql/ios/subscriptions-by-id.mdx
  src/fragments/guides/api-graphql/js/subscriptions-by-id.mdx
  src/pages/guides/api-graphql/subscriptions-by-id/q/platform/[platform].mdx
Labels: amplify/flutter

#5186 fix(js): removed push notification from JS frameworks getting started
  src/fragments/start/getting-started/angular/nextsteps.mdx
  src/fragments/start/getting-started/react/nextsteps.mdx
  src/fragments/start/getting-started/vue/nextsteps.mdx
Labels: amplify/js

#5173 fix(JS/flutter): readdresses typos and correct flutter typing
  src/fragments/lib-v1/storage/js/upload.mdx
  src/fragments/lib/project-setup/flutter/create-application/30_provisionBackend.mdx
  src/fragments/lib/storage/js/browser-uploads.mdx
Labels: amplify/js, amplify/flutter

#4944 fix: Public example should align with others
  src/fragments/lib/storage/js/list.mdx
Labels: amplify/js, pm-review-needed

#4914 Remove nested try catch/function in samples
  src/pages/guides/functions/dynamodb-from-js-lambda/q/platform/[platform].mdx
Labels: amplify/js, amplify/android, run-tests, pm-review-needed

#5253 fix(JS/RN): updated code spacing on pass/user management page for JS/RN
  src/fragments/lib/auth/js/manageusers.mdx
Labels: amplify/js, ready-to-merge, react-native

#5167 fix(JS/RN): removed -S flag when installing amplify library in storage category
  src/fragments/lib/storage/js/getting-started.mdx
Labels: amplify/js, run-tests, ready-to-merge, react-native

#5255 Updates to redirects workflow
  .github/workflows/check_for_redirects.yml
Labels: amplify/docs-engineering

#5243 fix(js): Adds Select_mfa_type to MFA challenges
  src/fragments/lib/auth/js/mfa.mdx
  src/fragments/lib/auth/js/react-native-mfa.mdx
Labels: amplify/js, ready-to-merge

#5259 fix: reference to deprecated chatbot component (JS, UI, amplify-libraries)
  src/fragments/lib/interactions/js/getting-started.mdx
Labels: amplify/ui, ready-to-merge

#4990 chore: aws cdk v2 migration troubleshooting
  public/images/ts-guide-cdk-package.png
  public/images/ts-guide-cdk.png
  src/directory/directory.js
  src/pages/cli/migration/aws-cdk-migration.mdx
  src/pages/cli/project/troubleshooting.mdx
Labels: amplify/cli, product-owner-review-needed, technical-review-needed

#5252 feat(docs): added rule for indent spacing to styleguide
  STYLEGUIDE.md
Labels: amplify/docs-engineering, amplify/editorial

#5178 fix(js/rn): modified storage 'use existing AWS resources' page
  src/fragments/lib/storage/js/existing-resources.mdx
  src/pages/lib/storage/existing-resources/q/platform/[platform].mdx
Labels: amplify/js, ready-to-merge, react-native

#5174 [CLI] update Parameter Store reference for v11
  public/images/cli/parameter-store/create-parameter.png
  public/images/cli/parameter-store/select-parameter-store.png
  public/images/cli/parameter-store/select-ssm-console.png
  public/images/cli/parameter-store/view-parameter-store.png
  src/pages/cli/reference/ssm-parameter-store.mdx
Labels: amplify/cli

#5083 chore: CPK feature flag default true for new projects
  src/components/FeatureFlags/feature-flags.json
Labels: DataStore, amplify/docs-engineering, amplify/data, product-owner-review-needed

#4533 fix(docs): Update AppSync operations to a Lambda layer
  src/pages/guides/functions/appsync-operations-to-lambda-layer/q/platform/[platform].mdx
Labels: amplify/cli, first-time-contributor, run-tests, external-contributor, product-owner-review-needed, technical-review-needed

#4531 Update import.mdx to reflect the need for both an authenticated and u…
  src/pages/cli/auth/import.mdx
Labels: amplify/cli, first-time-contributor, external-contributor

#5256 chore: add graphql language to fenced code block for syntax highlighting
  src/pages/cli/migration/lazy-load-custom-selection-set.mdx
Labels: amplify/cli

#5224 chore(studio) update formbuilder customize page
  src/pages/console/formbuilder/customize.mdx
Labels: amplify/studio

#5137 refactor rest api cognito override to use arn output
  src/pages/cli/restapi/override.mdx
Labels: amplify/cli

#5033 Add missing documentation for GraphQL Transformer feature flags.
  src/components/FeatureFlags/feature-flags.json
Labels: amplify/docs-engineering, amplify/data, product-owner-review-needed

#5261 chore: update CLI links
  src/fragments/cli/plugins/custom-transformer.mdx
  src/pages/cli-legacy/graphql-transformer/auth.mdx
  src/pages/cli-legacy/graphql-transformer/overview.mdx
  src/pages/cli-legacy/graphql-transformer/resolvers.mdx
  src/pages/cli/auth/override.mdx
  src/pages/cli/hosting/hosting.mdx
  src/pages/cli/project/troubleshooting.mdx
Labels: amplify/cli

#5087 Updated docs for real-time multi-group authorization
  src/pages/cli-legacy/graphql-transformer/auth.mdx
  src/pages/cli/graphql/authorization-rules.mdx
Labels: amplify/data

#5223 fix(CLI/JS): Updating social sign-in attribute mappings callout on imported Auth
  src/fragments/common/writable-vs-mutable-attributes.mdx
  src/fragments/lib/auth/js/start.mdx
  src/pages/cli/auth/import.mdx
Labels: amplify/cli, amplify/js, product-owner-review-needed

#5170 added amplify init instructions for RN project setup
  cspell.json
  src/fragments/start/getting-started/reactnative/setup.mdx
Labels: amplify/js, react-native

#5279 chore: Update Amplify for Android v2 version
  src/constants/versions.ts
Labels: amplify/android

#5282 clarified DataStore selective sync reevaluation language
  src/fragments/lib/datastore/js/sync/50-selectiveSync.mdx
Labels: DataStore, amplify/data

#5277 Update graphql-from-node.mdx
  src/fragments/lib/graphqlapi/graphql-from-node.mdx
Labels: amplify/cli

#5275 [DataStore] mention path to GraphQL API schema
  src/fragments/lib/datastore/native_common/schema-updates.mdx
Labels: DataStore, amplify/data

#5274 added callout for DataStore JS auto-conversion of `undefined` to `null`
  src/fragments/lib/datastore/js/data-access/save-snippet.mdx
Labels: DataStore, amplify/data

#4923 Add Coroutines and Rx docs for Geo category
  src/fragments/lib/geo/android/getting_started/40_init_geo.mdx
  src/fragments/lib/geo/android/maps/30_styles.mdx
  src/fragments/lib/geo/android/search/10_search_by_text.mdx
  src/fragments/lib/geo/android/search/20_search_by_coordinates.mdx
Labels: amplify/android, geo, product-owner-review-needed, technical-review-needed

#5250 fix: add `try await` to `Amplify.Auth.signInWithWebUI(presentationAnchor: self.view.window!)`
  src/fragments/lib/auth/ios/signin_web_ui/30_signin.mdx
Labels: amplify/ios, first-time-contributor, external-contributor

#4881 feat(api): add code samples 1/2
  src/pages/cli/graphql/authorization-rules.mdx
  src/pages/cli/graphql/data-modeling.mdx
Labels: amplify/data

#4441 Updated graphql-from-node examples to be amplify mock compatible
  src/fragments/lib/graphqlapi/graphql-from-node.mdx
Labels: first-time-contributor, amplify/data, external-contributor

#5110 Add workflow to check for new files so CODEOWNERS can be updated
  .github/workflows/check_for_new_files.yml
  .github/workflows/scripts/check_for_new_files.js
Labels: amplify/docs-engineering, redirects-needed

#5284 Add desugaring to getting-started
  src/fragments/start/getting-started/android/setup.mdx
Labels: amplify/android

#5267 fix(JS/RN): fixed code indent for JS/RN in Auth category
  src/fragments/lib/auth/js/advanced.mdx
  src/fragments/lib/auth/js/emailpassword.mdx
  src/fragments/lib/auth/js/react-native-social.mdx
  src/fragments/lib/auth/js/react-native-withoauth.mdx
  src/fragments/lib/auth/js/start.mdx
  src/fragments/lib/auth/js/switch-auth.mdx
Labels: amplify/js, amplify/editorial, technical-review-needed

#4922 Update integrate.mdx
  src/fragments/start/getting-started/android/integrate.mdx
Labels: amplify/android

#5299 Removes IE11 support notice for Angular given it's deprecated
  src/fragments/start/getting-started/angular/setup.mdx
Labels: amplify/js

#5291 add Opensearch config parameters override samples
  src/pages/cli/graphql/override.mdx
Labels: amplify/data

#5287 Update setup.mdx
  src/fragments/start/getting-started/angular/setup.mdx
Labels: amplify/js, first-time-contributor, external-contributor, ready-to-merge

#5283 fix(data): replace broken JS example with a working React Native example (5257)
  src/fragments/lib/datastore/js/data-access/observe-update-snippet.mdx
  src/fragments/lib/datastore/native_common/data-access.mdx
  src/fragments/lib/datastore/react-native/data-access/observe-update-snippet.mdx
Labels: DataStore, p1, amplify/data, product-owner-review-needed, react-native

#5270 fix(JS/RN): standardized 'configuring your app' steps
  src/fragments/lib/analytics/native_common/getting-started/30_initAnalytics.mdx
  src/fragments/lib/analytics/native_common/getting-started/common.mdx
  src/fragments/lib/common/js/import_configuration.mdx
  src/fragments/lib/common/react-native/import_configuration.mdx
  src/fragments/lib/in-app-messaging/integrate-your-application/react-native/configure-amplify.mdx
  src/fragments/lib/interactions/js/frontend.mdx
  src/fragments/lib/interactions/js/getting-started.mdx
  src/fragments/lib/predictions/js/getting-started.mdx
  src/fragments/lib/restapi/js/getting-started.mdx
  src/fragments/lib/storage/js/getting-started.mdx
Labels: amplify/js, ready-to-merge

#5219 fix(JS/RN/Flutter): update docs to include switcher for adding auth via CLI or existing resources
  src/directory/directory.js
  src/fragments/lib-v1/auth/existing-resources.mdx
  src/fragments/lib-v1/auth/native_common/existing_resources/common.mdx
  src/fragments/lib-v1/auth/native_common/getting_started/common.mdx
  src/fragments/lib-v1/project-setup/android/use-existing-resources/use-existing-resources.mdx
  src/fragments/lib/auth/android/getting_started/12_amplifyConfig.mdx
  src/fragments/lib/auth/android/getting_started/50_configureBackend.mdx
  src/fragments/lib/auth/existing-resources.mdx
  src/fragments/lib/auth/flutter/existing_resources/10_existingResources.mdx
  src/fragments/lib/auth/flutter/getting_started/70_configureBackend.mdx
  src/fragments/lib/auth/ios/getting_started/50_configureBackend.mdx
  src/fragments/lib/auth/js/getting-started.mdx
  src/fragments/lib/auth/js/start.mdx
  src/fragments/lib/auth/native_common/getting_started/common.mdx
  src/fragments/lib/project-setup/android/use-existing-resources/use-existing-resources.mdx
Labels: amplify/js, amplify/flutter, ready-to-merge

#5084 chore: add callout for granular read use case
  src/pages/cli/graphql/authorization-rules.mdx
Labels: amplify/data

#5302 chore(geo): Added note relating to macOS
  src/fragments/lib/geo/ios/maps/10_install_adapter.mdx
Labels: amplify/ios, geo

#3895 Add platform independent sample script for headless init
  src/pages/cli/usage/headless.mdx
Labels: amplify/cli, first-time-contributor, external-contributor, redirects-needed, deleted-assets

#5298 fix(android): Fix out of order setup step
  src/fragments/lib-v1/project-setup/android/create-application/40_verifyAmplifyLibraries.mdx
  src/fragments/lib/project-setup/android/create-application/40_verifyAmplifyLibraries.mdx
Labels: amplify/android

#5091 feat: adding cli options to commands hooks
  src/pages/cli/project/command-hooks.mdx
Labels: amplify/cli, technical-review-needed

#5020 Import default export of ExpoSQLiteAdapter
  src/fragments/lib/datastore/react-native/getting-started/30_platformIntegration.mdx
Labels: DataStore, first-time-contributor, p2, amplify/data, external-contributor, react-native

#4950 feat: add Amplify CLI command reference
  next.config.mjs
  package.json
  src/components/Menu/Directory/__tests__/Directory.test.tsx
  src/components/Menu/Directory/index.tsx
  src/components/Menu/VersionSwitcher/index.tsx
  src/components/Menu/__tests__/Menu.test.tsx
  src/data/cli-commands.d.ts
  src/data/cli-commands.mjs
  src/directory/directory.d.ts
  src/directory/directory.mjs
  src/pages/cli/commands/[command].tsx
  src/utils/getLocalDirectory.ts
  tasks/build-algolia-search.mjs
  tasks/generate-sitemap.mjs
  tsconfig.json
  yarn.lock
Labels: amplify/cli, amplify/docs-engineering
