Repository aws-amplify/docs, pull requests merged in 2024-02, with the labels that each got.

#6895 Archive auth functions guides
  redirects.json
  src/directory/directory.mjs
  src/fragments/guides/authentication/js/custom-auth-flow.mdx
  src/fragments/guides/authentication/js/email-only-authentication.mdx
  src/fragments/guides/authentication/js/listening-for-auth-events.mdx
  src/fragments/guides/authentication/js/managing-user-attributes.mdx
  src/fragments/lib/graphqlapi/graphql-from-node.mdx
  src/pages/[platform]/build-a-backend/auth/email-only-sign-up/index.mdx
  src/pages/[platform]/build-a-backend/auth/manage-user-attributes/index.mdx
  src/pages/[platform]/build-a-backend/functions/appsync-operations-to-lambda-layer/index.mdx
  src/pages/[platform]/build-a-backend/functions/cognito-trigger-lambda-dynamodb/index.mdx
  src/pages/[platform]/build-a-backend/functions/connect-rest-api/index.mdx
  src/pages/[platform]/build-a-backend/functions/dynamodb-from-lambda-nodejs/index.mdx
  src/pages/[platform]/build-a-backend/functions/dynamodb-from-lambda-python/index.mdx
  src/pages/[platform]/build-a-backend/functions/graphql-from-lambda/index.mdx
  src/pages/[platform]/build-a-backend/functions/graphql-server-lambda/index.mdx
  src/pages/[platform]/build-a-backend/functions/integrate-dynamodb-with-lambda/index.mdx
  src/pages/[platform]/build-a-backend/functions/set-up-function/index.mdx
Labels: redirects-needed

#6896 Update Amplify Android version to 2.14.10
  src/constants/versions.ts
  src/fragments/lib/analytics/android/escapehatch.mdx
  src/fragments/lib/android-escape-hatch-warning.mdx
  src/fragments/lib/auth/android/escapehatch/escapehatch.mdx
  src/fragments/lib/geo/android/escapehatch.mdx
  src/fragments/lib/logging/android/escapehatch/escapehatch.mdx
  src/fragments/lib/predictions/android/escapehatch.mdx
  src/fragments/lib/storage/android/escapehatch.mdx
Labels: redirects-needed

#6907 Add vite react app quickstart
  src/directory/directory.mjs
  src/pages/gen2/start/quickstart/vite-react-app/index.mdx
Labels: amplify/gen2

#6978 Update build image instructions for Gen 2
  public/images/gen2/getting-started/console4.png
  src/fragments/gen2/quickstart/deploy-and-host.mdx
  src/pages/gen2/start/quickstart/vite-react-app/index.mdx
Labels: deleted-assets
