Repository aws-amplify/docs, pull requests merged in 2024-03, with the labels that each got.

#6946 remove explicit file extension from gen2 imports
  src/pages/gen2/build-a-backend/add-aws-services/custom-resources/index.mdx
Labels: amplify/gen2

#6906 Update index.mdx
  src/pages/[platform]/start/getting-started/data-model/index.mdx
Labels: amplify/data, amplify/gen2

#7081 remove allowlisted role names for appsync console access page
  src/directory/directory.mjs
  src/pages/gen2/build-a-backend/data/customize-authz/use-iam-authz-within-appsync-console/index.mdx
Labels: redirects-needed
